In [1]:
import pandas as pd
import numpy as np
import glob, os, chardet, pprint
from tqdm import notebook
import datetime

In [2]:
def readcsv_(Path_folder, header = 0):

    file_list = notebook.tqdm([file for file in os.listdir(Path_folder) if file.endswith(('.csv','.xlsx'))])
    df_list = []
    encodings = ['utf-8', 'cp949', 'euc-kr', 'cp1252', 'cp850']

    for idx, file in enumerate(file_list): #, total = len(file_list), leave = True)
        print(f'({idx}) {file}')
        if file.endswith(".csv"):
            for cp in encodings:
                try:
                    locals()[f'df{idx+1}'] = pd.read_csv(Path_folder+file, encoding = cp, header = header)
                    df_list.append(locals()[f'df{idx+1}'])
                    break
                except: # 에러 종류
                    pass
        elif file.endswith(".xlsx"):
                locals()[f'df{idx+1}'] = pd.read_excel(Path_folder+file, header = header)
                df_list.append(locals()[f'df{idx+1}'])

        else:
            print(f'     {"*"*8}이 파일은 읽을 수 없습니다{"*"*8}')

    print(f'\n폴더 내 csv / xlsx 파일 개수: {len(file_list)}개')
    print(f'총 데이터프레임 개수: {len(df_list)}개')

    return df_list

## 지하철 승차인원

In [29]:
subway_population = readcsv_('./data/지하철승하차인원/')

HBox(children=(FloatProgress(value=0.0, max=9.0), HTML(value='')))

(0) CARD_SUBWAY_MONTH_202002.csv
(1) CARD_SUBWAY_MONTH_202003.csv
(2) CARD_SUBWAY_MONTH_202004.csv
(3) CARD_SUBWAY_MONTH_202005.csv
(4) CARD_SUBWAY_MONTH_202006.csv
(5) CARD_SUBWAY_MONTH_202007.csv
(6) CARD_SUBWAY_MONTH_202008.csv
(7) CARD_SUBWAY_MONTH_202009.csv
(8) CARD_SUBWAY_MONTH_202010.csv


폴더 내 csv / xlsx 파일 개수: 9개
총 데이터프레임 개수: 9개

In [30]:
for i in range(9):
    print(subway_population[i].columns)

Index(['사용일자', '노선명', '역명', '승차총승객수', '하차총승객수', '등록일자'], dtype='object')
Index(['사용일자', '노선명', '역명', '승차총승객수', '하차총승객수', '등록일자'], dtype='object')
Index(['사용일자', '노선명', '역명', '승차총승객수', '하차총승객수', '등록일자'], dtype='object')
Index(['사용일자', '노선명', '역명', '승차총승객수', '하차총승객수', '등록일자'], dtype='object')
Index(['사용일자', '노선명', '역ID', '역명', '승차총승객수', '하차총승객수', '등록일자'], dtype='object')
Index(['사용일자', '노선명', '역ID', '역명', '승차총승객수', '하차총승객수', '등록일자'], dtype='object')
Index(['사용일자', '노선명', '역ID', '역명', '승차총승객수', '하차총승객수', '등록일자'], dtype='object')
Index(['사용일자', '노선명', '역ID', '역명', '승차총승객수', '하차총승객수', '등록일자'], dtype='object')
Index(['사용일자', '노선명', '역ID', '역명', '승차총승객수', '하차총승객수', '등록일자'], dtype='object')

In [31]:
subway_population[3] = subway_population[3].reset_index()
subway_population[3].columns = ['사용일자','노선명','역명','승차총승객수','하차총승객수','등록일자','드롭']
subway_population[3].drop('드롭', axis=1, inplace=True)

In [32]:
subway_population[3]

           사용일자  노선명          역명  승차총승객수  하차총승객수      등록일자
0      20200501  중앙선         운길산    1349    1358  20200504
1      20200501  중앙선          팔당    1492    1712  20200504
2      20200501  중앙선          도심    1691    1462  20200504
3      20200501  중앙선          덕소    4303    4233  20200504
4      20200501  중앙선          양정     645     599  20200504
...         ...  ...         ...     ...     ...       ...
18322  20200531  2호선         도림천     408     398  20200603
18323  20200531  2호선         신설동    2556    2589  20200603
18324  20200531  2호선          신답     616     640  20200603
18325  20200531  2호선          용답    1400    1420  20200603
18326  20200531  2호선  충정로(경기대입구)    3134    3381  20200603

[18327 rows x 6 columns]

In [33]:
df_1 = pd.concat([subway_population[0],subway_population[1],subway_population[2],subway_population[3]],axis=0)

In [34]:
df_1.drop('등록일자', axis=1, inplace=True)

In [35]:
df_2 = pd.concat([subway_population[4],subway_population[5],subway_population[6],subway_population[7],
           subway_population[8]], axis=0)

In [36]:
df_2.columns = ['사용일자','노선명','역명','승차총승객수','하차총승객수','등록일자','드랍']

In [37]:
df_2.drop(['등록일자','드랍'],axis=1, inplace=True)

In [39]:
df_2

           사용일자  노선명           역명  승차총승객수  하차총승객수
0      20200601  5호선          개화산    5145    4899
1      20200601  3호선           불광   15920   17131
2      20200601  2호선          신도림   47364   46161
3      20200601  3호선          연신내   37604   35416
4      20200601  3호선          구파발   20615   19107
...         ...  ...          ...     ...     ...
18532  20201031  2호선           신림   51858   48197
18533  20201031  5호선        영등포시장    6997    7307
18534  20201031  5호선        영등포구청    1984    1911
18535  20201031  5호선           양평    3501    3266
18536  20201031  5호선  오목교(목동운동장앞)   17238   18277

[90850 rows x 5 columns]

In [40]:
subway_people = pd.concat([df_1, df_2], axis=0)

In [41]:
subway_people.reset_index(drop=True, inplace=True)

In [42]:
subway_people.사용일자 = subway_people.사용일자.astype(str)

In [43]:
subway_people.사용일자 = subway_people.사용일자.apply(lambda x : str(x[:4])+'-'+str(x[4:6])+'-'+str(x[6:9]))

In [44]:
import datetime
subway_people.사용일자 = subway_people.사용일자.apply(lambda x : datetime.datetime.strptime(x, '%Y-%m-%d'))

In [45]:
subway_people['weekday'] = subway_people.사용일자.apply(lambda x : x.weekday())

In [46]:
subway_people['평일_주말'] = subway_people.weekday.apply(lambda x : '평일' if x <5 else '주말')

In [47]:
subway_people['승하차총승객수'] =subway_people['승차총승객수'] + subway_people['하차총승객수']

In [48]:
subway_people_mean = subway_people.groupby(['역명','노선명','평일_주말'],as_index=False)[['승하차총승객수']].mean()

In [49]:
subway_people_mean

             역명    노선명 평일_주말       승하차총승객수
0      4.19민주묘지  우이신설선    주말   3332.253165
1      4.19민주묘지  우이신설선    평일   4855.010256
2            가능    경원선    주말   7631.645570
3            가능    경원선    평일  11621.861538
4          가락시장    3호선    주말   8447.139241
...         ...    ...   ...           ...
1219      효창공원앞    6호선    평일  12269.312821
1220      효창공원앞    경의선    주말   2560.898734
1221      효창공원앞    경의선    평일   5460.271795
1222  흑석(중앙대입구)    9호선    주말   8006.405063
1223  흑석(중앙대입구)    9호선    평일  14273.476923

[1224 rows x 4 columns]

In [50]:
subway_people_mean[subway_people_mean.역명.str.contains('성신')]

             역명    노선명 평일_주말       승하차총승객수
630  성신여대입구(돈암)    4호선    주말  23717.481013
631  성신여대입구(돈암)    4호선    평일  35563.830769
632  성신여대입구(돈암)  우이신설선    주말   4146.493671
633  성신여대입구(돈암)  우이신설선    평일   5760.292308

In [52]:
subway_people_mean.to_csv('subway_people_mean.csv', index = False, encoding = 'utf-8')

In [58]:
len(set(subway_people_mean.노선명.unique()))

25

In [63]:
set(subway_people_mean.노선명.unique())

{'1호선',
 '2호선',
 '3호선',
 '4호선',
 '5호선',
 '6호선',
 '7호선',
 '8호선',
 '9호선',
 '경강선',
 '경부선',
 '경원선',
 '경의중앙선',
 '경인선',
 '경춘선',
 '공항철도',
 '과천선',
 '분당선',
 '수인선',
 '안산선',
 '우이신설선',
 '일산선',
 '장항선'}

In [66]:
subway_people_mean[subway_people_mean.노선명 == '장항선']

           역명  노선명 평일_주말      승하차총승객수
448        배방  장항선    주말  1389.658228
449        배방  장항선    평일  1575.687179
480        봉명  장항선    주말  1054.898734
481        봉명  장항선    평일  2034.282051
756  신창(순천향대)  장항선    주말  1677.607595
757  신창(순천향대)  장항선    평일  2263.138462
770  쌍용(나사렛대)  장항선    주말  2067.177215
771  쌍용(나사렛대)  장항선    평일  3189.764103
772        아산  장항선    주말  3650.873418
773        아산  장항선    평일  4198.025641
892      온양온천  장항선    주말  5691.860759
893      온양온천  장항선    평일  5971.764103

In [61]:
subway_people_mean[subway_people_mean.역명 == '언주']

     역명       노선명 평일_주말       승하차총승객수
828  언주  9호선2~3단계    주말   6863.569620
829  언주  9호선2~3단계    평일  17720.184615

In [62]:
subway_people_mean.노선명 = \
subway_people_mean.노선명.apply(lambda x :'경의중앙선' if (x == '경의선') | (x == '중앙선') else x)

subway_people_mean.노선명 = \
subway_people_mean.노선명.apply(lambda x :'공항철도' if x=='공항철도 1호선' else x)

subway_people_mean.노선명 = \
subway_people_mean.노선명.apply(lambda x :'9호선' if x == '9호선2~3단계' else x)

## 지하철

In [153]:
Subway = pd.read_csv('./New data/Subway.csv', encoding='cp949')

In [154]:
Subway.head()

   노선명   역명                지번주소         위도          경도
0  1호선  도봉산  서울특별시 도봉구 도봉동 18-1  37.680042  127.039988
1  1호선   도봉   서울특별시 도봉구 도봉동 639  37.675086  127.044867
2  1호선   방학   서울특별시 도봉구 방학동 728  37.669294  127.043858
3  1호선   창동  서울특별시 도봉구 창동 135-1  37.653485  127.047593
4  1호선   녹천  서울특별시 도봉구 창동 57-11  37.639373  127.036705

In [155]:
subway.columns = ['지번주소', '역명', '노선명', '위도','경도']

In [156]:
set(Subway.노선명.unique())

{'1호선',
 '2호선',
 '3호선',
 '4호선',
 '5호선',
 '6호선',
 '7호선',
 '8호선',
 '9호선',
 '경의중앙선',
 '경춘선',
 '공항철도',
 '분당선',
 '신분당선',
 '우이신설선'}

In [157]:
subway.노선명 = \
subway.노선명.apply(lambda x :'공항철도' if x=='공항선' else x)

###  subway_people_mean 이름 바꾸기 
- 왕십리(성동구청),
교대(법원.검찰청),
미아(서울사이버대학),
종로3가,
청량리(서울시립대입구),
상봉(시외버스터미널),
선정릉,
복정,
이촌(국립중앙박물관),
양원,
양재숲은 없고,
청계싼입구도 없음,
성신여대입구(돈암)

In [158]:
set(Subway.역명.unique()) - set(subway_people_mean.역명.unique())

{'교대(법원·검찰청)',
 '미아',
 '복정(동서울대학)',
 '상봉',
 '선정릉(한국과학창의재단)',
 '성신여대입구',
 '양원(서울시북부병원)',
 '양재시민의숲(매헌)',
 '왕십리',
 '이촌',
 '종로3가(탑골공원)',
 '청계산입구',
 '청량리'}

In [159]:
# 이 값들로 바꿔야함
list_to_change = list(set(Subway.역명.unique()) - set(subway_people_mean.역명.unique()))

In [160]:
# 애초에 없던 데이터 (신분당선 승하차 데이터)
list_to_change.remove('양재시민의숲(매헌)')
list_to_change.remove('청계산입구')

In [161]:
list_to_change = sorted(list_to_change)

In [162]:
list_to_change

['교대(법원·검찰청)',
 '미아',
 '복정(동서울대학)',
 '상봉',
 '선정릉(한국과학창의재단)',
 '성신여대입구',
 '양원(서울시북부병원)',
 '왕십리',
 '이촌',
 '종로3가(탑골공원)',
 '청량리']

In [163]:
list_get = ['왕십리(성동구청)', '교대(법원.검찰청)', '미아(서울사이버대학)', '종로3가','청량리(서울시립대입구)', '상봉(시외버스터미널)', '선정릉', '복정', '이촌(국립중앙박물관)', '양원', '성신여대입구(돈암)']

In [164]:
list_get = sorted(list_get)

In [165]:
def namematch(x):
    for i in range(len(list_to_change)):
        if x == list_to_change[i]:
            name = list_get[i]
            print(f'{list_to_change[i]} -> {list_get[i]}')
            return name
    return x

In [167]:
Subway['역명'] = Subway['역명'].apply(lambda x: namematch(x))

왕십리 -> 왕십리(성동구청)
교대(법원·검찰청) -> 교대(법원.검찰청)
교대(법원·검찰청) -> 교대(법원.검찰청)
미아 -> 미아(서울사이버대학)
종로3가(탑골공원) -> 종로3가
왕십리 -> 왕십리(성동구청)
청량리 -> 청량리(서울시립대입구)
상봉 -> 상봉(시외버스터미널)
왕십리 -> 왕십리(성동구청)
선정릉(한국과학창의재단) -> 선정릉
복정(동서울대학) -> 복정
이촌 -> 이촌(국립중앙박물관)
왕십리 -> 왕십리(성동구청)
청량리 -> 청량리(서울시립대입구)
상봉 -> 상봉(시외버스터미널)
양원(서울시북부병원) -> 양원
성신여대입구 -> 성신여대입구(돈암)

In [168]:
Subway['역명']

0             도봉산
1              도봉
2              방학
3              창동
4              녹천
          ...
364        북한산보국문
365            정릉
366    성신여대입구(돈암)
367            보문
368           신설동
Name: 역명, Length: 369, dtype: object

#### Subway 역명 확인

In [93]:
# '경복궁' in set(Subway.역명.unique()).apply(lambda x: '경복궁' in x)

In [95]:
# '경복궁' in '경복궁(23234)'

In [169]:
Subway[Subway.역명.str.contains('양재')]

      노선명          역명                  지번주소         위도          경도
99    3호선    양재(서초구청)  서울특별시 서초구 서초동 1366-9  37.484799  127.033387
353  신분당선    양재(서초구청)  서울특별시 서초구 서초동 1366-9  37.484799  127.033387
354  신분당선  양재시민의숲(매헌)   서울특별시 서초구 양재동 233-2  37.470003  127.038325

In [170]:
Subway[Subway.역명.str.contains('왕십리')]

       노선명         역명                    지번주소         위도          경도
40     2호선       상왕십리  서울특별시 성동구 하왕십리동 946-14  37.563973  127.029808
41     2호선  왕십리(성동구청)       서울특별시 성동구 행당동 192  37.562412  127.037120
166    5호선  왕십리(성동구청)       서울특별시 성동구 행당동 192  37.561978  127.037356
274    분당선  왕십리(성동구청)   서울특별시 성동구 행당동 168-151  37.560919  127.038379
336  경의중앙선  왕십리(성동구청)   서울특별시 성동구 행당동 168-151  37.561265  127.038384

In [171]:
Subway[Subway.역명.str.contains('미아')]

     노선명           역명                 지번주소         위도          경도
116  4호선  미아(서울사이버대학)  서울특별시 강북구 미아동 194-1  37.629918  127.024730
117  4호선        미아사거리   서울특별시 강북구 미아동 66-1  37.629363  127.021097

#### subway_people_mean 역명 확인

In [78]:
subway_people_mean[subway_people_mean.역명.str.contains('양재')]

           역명  노선명 평일_주말       승하차총승객수
810  양재(서초구청)  3호선    주말  29044.506329
811  양재(서초구청)  3호선    평일  74345.446154

In [80]:
subway_people_mean[subway_people_mean.역명.str.contains('왕십리')]

            역명  노선명 평일_주말       승하차총승객수
562       상왕십리  2호선    주말  13072.898734
563       상왕십리  2호선    평일  25154.128205
898  왕십리(성동구청)  2호선    주말  17972.797468
899  왕십리(성동구청)  2호선    평일  27121.964103
900  왕십리(성동구청)  5호선    주말   5282.797468
901  왕십리(성동구청)  5호선    평일   8677.620513
902  왕십리(성동구청)  경원선    주말  19173.215190
903  왕십리(성동구청)  경원선    평일  26826.169231

In [81]:
subway_people_mean[subway_people_mean.역명.str.contains('미아')]

              역명  노선명 평일_주말       승하차총승객수
430  미아(서울사이버대학)  4호선    주말  16180.924051
431  미아(서울사이버대학)  4호선    평일  28088.333333
432        미아사거리  4호선    주말  32279.278481
433        미아사거리  4호선    평일  51756.000000

## 지하철 위치 + 지하철 승하차 인원

In [175]:
train = pd.merge(Subway,subway_people_mean, on=['노선명','역명'], how ='left')

In [176]:
train.isna().sum()

노선명         0
역명          0
지번주소        0
위도          0
경도          0
평일_주말      45
승하차총승객수    45
dtype: int64

In [190]:
train[train.평일_주말.isna()]

,노선명,역명,지번주소,위도,경도,평일_주말,승하차총승객수
0,1호선,도봉산,서울특별시 도봉구 도봉동 18-1,37.680042,127.039988,NaN,NaN
1,1호선,도봉,서울특별시 도봉구 도봉동 639,37.675086,127.044867,NaN,NaN
2,1호선,방학,서울특별시 도봉구 방학동 728,37.669294,127.043858,NaN,NaN
3,1호선,창동,서울특별시 도봉구 창동 135-1,37.653485,127.047593,NaN,NaN
4,1호선,녹천,서울특별시 도봉구 창동 57-11,37.639373,127.036705,NaN,NaN
5,1호선,월계,서울특별시 노원구 월계동 263-1,37.635093,127.058881,NaN,NaN
6,1호선,광운대,서울특별시 노원구 월계동 85,37.622489,127.062816,NaN,NaN
7,1호선,석계,서울특별시 노원구 월계동 36-4,37.615869,127.065395,NaN,NaN
8,1호선,신이문,서울특별시 동대문구 이문동 7,37.603102,127.063009,NaN,NaN
9,1호선,외대앞,서울특별시 동대문구 이문동 360-5,37.599676,127.066158,NaN,NaN
10,1호선,회기,서울특별시 동대문구 휘경동 317-101,37.591100,127.060011,NaN,NaN
11,1호선,남영,서울특별시 용산구 갈월동 96-1,37.546747,126.973994,NaN,NaN
12,1호선,용산,서울특별시 용산구 한강로3가 40-999,37.524715,126.959187,NaN,NaN
13,1호선,노량진,서울특별시 동작구 노량진동 67-2,37.509533,126.945407,NaN,NaN
14,1호선,대방,서울특별시 영등포구 신길동 1368-3,37.513328,126.925774,NaN,NaN
15,1호선,신길,서울특별시 영등포구 신길동 41-1,37.509425,126.922217,NaN,NaN
16,1호선,영등포,서울특별시 영등포구 영등포동 618-496,37.515969,126.907030,NaN,NaN
17,1호선,신도림,서울특별시 구로구 신도림동 460-26,37.508745,126.891089,NaN,NaN
18,1호선,구로,서울특별시 구로구 구로동 585-3,37.502532,126.882108,NaN,NaN
19,1호선,구일,서울특별시 구로구 구로동 636-45,37.497240,126.871982,NaN,NaN
20,1호선,개봉,서울특별시 구로구 개봉동 415,37.495096,126.867002,NaN,NaN
21,1호선,오류동,서울특별시 구로구 오류동 66,37.496501,126.837397,NaN,NaN
22,1호선,가산디지털단지,서울특별시 금천구 가산동 468-4,37.482295,126.882313,NaN,NaN
23,1호선,독산,서울특별시 금천구 가산동 717,37.466533,126.889230,NaN,NaN
24,1호선,금천구청,서울특별시 금천구 시흥동 113-55,37.456954,126.894170,NaN,NaN
401,7호선,총신대입구(이수),서울특별시 동작구 사당동 144-4,37.485530,126.981882,NaN,NaN
508,경춘선,광운대,서울특별시 노원구 월계동 85,37.622489,127.062816,NaN,NaN
509,경춘선,청량리(서울시립대입구),서울특별시 동대문구 전농동 588-1,37.580009,127.048011,NaN,NaN
510,경춘선,회기,서울특별시 동대문구 휘경동 317-101,37.591100,127.060011,NaN,NaN
511,경춘선,중랑,서울특별시 중랑구 중화동 73-7,37.598332,127.075925,NaN,NaN
512,경춘선,상봉(시외버스터미널),서울특별시 중랑구 상봉동 100-46,37.596698,127.085166,NaN,NaN
513,경춘선,망우,서울특별시 중랑구 상봉동 172,37.592635,127.072000,NaN,NaN
516,분당선,왕십리(성동구청),서울특별시 성동구 행당동 168-151,37.560919,127.038379,NaN,NaN
627,경의중앙선,용산,서울특별시 용산구 한강로3가 40-999,37.529826,126.964861,NaN,NaN
628,경의중앙선,이촌(국립중앙박물관),서울특별시 용산구 이촌동 17-69,37.522228,126.973600,NaN,NaN
629,경의중앙선,서빙고,서울특별시 용산구 서빙고동 241-98,37.519953,126.990048,NaN,NaN
630,경의중앙선,한남,서울특별시 용산구 한남동 399-7,37.529192,127.008244,NaN,NaN
631,경의중앙선,옥수,서울특별시 성동구 옥수동 168-1,37.541104,127.019176,NaN,NaN
632,경의중앙선,응봉,서울특별시 성동구 응봉동 246,37.550450,127.034930,NaN,NaN
633,경의중앙선,왕십리(성동구청),서울특별시 성동구 행당동 168-151,37.561265,127.038384,NaN,NaN
634,경의중앙선,청량리(서울시립대입구),서울특별시 동대문구 전농동 588-1,37.578545,127.047596,NaN,NaN
663,신분당선,강남,서울특별시 강남구 역삼동 858,37.497056,127.028180,NaN,NaN
664,신분당선,양재(서초구청),서울특별시 서초구 서초동 1366-9,37.484799,127.033387,NaN,NaN
665,신분당선,양재시민의숲(매헌),서울특별시 서초구 양재동 233-2,37.470003,127.038325,NaN,NaN
666,신분당선,청계산입구,서울특별시 서초구 신원동 270-25,37.448510,127.054606,NaN,NaN

In [178]:
train[train.평일_주말.isna()]['역명'].unique()

array(['도봉산', '도봉', '방학', '창동', '녹천', '월계', '광운대', '석계', '신이문', '외대앞',
       '회기', '남영', '용산', '노량진', '대방', '신길', '영등포', '신도림', '구로', '구일',
       '개봉', '오류동', '가산디지털단지', '독산', '금천구청', '총신대입구(이수)', '청량리(서울시립대입구)',
       '중랑', '상봉(시외버스터미널)', '망우', '왕십리(성동구청)', '이촌(국립중앙박물관)', '서빙고', '한남',
       '옥수', '응봉', '강남', '양재(서초구청)', '양재시민의숲(매헌)', '청계산입구'], dtype=object)

In [ ]:
subway_people

In [193]:
list_not_to_del = ['양재시민의숲(매헌)', '청계산입구']

In [215]:
train_to_del = train[train.평일_주말.isna()]

In [216]:
train_to_del

,노선명,역명,지번주소,위도,경도,평일_주말,승하차총승객수
0,1호선,도봉산,서울특별시 도봉구 도봉동 18-1,37.680042,127.039988,NaN,NaN
1,1호선,도봉,서울특별시 도봉구 도봉동 639,37.675086,127.044867,NaN,NaN
2,1호선,방학,서울특별시 도봉구 방학동 728,37.669294,127.043858,NaN,NaN
3,1호선,창동,서울특별시 도봉구 창동 135-1,37.653485,127.047593,NaN,NaN
4,1호선,녹천,서울특별시 도봉구 창동 57-11,37.639373,127.036705,NaN,NaN
5,1호선,월계,서울특별시 노원구 월계동 263-1,37.635093,127.058881,NaN,NaN
6,1호선,광운대,서울특별시 노원구 월계동 85,37.622489,127.062816,NaN,NaN
7,1호선,석계,서울특별시 노원구 월계동 36-4,37.615869,127.065395,NaN,NaN
8,1호선,신이문,서울특별시 동대문구 이문동 7,37.603102,127.063009,NaN,NaN
9,1호선,외대앞,서울특별시 동대문구 이문동 360-5,37.599676,127.066158,NaN,NaN
10,1호선,회기,서울특별시 동대문구 휘경동 317-101,37.591100,127.060011,NaN,NaN
11,1호선,남영,서울특별시 용산구 갈월동 96-1,37.546747,126.973994,NaN,NaN
12,1호선,용산,서울특별시 용산구 한강로3가 40-999,37.524715,126.959187,NaN,NaN
13,1호선,노량진,서울특별시 동작구 노량진동 67-2,37.509533,126.945407,NaN,NaN
14,1호선,대방,서울특별시 영등포구 신길동 1368-3,37.513328,126.925774,NaN,NaN
15,1호선,신길,서울특별시 영등포구 신길동 41-1,37.509425,126.922217,NaN,NaN
16,1호선,영등포,서울특별시 영등포구 영등포동 618-496,37.515969,126.907030,NaN,NaN
17,1호선,신도림,서울특별시 구로구 신도림동 460-26,37.508745,126.891089,NaN,NaN
18,1호선,구로,서울특별시 구로구 구로동 585-3,37.502532,126.882108,NaN,NaN
19,1호선,구일,서울특별시 구로구 구로동 636-45,37.497240,126.871982,NaN,NaN
20,1호선,개봉,서울특별시 구로구 개봉동 415,37.495096,126.867002,NaN,NaN
21,1호선,오류동,서울특별시 구로구 오류동 66,37.496501,126.837397,NaN,NaN
22,1호선,가산디지털단지,서울특별시 금천구 가산동 468-4,37.482295,126.882313,NaN,NaN
23,1호선,독산,서울특별시 금천구 가산동 717,37.466533,126.889230,NaN,NaN
24,1호선,금천구청,서울특별시 금천구 시흥동 113-55,37.456954,126.894170,NaN,NaN
401,7호선,총신대입구(이수),서울특별시 동작구 사당동 144-4,37.485530,126.981882,NaN,NaN
508,경춘선,광운대,서울특별시 노원구 월계동 85,37.622489,127.062816,NaN,NaN
509,경춘선,청량리(서울시립대입구),서울특별시 동대문구 전농동 588-1,37.580009,127.048011,NaN,NaN
510,경춘선,회기,서울특별시 동대문구 휘경동 317-101,37.591100,127.060011,NaN,NaN
511,경춘선,중랑,서울특별시 중랑구 중화동 73-7,37.598332,127.075925,NaN,NaN
512,경춘선,상봉(시외버스터미널),서울특별시 중랑구 상봉동 100-46,37.596698,127.085166,NaN,NaN
513,경춘선,망우,서울특별시 중랑구 상봉동 172,37.592635,127.072000,NaN,NaN
516,분당선,왕십리(성동구청),서울특별시 성동구 행당동 168-151,37.560919,127.038379,NaN,NaN
627,경의중앙선,용산,서울특별시 용산구 한강로3가 40-999,37.529826,126.964861,NaN,NaN
628,경의중앙선,이촌(국립중앙박물관),서울특별시 용산구 이촌동 17-69,37.522228,126.973600,NaN,NaN
629,경의중앙선,서빙고,서울특별시 용산구 서빙고동 241-98,37.519953,126.990048,NaN,NaN
630,경의중앙선,한남,서울특별시 용산구 한남동 399-7,37.529192,127.008244,NaN,NaN
631,경의중앙선,옥수,서울특별시 성동구 옥수동 168-1,37.541104,127.019176,NaN,NaN
632,경의중앙선,응봉,서울특별시 성동구 응봉동 246,37.550450,127.034930,NaN,NaN
633,경의중앙선,왕십리(성동구청),서울특별시 성동구 행당동 168-151,37.561265,127.038384,NaN,NaN
634,경의중앙선,청량리(서울시립대입구),서울특별시 동대문구 전농동 588-1,37.578545,127.047596,NaN,NaN
663,신분당선,강남,서울특별시 강남구 역삼동 858,37.497056,127.028180,NaN,NaN
664,신분당선,양재(서초구청),서울특별시 서초구 서초동 1366-9,37.484799,127.033387,NaN,NaN
665,신분당선,양재시민의숲(매헌),서울특별시 서초구 양재동 233-2,37.470003,127.038325,NaN,NaN
666,신분당선,청계산입구,서울특별시 서초구 신원동 270-25,37.448510,127.054606,NaN,NaN

In [217]:
train_to_del_final = train_to_del.drop(train[(train['역명'] == '양재시민의숲(매헌)') | (train['역명'] == '청계산입구')].index)

In [218]:
## 지워줘야하는 row들 (양재숲과 청계산입구는 그대로 nan 으로 남길 예정)
train_to_del_final

,노선명,역명,지번주소,위도,경도,평일_주말,승하차총승객수
0,1호선,도봉산,서울특별시 도봉구 도봉동 18-1,37.680042,127.039988,NaN,NaN
1,1호선,도봉,서울특별시 도봉구 도봉동 639,37.675086,127.044867,NaN,NaN
2,1호선,방학,서울특별시 도봉구 방학동 728,37.669294,127.043858,NaN,NaN
3,1호선,창동,서울특별시 도봉구 창동 135-1,37.653485,127.047593,NaN,NaN
4,1호선,녹천,서울특별시 도봉구 창동 57-11,37.639373,127.036705,NaN,NaN
5,1호선,월계,서울특별시 노원구 월계동 263-1,37.635093,127.058881,NaN,NaN
6,1호선,광운대,서울특별시 노원구 월계동 85,37.622489,127.062816,NaN,NaN
7,1호선,석계,서울특별시 노원구 월계동 36-4,37.615869,127.065395,NaN,NaN
8,1호선,신이문,서울특별시 동대문구 이문동 7,37.603102,127.063009,NaN,NaN
9,1호선,외대앞,서울특별시 동대문구 이문동 360-5,37.599676,127.066158,NaN,NaN
10,1호선,회기,서울특별시 동대문구 휘경동 317-101,37.591100,127.060011,NaN,NaN
11,1호선,남영,서울특별시 용산구 갈월동 96-1,37.546747,126.973994,NaN,NaN
12,1호선,용산,서울특별시 용산구 한강로3가 40-999,37.524715,126.959187,NaN,NaN
13,1호선,노량진,서울특별시 동작구 노량진동 67-2,37.509533,126.945407,NaN,NaN
14,1호선,대방,서울특별시 영등포구 신길동 1368-3,37.513328,126.925774,NaN,NaN
15,1호선,신길,서울특별시 영등포구 신길동 41-1,37.509425,126.922217,NaN,NaN
16,1호선,영등포,서울특별시 영등포구 영등포동 618-496,37.515969,126.907030,NaN,NaN
17,1호선,신도림,서울특별시 구로구 신도림동 460-26,37.508745,126.891089,NaN,NaN
18,1호선,구로,서울특별시 구로구 구로동 585-3,37.502532,126.882108,NaN,NaN
19,1호선,구일,서울특별시 구로구 구로동 636-45,37.497240,126.871982,NaN,NaN
20,1호선,개봉,서울특별시 구로구 개봉동 415,37.495096,126.867002,NaN,NaN
21,1호선,오류동,서울특별시 구로구 오류동 66,37.496501,126.837397,NaN,NaN
22,1호선,가산디지털단지,서울특별시 금천구 가산동 468-4,37.482295,126.882313,NaN,NaN
23,1호선,독산,서울특별시 금천구 가산동 717,37.466533,126.889230,NaN,NaN
24,1호선,금천구청,서울특별시 금천구 시흥동 113-55,37.456954,126.894170,NaN,NaN
401,7호선,총신대입구(이수),서울특별시 동작구 사당동 144-4,37.485530,126.981882,NaN,NaN
508,경춘선,광운대,서울특별시 노원구 월계동 85,37.622489,127.062816,NaN,NaN
509,경춘선,청량리(서울시립대입구),서울특별시 동대문구 전농동 588-1,37.580009,127.048011,NaN,NaN
510,경춘선,회기,서울특별시 동대문구 휘경동 317-101,37.591100,127.060011,NaN,NaN
511,경춘선,중랑,서울특별시 중랑구 중화동 73-7,37.598332,127.075925,NaN,NaN
512,경춘선,상봉(시외버스터미널),서울특별시 중랑구 상봉동 100-46,37.596698,127.085166,NaN,NaN
513,경춘선,망우,서울특별시 중랑구 상봉동 172,37.592635,127.072000,NaN,NaN
516,분당선,왕십리(성동구청),서울특별시 성동구 행당동 168-151,37.560919,127.038379,NaN,NaN
627,경의중앙선,용산,서울특별시 용산구 한강로3가 40-999,37.529826,126.964861,NaN,NaN
628,경의중앙선,이촌(국립중앙박물관),서울특별시 용산구 이촌동 17-69,37.522228,126.973600,NaN,NaN
629,경의중앙선,서빙고,서울특별시 용산구 서빙고동 241-98,37.519953,126.990048,NaN,NaN
630,경의중앙선,한남,서울특별시 용산구 한남동 399-7,37.529192,127.008244,NaN,NaN
631,경의중앙선,옥수,서울특별시 성동구 옥수동 168-1,37.541104,127.019176,NaN,NaN
632,경의중앙선,응봉,서울특별시 성동구 응봉동 246,37.550450,127.034930,NaN,NaN
633,경의중앙선,왕십리(성동구청),서울특별시 성동구 행당동 168-151,37.561265,127.038384,NaN,NaN
634,경의중앙선,청량리(서울시립대입구),서울특별시 동대문구 전농동 588-1,37.578545,127.047596,NaN,NaN
663,신분당선,강남,서울특별시 강남구 역삼동 858,37.497056,127.028180,NaN,NaN
664,신분당선,양재(서초구청),서울특별시 서초구 서초동 1366-9,37.484799,127.033387,NaN,NaN

In [219]:
## 현재 Nan 값들은 이미 다른 호선에 있는 값들임 = 지워줘도 되는 값
train[train['역명'].str.contains('양재')]

,노선명,역명,지번주소,위도,경도,평일_주말,승하차총승객수
173,3호선,양재(서초구청),서울특별시 서초구 서초동 1366-9,37.484799,127.033387,주말,29044.506329
174,3호선,양재(서초구청),서울특별시 서초구 서초동 1366-9,37.484799,127.033387,평일,74345.446154
664,신분당선,양재(서초구청),서울특별시 서초구 서초동 1366-9,37.484799,127.033387,NaN,NaN
665,신분당선,양재시민의숲(매헌),서울특별시 서초구 양재동 233-2,37.470003,127.038325,NaN,NaN

In [222]:
train

,노선명,역명,지번주소,위도,경도,평일_주말,승하차총승객수
0,1호선,도봉산,서울특별시 도봉구 도봉동 18-1,37.680042,127.039988,NaN,NaN
1,1호선,도봉,서울특별시 도봉구 도봉동 639,37.675086,127.044867,NaN,NaN
2,1호선,방학,서울특별시 도봉구 방학동 728,37.669294,127.043858,NaN,NaN
3,1호선,창동,서울특별시 도봉구 창동 135-1,37.653485,127.047593,NaN,NaN
4,1호선,녹천,서울특별시 도봉구 창동 57-11,37.639373,127.036705,NaN,NaN
...,...,...,...,...,...,...,...
688,우이신설선,성신여대입구(돈암),서울특별시 성북구 동선동4가 1-3,37.592719,127.016518,평일,5760.292308
689,우이신설선,보문,서울특별시 성북구 보문동1가 127-7,37.585359,127.019409,주말,1782.367089
690,우이신설선,보문,서울특별시 성북구 보문동1가 127-7,37.585359,127.019409,평일,2691.174359
691,우이신설선,신설동,서울특별시 동대문구 신설동 102-30,37.575325,127.024852,주말,2095.924051
692,우이신설선,신설동,서울특별시 동대문구 신설동 102-30,37.575325,127.024852,평일,3947.800000

In [231]:
# Subway_people = train.drop(train_to_del_final.index)

In [229]:
Subway_people = train[train.index.isin(train_to_del_final.index.tolist())==False]

In [230]:
Subway_people[Subway_people['역명'].str.contains('청계산')]

      노선명     역명                  지번주소        위도          경도 평일_주말  승하차총승객수
666  신분당선  청계산입구  서울특별시 서초구 신원동 270-25  37.44851  127.054606   NaN      NaN

In [232]:
Subway_people.to_csv('Subway_people.csv', index = False, encoding = 'utf-8')