In [1]:
import pandas as pd
import numpy as np
import glob, os, chardet, pprint
from tqdm import notebook
import datetime

In [58]:
# display 설정
pd.set_option('display.max_rows', 200)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 10000)
pd.options.display.float_format = '{:.3f}'.format

In [2]:
pwd

'C:\\Users\\justi\\OneDrive\\Git\\Team 6\\Ddareung'

In [3]:
def readcsv_(Path_folder, header = 0):

    file_list = notebook.tqdm([file for file in os.listdir(Path_folder) if file.endswith(('.csv','.xlsx'))])
    df_list = []
    encodings = ['utf-8', 'cp949', 'euc-kr', 'cp1252', 'cp850']

    for idx, file in enumerate(file_list): #, total = len(file_list), leave = True)
        print(f'({idx}) {file}')
        if file.endswith(".csv"):
            for cp in encodings:
                try:
                    locals()[f'df{idx+1}'] = pd.read_csv(Path_folder+file, encoding = cp, header = header)
                    df_list.append(locals()[f'df{idx+1}'])
                    break
                except: # 에러 종류
                    pass
        elif file.endswith(".xlsx"):
                locals()[f'df{idx+1}'] = pd.read_excel(Path_folder+file, header = header)
                df_list.append(locals()[f'df{idx+1}'])

        else:
            print(f'     {"*"*8}이 파일은 읽을 수 없습니다{"*"*8}')

    print(f'\n폴더 내 csv / xlsx 파일 개수: {len(file_list)}개')
    print(f'총 데이터프레임 개수: {len(df_list)}개')

    return df_list

In [4]:
# dt_index = pandas.date_range(start='20160901', end='20161031')
# # pandas.date_range(start='20160901', end='20161031',freq='W-MON')
# # 을 하면 해당 기간 매주 월요일들만 추출합니다.

# # type(dt_index) => DatetimeIndex
# # DatetimeIndex => list(str)
# dt_list = dt_index.strftime("%Y%m%d").tolist()

# for i in dt_list:
#     print(i)

In [5]:
# New = readcsv_(os.getcwd() + '/New data/')

## 거치소 정보

In [6]:
Bike_lock = pd.read_csv(os.getcwd() + '/New data/bike_location_final.csv')

In [7]:
Bike_lock

,대여소이름,위도,경도,주소,자치구
0,1001. 광진교 남단 사거리(디지털프라자앞),37.541794,127.124748,서울특별시 강동구 천호동 355,강동구
1,1002. 해공공원(천호동),37.545261,127.125946,서울특별시 강동구 천호동 360,강동구
2,1003. 해공도서관앞,37.543957,127.125488,서울특별시 강동구 천호동 360,강동구
3,1004. 삼성광나루아파트 버스정류장,37.553329,127.128868,서울특별시 강동구 암사동 463-2,강동구
4,1006. 롯데캐슬 115동앞,37.554867,127.142799,서울특별시 강동구 암사동 414-2,강동구
...,...,...,...,...,...
2038,992.북한산입구 정류장,37.658428,126.946060,서울특별시 은평구 진관동 289,은평구
2039,993.은평뉴타운 온뜨락아파트앞,37.630287,126.919563,서울특별시 은평구 진관동 234-34,은평구
2040,994.북한산생태공원입구(교통섬),37.610508,126.938538,서울특별시 은평구 불광동 2-1,은평구
2041,995.은평다목적체육관,37.631409,126.925407,서울특별시 은평구 진관동 125,은평구
2042,996.응암역 1번출구,37.598606,126.915405,서울특별시 은평구 신사동 23-3,은평구

In [8]:
Bike_lock['대여소명'] = Bike_lock['대여소이름'].apply(lambda x: x.split('.')[1:][0])
Bike_lock['대여소번호'] = Bike_lock['대여소이름'].apply(lambda x: x.split('.')[0])

In [9]:
Bike_lock

,대여소이름,위도,경도,주소,자치구,대여소명,대여소번호
0,1001. 광진교 남단 사거리(디지털프라자앞),37.541794,127.124748,서울특별시 강동구 천호동 355,강동구,광진교 남단 사거리(디지털프라자앞),1001
1,1002. 해공공원(천호동),37.545261,127.125946,서울특별시 강동구 천호동 360,강동구,해공공원(천호동),1002
2,1003. 해공도서관앞,37.543957,127.125488,서울특별시 강동구 천호동 360,강동구,해공도서관앞,1003
3,1004. 삼성광나루아파트 버스정류장,37.553329,127.128868,서울특별시 강동구 암사동 463-2,강동구,삼성광나루아파트 버스정류장,1004
4,1006. 롯데캐슬 115동앞,37.554867,127.142799,서울특별시 강동구 암사동 414-2,강동구,롯데캐슬 115동앞,1006
...,...,...,...,...,...,...,...
2038,992.북한산입구 정류장,37.658428,126.946060,서울특별시 은평구 진관동 289,은평구,북한산입구 정류장,992
2039,993.은평뉴타운 온뜨락아파트앞,37.630287,126.919563,서울특별시 은평구 진관동 234-34,은평구,은평뉴타운 온뜨락아파트앞,993
2040,994.북한산생태공원입구(교통섬),37.610508,126.938538,서울특별시 은평구 불광동 2-1,은평구,북한산생태공원입구(교통섬),994
2041,995.은평다목적체육관,37.631409,126.925407,서울특별시 은평구 진관동 125,은평구,은평다목적체육관,995
2042,996.응암역 1번출구,37.598606,126.915405,서울특별시 은평구 신사동 23-3,은평구,응암역 1번출구,996

In [14]:
Bike_location = pd.read_csv(os.getcwd() + '\\New data\\bike_location_final.csv', encoding = 'utf-8') # 최신 거치대 위치 정보

In [15]:
Bike_location['대여소명'] = Bike_location['대여소이름'].apply(lambda x: x.split('.')[1:][0])
Bike_location['대여소번호'] = Bike_location['대여소이름'].apply(lambda x: x.split('.')[0])

In [16]:
Bike_lock[Bike_lock['대여소번호'] == '1004']

,대여소이름,위도,경도,주소,자치구,대여소명,대여소번호
3,1004. 삼성광나루아파트 버스정류장,37.553329,127.128868,서울특별시 강동구 암사동 463-2,강동구,삼성광나루아파트 버스정류장,1004

In [13]:
len((set(Bike_location['대여소번호'].unique().tolist()))- set(list(Bike_lock['대여소번호'].unique().tolist())))

0

In [17]:
len( set(list(Bike_lock['대여소번호'].unique().tolist())) - (set(Bike_location['대여소번호'].unique().tolist())))

0

In [21]:
len( set(list(Bike_lock['대여소번호'].unique().tolist())))

2043

In [ ]:
# ## 자전거 대여이력(**사용량 정보 없음)

# History = New[6]

# History

# History['연'] = History['대여일시'].apply(lambda x: str(x)[0:4])
# History['월'] = History['대여일시'].apply(lambda x: str(x)[5:7])
# History['일'] = History['대여일시'].apply(lambda x: str(x)[8:11])

# History['대여날짜'] = History['대여날짜'].apply(lambda x: datetime.datetime.strptime(x, '%Y-%m-%d'))
# History['대여시각'] = History['대여시각'].apply(lambda x: datetime.datetime.strptime(x, '%H:%M'))
# # History['대여일시'] = History['대여일시'].apply(lambda x: datetime.datetime.strptime(x, '%Y-%m-%d %H:%M'))

# History['요일'] = History['대여날짜'].apply(lambda x: x.weekday())

# History['시간대'] = History['대여시각'].apply(lambda x: x.hour)

# # a = '20:20:00'
# # b= datetime.datetime.strptime(a, "%H:%M:%S")
# # b.hour()

# History

# History.info()

# History_group = History.groupby(['대여 대여소명','요일','시간대']).count()

## 2020 시간별 자전거 이용정보

In [18]:
pwd

'C:\\Users\\justi\\OneDrive\\Git\\Team 6\\Ddareung'

In [84]:
Hour_bike_usage = pd.read_csv(os.getcwd() + '/New data/Hour_bike_usage_2020.csv', encoding = 'cp949')

In [85]:
Hour_bike_usage.head(4)

         대여일자  대여시간  대여소번호                 대여소명 대여구분코드 연령대코드  이용건수    운동량   탄소량     이동거리  사용시간 대여일자datetime  요일    연도  월
0  2020-02-01     0   1442  1442. (구)신한은행 중랑교지점    정기권  ~10대     1  53.86  0.32 1360.000     6   2020-02-01   5  2020  2
1  2020-02-01     0   1339   1339. 삼성전자서비스 성북센터    정기권  ~10대     1  10.04  0.09  390.000     3   2020-02-01   5  2020  2
2  2020-02-01     0   1960        1960. 화광신문사 앞    정기권  ~10대     1  75.14  0.64 2750.000    24   2020-02-01   5  2020  2
3  2020-02-01     0    394      394. 경희궁 자이 3단지    정기권  ~10대     1  28.42  0.18  780.000     3   2020-02-01   5  2020  2

In [86]:
Hour_bike_usage.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6054830 entries, 0 to 6054829
Data columns (total 15 columns):
 #   Column        Dtype
---  ------        -----
 0   대여일자          object
 1   대여시간          int64
 2   대여소번호         int64
 3   대여소명          object
 4   대여구분코드        object
 5   연령대코드         object
 6   이용건수          int64
 7   운동량           object
 8   탄소량           object
 9   이동거리          float64
 10  사용시간          int64
 11  대여일자datetime  object
 12  요일            int64
 13  연도            int64
 14  월             int64
dtypes: float64(1), int64(7), object(7)
memory usage: 692.9+ MB

In [87]:
# Hour_bike_usage[Hour_bike_usage['대여소번호'] == 99998]

In [88]:
# Hour_bike_usage['대여소명'] = Hour_bike_usage['대여소명'].apply(lambda x: x.split('.')[-1])
# Hour_bike_usage['대여일자datetime'] = Hour_bike_usage['대여일자'].apply(lambda x: datetime.datetime.strptime(x, '%Y-%m-%d'))
# Hour_bike_usage['요일'] = Hour_bike_usage['대여일자datetime'].apply(lambda x: x.weekday())
# Hour_bike_usage['연도'] = Hour_bike_usage['대여일자'].apply(lambda x: str(x)[:4])
Hour_bike_usage['대여소 번호'] = Hour_bike_usage['대여소명'].apply(lambda x: x.split(".")[0])

In [89]:
Hour_bike_usage = Hour_bike_usage.astype({'대여시간':'str', '대여소번호' : 'str', '요일': 'str', '연도': 'str', '월':'str'})

In [90]:
Hour_bike_usage_group = Hour_bike_usage.groupby(['대여소명','대여소번호','요일','대여시간'],as_index = False).mean()

In [91]:
Hour_bike_usage_group

                             대여소명 대여소번호 요일 대여시간  이용건수      이동거리   사용시간
0       1001. 광진교 남단 사거리(디지털프라자앞)  1001  0    0 1.077  2112.692 29.154
1       1001. 광진교 남단 사거리(디지털프라자앞)  1001  0    1 1.172  5021.379 24.897
2       1001. 광진교 남단 사거리(디지털프라자앞)  1001  0   10 1.074  1916.667 35.630
3       1001. 광진교 남단 사거리(디지털프라자앞)  1001  0   11 1.200  2626.667 42.633
4       1001. 광진교 남단 사거리(디지털프라자앞)  1001  0   12 1.196  3727.391 25.391
...                           ...   ... ..  ...   ...       ...    ...
288904                       중랑센터     3  3   18 1.000 32640.000 22.000
288905                       중랑센터     3  4   16 1.000 28490.000 18.333
288906                       중랑센터     3  4   17 1.000  1210.000 11.000
288907                       중랑센터     3  4   18 1.000   625.000 15.500
288908                       천호센터  9988  1   14 1.000     0.000 32.000

[288909 rows x 7 columns]

In [92]:
len(set(Hour_bike_usage_group['대여소번호'].unique()))

2076

In [93]:
## 나중에 try/except, .format, int(h), range(24)로 간결하게 만들기.
### 00시, 01시 처럼 2자리로 만들어야함
def to_strhour_day(h):
        h = int(h)
        for i in range(24):
            if h == i:
                return f'평일 {h:02d}시'#.format(h)
            
def to_strhour_end(h):
        h = int(h)
        for i in range(24):
            if h == i:
                return f'주말 {h:02d}시'#.format(h)

In [94]:
def to_strday(d):
    try:
        d = int(d)
        for idx, D in enumerate(['월','화','수','목','금','토','일']):
            if d == idx:
                return D
    except:
        pass

### 요일 value 수정

In [95]:
Hour_bike_usage_group['요일'] = Hour_bike_usage_group['요일'].map(lambda x: to_strday(x))

In [96]:
Hour_bike_usage_group.head(5)

                        대여소명 대여소번호 요일 대여시간  이용건수     이동거리   사용시간
0  1001. 광진교 남단 사거리(디지털프라자앞)  1001  월    0 1.077 2112.692 29.154
1  1001. 광진교 남단 사거리(디지털프라자앞)  1001  월    1 1.172 5021.379 24.897
2  1001. 광진교 남단 사거리(디지털프라자앞)  1001  월   10 1.074 1916.667 35.630
3  1001. 광진교 남단 사거리(디지털프라자앞)  1001  월   11 1.200 2626.667 42.633
4  1001. 광진교 남단 사거리(디지털프라자앞)  1001  월   12 1.196 3727.391 25.391

In [97]:
Hour_bike_usage_group.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 288909 entries, 0 to 288908
Data columns (total 7 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   대여소명    288909 non-null  object
 1   대여소번호   288909 non-null  object
 2   요일      288909 non-null  object
 3   대여시간    288909 non-null  object
 4   이용건수    288909 non-null  float64
 5   이동거리    288909 non-null  float64
 6   사용시간    288909 non-null  float64
dtypes: float64(3), object(4)
memory usage: 17.6+ MB

### 평일 이용량
- 거치소별 1년간 평일 평균 24시간 동안 각시간별 사용량

In [98]:
Hour_bike_usage_weekday = Hour_bike_usage_group[(Hour_bike_usage_group['요일'] == '월') |
                     (Hour_bike_usage_group['요일'] == '화') |
                     (Hour_bike_usage_group['요일'] == '수') | 
                     (Hour_bike_usage_group['요일'] == '목') | 
                     (Hour_bike_usage_group['요일'] == '금')]

Hour_bike_usage_weekday = Hour_bike_usage_weekday.astype({'대여소번호' : 'int32'})

Hour_bike_usage_weekday = Hour_bike_usage_weekday.astype({'대여소번호' : 'str'})

In [99]:
Hour_bike_usage_weekday['대여시간'] = Hour_bike_usage_weekday['대여시간'].map(lambda x: to_strhour_day(x))

<ipython-input-99-fdd3d13f76b1>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Hour_bike_usage_weekday['대여시간'] = Hour_bike_usage_weekday['대여시간'].map(lambda x: to_strhour_day(x))

In [100]:
Hour_bike_usage_weekday

                             대여소명 대여소번호 요일    대여시간  이용건수      이동거리   사용시간
0       1001. 광진교 남단 사거리(디지털프라자앞)  1001  월  평일 00시 1.077  2112.692 29.154
1       1001. 광진교 남단 사거리(디지털프라자앞)  1001  월  평일 01시 1.172  5021.379 24.897
2       1001. 광진교 남단 사거리(디지털프라자앞)  1001  월  평일 10시 1.074  1916.667 35.630
3       1001. 광진교 남단 사거리(디지털프라자앞)  1001  월  평일 11시 1.200  2626.667 42.633
4       1001. 광진교 남단 사거리(디지털프라자앞)  1001  월  평일 12시 1.196  3727.391 25.391
...                           ...   ... ..     ...   ...       ...    ...
288904                       중랑센터     3  목  평일 18시 1.000 32640.000 22.000
288905                       중랑센터     3  금  평일 16시 1.000 28490.000 18.333
288906                       중랑센터     3  금  평일 17시 1.000  1210.000 11.000
288907                       중랑센터     3  금  평일 18시 1.000   625.000 15.500
288908                       천호센터  9988  화  평일 14시 1.000     0.000 32.000

[203961 rows x 7 columns]

In [101]:
Hour_bike_usage_weekday[Hour_bike_usage_weekday.대여소번호.isna()]

Empty DataFrame
Columns: [대여소명, 대여소번호, 요일, 대여시간, 이용건수, 이동거리, 사용시간]
Index: []

In [102]:
Hour_bike_usage_weekday.isna().sum()

대여소명     0
대여소번호    0
요일       0
대여시간     0
이용건수     0
이동거리     0
사용시간     0
dtype: int64

In [103]:
len(set(Hour_bike_usage_weekday['대여소번호'].unique()))

2074

In [104]:
# set(Hour_bike_usage_weekday.sort_values('대여소명')['대여소명'])

### 주말 이용량

- 주말평균 24시간동안 각 시간별사용량

In [105]:
Hour_bike_usage_weekend = Hour_bike_usage_group[(Hour_bike_usage_group['요일'] == '토') |
                     (Hour_bike_usage_group['요일'] == '일')]

In [106]:
Hour_bike_usage_weekend['대여소명']

120       1001. 광진교 남단 사거리(디지털프라자앞)
121       1001. 광진교 남단 사거리(디지털프라자앞)
122       1001. 광진교 남단 사거리(디지털프라자앞)
123       1001. 광진교 남단 사거리(디지털프라자앞)
124       1001. 광진교 남단 사거리(디지털프라자앞)
                    ...
288886                          위트콤
288887                          위트콤
288888                          위트콤
288889                          위트콤
288890                          위트콤
Name: 대여소명, Length: 84948, dtype: object

In [107]:
Hour_bike_usage_weekend['대여시간'] = Hour_bike_usage_weekend['대여시간'].map(lambda x: to_strhour_end(x))

<ipython-input-107-039a2e6b0ad0>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Hour_bike_usage_weekend['대여시간'] = Hour_bike_usage_weekend['대여시간'].map(lambda x: to_strhour_end(x))

In [108]:
Hour_bike_usage_weekend

                             대여소명 대여소번호 요일    대여시간  이용건수     이동거리   사용시간
120     1001. 광진교 남단 사거리(디지털프라자앞)  1001  토  주말 00시 1.206 5835.000 25.235
121     1001. 광진교 남단 사거리(디지털프라자앞)  1001  토  주말 01시 1.214 2941.667 17.738
122     1001. 광진교 남단 사거리(디지털프라자앞)  1001  토  주말 10시 1.083 3376.667 45.250
123     1001. 광진교 남단 사거리(디지털프라자앞)  1001  토  주말 11시 1.250 9106.111 42.306
124     1001. 광진교 남단 사거리(디지털프라자앞)  1001  토  주말 12시 1.300 4972.000 43.225
...                           ...   ... ..     ...   ...      ...    ...
288886                        위트콤    10  일  주말 15시 1.000    0.000 57.333
288887                        위트콤    10  일  주말 16시 1.000    0.000  2.000
288888                        위트콤    10  일  주말 17시 1.000    0.000  8.000
288889                        위트콤    10  일  주말 18시 1.000    0.000  3.000
288890                        위트콤    10  일  주말 21시 1.000    0.000 14.500

[84948 rows x 7 columns]

In [109]:
len(set(Hour_bike_usage_weekend['대여소번호'].unique()))

2042

#### 주말 이용 대여소 - 평일 이용 대여소

In [110]:
len(set(Hour_bike_usage_weekend['대여소번호'].unique()) - set(Hour_bike_usage_weekday['대여소번호'].unique()))

2

In [111]:
set(Hour_bike_usage_weekend['대여소번호'].unique()) - set(Hour_bike_usage_weekday['대여소번호'].unique())

{'2525', '3425'}

In [112]:
Hour_bike_usage_weekend[Hour_bike_usage_weekend['대여소번호'] == '2525']

                    대여소명 대여소번호 요일    대여시간  이용건수  이동거리    사용시간
171617  2525.반포쇼핑타운 2동 앞  2525  토  주말 16시 1.000 0.000  45.000
171618  2525.반포쇼핑타운 2동 앞  2525  토  주말 17시 1.000 0.000   9.000
171619  2525.반포쇼핑타운 2동 앞  2525  토  주말 18시 1.000 0.000 120.000
171620  2525.반포쇼핑타운 2동 앞  2525  토  주말 21시 1.000 0.000  30.000
171621  2525.반포쇼핑타운 2동 앞  2525  일  주말 03시 1.000 0.000  18.000

In [113]:
Hour_bike_usage_weekday[Hour_bike_usage_weekday['대여소번호'] == '2525']

Empty DataFrame
Columns: [대여소명, 대여소번호, 요일, 대여시간, 이용건수, 이동거리, 사용시간]
Index: []

#### 평일 이용 대여소 - 주말 이용 대여소

In [114]:
len(set(Hour_bike_usage_weekday['대여소번호'].unique()) - set(Hour_bike_usage_weekend['대여소번호'].unique()))

34

In [115]:
set(Hour_bike_usage_weekday['대여소번호'].unique()) - set(Hour_bike_usage_weekend['대여소번호'].unique())

{'1070',
 '1474',
 '1476',
 '1687',
 '1746',
 '1769',
 '2073',
 '2083',
 '2394',
 '2427',
 '2546',
 '2548',
 '2549',
 '2657',
 '2705',
 '2708',
 '2719',
 '2726',
 '3',
 '3108',
 '3124',
 '3421',
 '3562',
 '3576',
 '496',
 '5',
 '861',
 '9988',
 '9989',
 '9990',
 '9997',
 '9998',
 '99998',
 '99999'}

In [116]:
Hour_bike_usage_weekday[Hour_bike_usage_weekday['대여소번호'] == '9998']

                    대여소명 대여소번호 요일    대여시간  이용건수      이동거리   사용시간
288740  9998. 영남주차장 정비센터  9998  월  평일 18시 1.000 32250.000 69.000
288741  9998. 영남주차장 정비센터  9998  금  평일 14시 1.000     0.000 10.000

In [117]:
Hour_bike_usage_weekend[Hour_bike_usage_weekend['대여소번호'] == '9998']

Empty DataFrame
Columns: [대여소명, 대여소번호, 요일, 대여시간, 이용건수, 이동거리, 사용시간]
Index: []

#### 주말 & 평일 교집합

In [133]:
len(set(Hour_bike_usage_weekday['대여소번호'].unique()) & set(Hour_bike_usage_weekend['대여소번호'].unique()))

2040

### 최신 거치대 위치 정보와 병합

In [118]:
Bike_location = pd.read_csv(os.getcwd() + '\\New data\\bike_location_final.csv', encoding = 'utf-8') # 최신 거치대 위치 정보

In [119]:
Bike_location['대여소명'] = Bike_location['대여소이름'].apply(lambda x: x.split('.')[1:][0])
Bike_location['대여소번호'] = Bike_location['대여소이름'].apply(lambda x: x.split('.')[0])

In [120]:
Bike_location

                          대여소이름     위도      경도                    주소  자치구                  대여소명 대여소번호
0     1001. 광진교 남단 사거리(디지털프라자앞) 37.542 127.125     서울특별시 강동구 천호동 355  강동구   광진교 남단 사거리(디지털프라자앞)  1001
1               1002. 해공공원(천호동) 37.545 127.126     서울특별시 강동구 천호동 360  강동구             해공공원(천호동)  1002
2                  1003. 해공도서관앞 37.544 127.125     서울특별시 강동구 천호동 360  강동구                해공도서관앞  1003
3          1004. 삼성광나루아파트 버스정류장 37.553 127.129   서울특별시 강동구 암사동 463-2  강동구        삼성광나루아파트 버스정류장  1004
4              1006. 롯데캐슬 115동앞 37.555 127.143   서울특별시 강동구 암사동 414-2  강동구            롯데캐슬 115동앞  1006
...                         ...    ...     ...                   ...  ...                   ...   ...
2038              992.북한산입구 정류장 37.658 126.946     서울특별시 은평구 진관동 289  은평구             북한산입구 정류장   992
2039          993.은평뉴타운 온뜨락아파트앞 37.630 126.920  서울특별시 은평구 진관동 234-34  은평구         은평뉴타운 온뜨락아파트앞   993
2040         994.북한산생태공원입구(교통섬) 37.611 126.939     서울특별시 은평구 불광동 2-1  은평구        북한산생태공원입구(교통섬)   994
2041               995.은평다목적체육관 37.631 126.925     서울특별시 은평구 진관동 125  은평구              은평다목적체육관   995
2042               996.응암역 1번출구 37.599 126.915    서울특별시 은평구 신사동 23-3  은평구              응암역 1번출구   996

[2043 rows x 7 columns]

In [121]:
Bike_location.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2043 entries, 0 to 2042
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   대여소이름   2043 non-null   object
 1   위도      2043 non-null   float64
 2   경도      2043 non-null   float64
 3   주소      2043 non-null   object
 4   자치구     2043 non-null   object
 5   대여소명    2043 non-null   object
 6   대여소번호   2043 non-null   object
dtypes: float64(2), object(5)
memory usage: 111.9+ KB

In [122]:
len((set(Bike_location['대여소번호'].unique().tolist())))

2043

In [131]:
len(set(Bike_location.대여소번호))

2043

In [126]:
Hour_bike_usage_weekday

                             대여소명 대여소번호 요일    대여시간  이용건수      이동거리   사용시간
0       1001. 광진교 남단 사거리(디지털프라자앞)  1001  월  평일 00시 1.077  2112.692 29.154
1       1001. 광진교 남단 사거리(디지털프라자앞)  1001  월  평일 01시 1.172  5021.379 24.897
2       1001. 광진교 남단 사거리(디지털프라자앞)  1001  월  평일 10시 1.074  1916.667 35.630
3       1001. 광진교 남단 사거리(디지털프라자앞)  1001  월  평일 11시 1.200  2626.667 42.633
4       1001. 광진교 남단 사거리(디지털프라자앞)  1001  월  평일 12시 1.196  3727.391 25.391
...                           ...   ... ..     ...   ...       ...    ...
288904                       중랑센터     3  목  평일 18시 1.000 32640.000 22.000
288905                       중랑센터     3  금  평일 16시 1.000 28490.000 18.333
288906                       중랑센터     3  금  평일 17시 1.000  1210.000 11.000
288907                       중랑센터     3  금  평일 18시 1.000   625.000 15.500
288908                       천호센터  9988  화  평일 14시 1.000     0.000 32.000

[203961 rows x 7 columns]

In [127]:
Hour_bike_usage_weekday.tail(100)

            대여소명 대여소번호 요일    대여시간  이용건수      이동거리   사용시간
288796  상암센터 정비실     5  수  평일 16시 1.000  2360.000 46.000
288797  상암센터 정비실     5  수  평일 18시 1.000    20.000 20.000
288798  상암센터 정비실     5  목  평일 11시 1.000    30.000  3.000
288799  상암센터 정비실     5  목  평일 13시 1.000     0.000  2.500
288800  상암센터 정비실     5  목  평일 14시 1.000     0.000  2.000
288801  상암센터 정비실     5  목  평일 15시 1.000  3175.000 30.000
288802  상암센터 정비실     5  목  평일 16시 1.000     5.000 19.000
288803  상암센터 정비실     5  금  평일 10시 1.000    33.333 12.667
288804  상암센터 정비실     5  금  평일 11시 1.000   990.000 17.000
288805  상암센터 정비실     5  금  평일 13시 1.000     0.000  6.000
288806  상암센터 정비실     5  금  평일 15시 1.000    30.000 13.000
288807  상암센터 정비실     5  금  평일 16시 1.000  2215.000 23.500
288808  상암센터 정비실     5  금  평일 17시 1.000  5200.000 39.000
288809  상암센터 정비실     5  금  평일 18시 1.000     0.000 27.000
288810       위트콤    10  월  평일 11시 1.000     0.000  5.000
288811       위트콤    10  월  평일 12시 1.400     0.000 18.400
288812       위트콤    10  월  평일 13시 1.500     0.000  6.500
288813       위트콤    10  월  평일 14시 1.000     0.000 27.400
288814       위트콤    10  월  평일 15시 1.000     0.000  3.000
288815       위트콤    10  월  평일 16시 1.167     0.000 17.500
288816       위트콤    10  월  평일 17시 1.500   800.000  8.500
288817       위트콤    10  월  평일 18시 1.200   690.000 20.400
288818       위트콤    10  월  평일 19시 1.000     0.000 21.500
288819       위트콤    10  월  평일 23시 1.000     0.000 15.000
288820       위트콤    10  월  평일 08시 1.000     0.000 17.000
288821       위트콤    10  월  평일 09시 1.000     0.000 34.500
288822       위트콤    10  화  평일 10시 1.667     0.000 13.333
288823       위트콤    10  화  평일 11시 2.000     0.000 13.500
288824       위트콤    10  화  평일 12시 1.000     0.000 11.500
288825       위트콤    10  화  평일 13시 1.333     0.000  8.333
288826       위트콤    10  화  평일 14시 1.750     0.000 60.500
288827       위트콤    10  화  평일 15시 1.250     0.000 14.250
288828       위트콤    10  화  평일 16시 1.000     0.000 55.000
288829       위트콤    10  화  평일 17시 1.429     0.000 69.143
288830       위트콤    10  화  평일 18시 1.000     0.000  8.200
288831       위트콤    10  화  평일 19시 1.000     0.000 21.333
288832       위트콤    10  화  평일 20시 1.500     0.000  9.500
288833       위트콤    10  화  평일 22시 1.000     0.000 10.500
288834       위트콤    10  화  평일 07시 1.000     0.000 18.000
288835       위트콤    10  화  평일 09시 2.000     0.000 16.000
288836       위트콤    10  수  평일 00시 1.000     0.000 12.000
288837       위트콤    10  수  평일 10시 1.000     0.000  5.600
288838       위트콤    10  수  평일 11시 1.000     0.000  5.500
288839       위트콤    10  수  평일 12시 1.000     0.000 88.500
288840       위트콤    10  수  평일 13시 1.000     0.000 32.500
288841       위트콤    10  수  평일 14시 1.167   840.000 20.333
288842       위트콤    10  수  평일 15시 1.222     0.000 26.778
288843       위트콤    10  수  평일 16시 1.000     0.000  5.750
288844       위트콤    10  수  평일 17시 1.000     0.000  3.000
288845       위트콤    10  수  평일 18시 1.000     0.000 30.000
288846       위트콤    10  수  평일 20시 1.000     0.000 24.000
288847       위트콤    10  수  평일 21시 1.000  6470.000 32.000
288848       위트콤    10  수  평일 06시 1.000  2780.000 18.000
288849       위트콤    10  수  평일 08시 1.000     0.000 32.000
288850       위트콤    10  수  평일 09시 1.000     0.000  4.250
288851       위트콤    10  목  평일 10시 1.333     0.000  9.000
288852       위트콤    10  목  평일 11시 1.000     0.000  2.000
288853       위트콤    10  목  평일 13시 1.000     0.000  4.000
288854       위트콤    10  목  평일 14시 1.000     0.000  2.500
288855       위트콤    10  목  평일 15시 1.500     0.000 17.500
288856       위트콤    10  목  평일 16시 1.250     0.000 15.250
288857       위트콤    10  목  평일 17시 1.000     0.000 27.750
288858       위트콤    10  목  평일 18시 1.000     0.000 33.286
288859       위트콤    10  목  평일 19시 1.000     0.000 12.000
288860       위트콤    10  목  평일 21시 1.500     0.000 19.500
288861       위트콤    10  목  평일 22시 3.000     0.000 68.500
288862       위트콤    10  목  평일 23시 4.000     0.000 64.500
288863       위트콤    10  목  평일 03시 1.000     0.000 16.000
288864       위트콤    10  목  평일 08시 1.500     0.000 25.000
288865       위트콤    10  목  평일 09시 1.000     0.000  4.500
288866       위트콤    10  금  평일 00시 1.000     0.000 10.000
288867       위트콤    10  금  평일 11시 1.500     0.000  7.500
288868       위트콤    10  금  평일 13시 1.000     0.000 21.000
288869       위트콤    10  금  평일 14시 1.667     0.000 35.000
288870       위트콤    10  금  평일 16시 1.500     0.000 29.000
288871       위트콤    10  금  평일 17시 1.000     0.000 20.000
288872       위트콤    10  금  평일 18시 1.000     0.000 28.000
288873       위트콤    10  금  평일 19시 1.500     0.000 36.250
288874       위트콤    10  금  평일 22시 1.000     0.000  5.000
288875       위트콤    10  금  평일 07시 1.000     0.000  8.000
288876       위트콤    10  금  평일 08시 1.000     0.000 12.000
288877       위트콤    10  금  평일 09시 1.000     0.000 10.000
288891      종묘센터  9989  화  평일 19시 1.000     0.000  0.000
288892      종묘센터  9989  수  평일 14시 2.000     0.000  2.000
288893      종묘센터  9989  금  평일 09시 1.000     0.000 19.000
288894      중랑센터     3  월  평일 13시 1.000     0.000 13.000
288895      중랑센터     3  월  평일 17시 1.000  1215.000 20.500
288896      중랑센터     3  월  평일 18시 1.000 14927.500 18.500
288897      중랑센터     3  화  평일 17시 1.000  1195.000 26.000
288898      중랑센터     3  화  평일 18시 1.000   403.333 18.667
288899      중랑센터     3  수  평일 17시 1.000  1205.000 20.000
288900      중랑센터     3  수  평일 18시 1.000  1170.000 16.667
288901      중랑센터     3  목  평일 10시 1.000    40.000 18.000
288902      중랑센터     3  목  평일 15시 1.000  1210.000  9.000
288903      중랑센터     3  목  평일 17시 1.000     0.000  2.000
288904      중랑센터     3  목  평일 18시 1.000 32640.000 22.000
288905      중랑센터     3  금  평일 16시 1.000 28490.000 18.333
288906      중랑센터     3  금  평일 17시 1.000  1210.000 11.000
288907      중랑센터     3  금  평일 18시 1.000   625.000 15.500
288908      천호센터  9988  화  평일 14시 1.000     0.000 32.000

In [128]:
len((set(Bike_location['대여소번호'].unique().tolist()))- set(list(Hour_bike_usage_weekday['대여소번호'].unique().tolist())))

43

In [ ]:
# len(set(str(Bike_location['대여소명'].values))-set(str(Hour_bike_usage_weekday['대여소명'].values)))

#### 평일

In [134]:
Hour_bike_usage_weekday

                             대여소명 대여소번호 요일    대여시간  이용건수      이동거리   사용시간
0       1001. 광진교 남단 사거리(디지털프라자앞)  1001  월  평일 00시 1.077  2112.692 29.154
1       1001. 광진교 남단 사거리(디지털프라자앞)  1001  월  평일 01시 1.172  5021.379 24.897
2       1001. 광진교 남단 사거리(디지털프라자앞)  1001  월  평일 10시 1.074  1916.667 35.630
3       1001. 광진교 남단 사거리(디지털프라자앞)  1001  월  평일 11시 1.200  2626.667 42.633
4       1001. 광진교 남단 사거리(디지털프라자앞)  1001  월  평일 12시 1.196  3727.391 25.391
...                           ...   ... ..     ...   ...       ...    ...
288904                       중랑센터     3  목  평일 18시 1.000 32640.000 22.000
288905                       중랑센터     3  금  평일 16시 1.000 28490.000 18.333
288906                       중랑센터     3  금  평일 17시 1.000  1210.000 11.000
288907                       중랑센터     3  금  평일 18시 1.000   625.000 15.500
288908                       천호센터  9988  화  평일 14시 1.000     0.000 32.000

[203961 rows x 7 columns]

In [137]:
# 6월 이후 새로 생긴 노드의 갯수
len((set(Bike_location['대여소번호'].unique().tolist()))- set(list(Hour_bike_usage_weekday['대여소번호'].unique().tolist())))

43

In [138]:
set(Bike_location['대여소번호'].unique().tolist()) - set(list(Hour_bike_usage_weekday['대여소번호'].unique().tolist()))

{'1072',
 '1082',
 '1471',
 '1550',
 '1571',
 '1572',
 '1695',
 '1750',
 '1751',
 '1762',
 '1767',
 '2078',
 '2079',
 '2386',
 '2524',
 '2525',
 '2550',
 '2627',
 '2638',
 '2650',
 '2656',
 '2743',
 '2744',
 '2914',
 '295',
 '3013',
 '3125',
 '3130',
 '3401',
 '3425',
 '3547',
 '3573',
 '3600',
 '3652',
 '3802',
 '3906',
 '4652',
 '4702',
 '4711',
 '480',
 '494',
 '796',
 '859'}

In [ ]:
Bike_location.info()

In [ ]:
Hour_bike_usage_weekday.info()

In [ ]:
### 새로 추가된 대여소로 추정
Hour_bike_usage_weekday[Hour_bike_usage_weekday['대여소번호'] == '2550']

In [ ]:
Hour_bike_usage_weekday = Hour_bike_usage_weekday.drop('대여소명', axis = 1)

In [ ]:
Hour_bike_usage_weekday_location = pd.merge(Bike_location, Hour_bike_usage_weekday, how = 'left',on = '대여소번호')

In [ ]:
Hour_bike_usage_weekday_location.isna().sum()

In [ ]:
Hour_bike_usage_weekday_location[Hour_bike_usage_weekday_location['이용건수'].isna()].index

In [ ]:
Hour_bike_usage_weekday_location_nan = Hour_bike_usage_weekday_location[Hour_bike_usage_weekday_location['이용건수'].isna()]
Hour_bike_usage_weekday_location.drop(Hour_bike_usage_weekday_location[Hour_bike_usage_weekday_location['이용건수'].isna()].index)

In [ ]:
Hour_bike_usage_weekday_location_nan

In [ ]:
Hour_bike_usage_weekday_location = Hour_bike_usage_weekday_location.drop(Hour_bike_usage_weekday_location[Hour_bike_usage_weekday_location['이용건수'].isna()].index)

In [ ]:
Hour_bike_usage_weekday_location.head(10)

In [ ]:
Hour_bike_usage_weekday_location[Hour_bike_usage_weekday_location['요일'] == '월']

In [ ]:
Hour_bike_usage_weekday_location[Hour_bike_usage_weekday_location['요일'] == '수']

In [ ]:
Weekday_group = Hour_bike_usage_weekday_location.groupby(['대여소이름','대여시간'],as_index = False).mean()

#### 평일 train set

In [ ]:
Weekday_trainset = pd.pivot_table(Weekday_group, index = ['대여소이름'], columns= '대여시간', values = '이용건수')#.reset_index()

In [ ]:
Weekday_trainset

In [ ]:
# set(Hour_bike_usage_weekday_location['대여소번호'].unique)

#### 주말

In [139]:
Hour_bike_usage_weekend.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 84948 entries, 120 to 288890
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   대여소명    84948 non-null  object
 1   대여소번호   84948 non-null  object
 2   요일      84948 non-null  object
 3   대여시간    84948 non-null  object
 4   이용건수    84948 non-null  float64
 5   이동거리    84948 non-null  float64
 6   사용시간    84948 non-null  float64
dtypes: float64(3), object(4)
memory usage: 5.2+ MB

In [141]:
# Hour_bike_usage_weekend['대여소번호'] = Hour_bike_usage_weekend['대여소번호'].astype('str')

In [142]:
# 6월 이후 새로 생긴 노드들
len((set(Bike_location['대여소번호'].unique().tolist()))- set(Hour_bike_usage_weekend['대여소번호'].unique().tolist()))

53

In [ ]:
set(Bike_location['대여소번호'].unique().tolist())- set(list(Hour_bike_usage_weekend['대여소번호'].unique().tolist()))

In [150]:
# 평일 주말 다 합해서 새로 생긴 노드들
len(set(Bike_location['대여소번호'].unique().tolist()) - (set(Hour_bike_usage_weekend['대여소번호'].unique()) | set(Hour_bike_usage_weekday['대여소번호'].unique())))

41

In [148]:
len(set(Hour_bike_usage_weekend['대여소번호'].unique()) | set(Hour_bike_usage_weekday['대여소번호'].unique()))

2076

In [143]:
Bike_location[Bike_location['대여소번호'] == '1070']

               대여소이름     위도      경도                 주소  자치구         대여소명 대여소번호
69  1070.(시립)고덕평생학습관 37.556 127.158  서울특별시 강동구 고덕동 296  강동구  (시립)고덕평생학습관  1070

In [ ]:
len(set(Hour_bike_usage_weekday['대여소번호'].unique().tolist()))

In [ ]:
len(set(Hour_bike_usage_weekend['대여소번호'].unique().tolist()))

In [ ]:
Bike_location.info()

In [ ]:
Hour_bike_usage_weekend.info()

In [ ]:
### 새로 추가된 대여소로 추정
Hour_bike_usage_weekend[Hour_bike_usage_weekend['대여소번호'] == '2550']

In [ ]:
Hour_bike_usage_weekend = Hour_bike_usage_weekend.drop('대여소명', axis = 1)

In [ ]:
Hour_bike_usage_weekend_location = pd.merge(Bike_location, Hour_bike_usage_weekend, how = 'left',on = '대여소번호')

In [ ]:
Hour_bike_usage_weekend_location.isna().sum()

In [ ]:
Hour_bike_usage_weekend_location[Hour_bike_usage_weekend_location['이용건수'].isna()].index

In [ ]:
Hour_bike_usage_weekend_location_nan = Hour_bike_usage_weekend_location[Hour_bike_usage_weekend_location['이용건수'].isna()]
Hour_bike_usage_weekend_location.drop(Hour_bike_usage_weekend_location[Hour_bike_usage_weekend_location['이용건수'].isna()].index)

In [ ]:
Hour_bike_usage_weekend_location_nan

In [ ]:
Hour_bike_usage_weekend_location = Hour_bike_usage_weekend_location.drop(Hour_bike_usage_weekend_location[Hour_bike_usage_weekend_location['이용건수'].isna()].index)

In [ ]:
Hour_bike_usage_weekend_location.head(10)

In [ ]:
Hour_bike_usage_weekend_location[Hour_bike_usage_weekend_location['요일'] == '토']

In [ ]:
Hour_bike_usage_weekend_location[Hour_bike_usage_weekend_location['요일'] == '일']

In [ ]:
Weekend_group = Hour_bike_usage_weekend_location.groupby(['대여소이름','대여시간'],as_index = False).mean()

In [ ]:
Weekend_group

#### 주말 train set

In [ ]:
Weekend_trainset = pd.pivot_table(Weekend_group, index = ['대여소이름'], columns= '대여시간', values = '이용건수')#.reset_index()

In [ ]:
Weekend_trainset

## 유동인구

In [ ]:
New[4]

## 날씨

In [ ]:
Weather = New[13]

In [ ]:
Weather