In [1]:
import pandas as pd
import numpy as np
import glob, os, chardet, pprint
from tqdm import notebook
import datetime

In [2]:
# display 설정
pd.set_option('display.max_rows', 200)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 10000)
pd.options.display.float_format = '{:.3f}'.format

In [3]:
pwd

'C:\\Users\\justi\\OneDrive\\Git\\Team 6\\Ddareung'

In [4]:
def readcsv_(Path_folder, header = 0):

    file_list = notebook.tqdm([file for file in os.listdir(Path_folder) if file.endswith(('.csv','.xlsx'))])
    df_list = []
    encodings = ['utf-8', 'cp949', 'euc-kr', 'cp1252', 'cp850']

    for idx, file in enumerate(file_list): #, total = len(file_list), leave = True)
        print(f'({idx}) {file}')
        if file.endswith(".csv"):
            for cp in encodings:
                try:
                    locals()[f'df{idx+1}'] = pd.read_csv(Path_folder+file, encoding = cp, header = header)
                    df_list.append(locals()[f'df{idx+1}'])
                    break
                except: # 에러 종류
                    pass
        elif file.endswith(".xlsx"):
                locals()[f'df{idx+1}'] = pd.read_excel(Path_folder+file, header = header)
                df_list.append(locals()[f'df{idx+1}'])

        else:
            print(f'     {"*"*8}이 파일은 읽을 수 없습니다{"*"*8}')

    print(f'\n폴더 내 csv / xlsx 파일 개수: {len(file_list)}개')
    print(f'총 데이터프레임 개수: {len(df_list)}개')

    return df_list

In [5]:
# dt_index = pandas.date_range(start='20160901', end='20161031')
# # pandas.date_range(start='20160901', end='20161031',freq='W-MON')
# # 을 하면 해당 기간 매주 월요일들만 추출합니다.

# # type(dt_index) => DatetimeIndex
# # DatetimeIndex => list(str)
# dt_list = dt_index.strftime("%Y%m%d").tolist()

# for i in dt_list:
#     print(i)

In [6]:
# New = readcsv_(os.getcwd() + '/New data/')

## 거치소 정보

In [7]:
Bike_lock = pd.read_csv(os.getcwd() + '/New data/bike_location_final.csv')

In [8]:
Bike_lock

                          대여소이름     위도      경도                    주소  자치구
0     1001. 광진교 남단 사거리(디지털프라자앞) 37.542 127.125     서울특별시 강동구 천호동 355  강동구
1               1002. 해공공원(천호동) 37.545 127.126     서울특별시 강동구 천호동 360  강동구
2                  1003. 해공도서관앞 37.544 127.125     서울특별시 강동구 천호동 360  강동구
3          1004. 삼성광나루아파트 버스정류장 37.553 127.129   서울특별시 강동구 암사동 463-2  강동구
4              1006. 롯데캐슬 115동앞 37.555 127.143   서울특별시 강동구 암사동 414-2  강동구
...                         ...    ...     ...                   ...  ...
2038              992.북한산입구 정류장 37.658 126.946     서울특별시 은평구 진관동 289  은평구
2039          993.은평뉴타운 온뜨락아파트앞 37.630 126.920  서울특별시 은평구 진관동 234-34  은평구
2040         994.북한산생태공원입구(교통섬) 37.611 126.939     서울특별시 은평구 불광동 2-1  은평구
2041               995.은평다목적체육관 37.631 126.925     서울특별시 은평구 진관동 125  은평구
2042               996.응암역 1번출구 37.599 126.915    서울특별시 은평구 신사동 23-3  은평구

[2043 rows x 5 columns]

In [9]:
Bike_lock['대여소명'] = Bike_lock['대여소이름'].apply(lambda x: x.split('.')[1:][0])
Bike_lock['대여소번호'] = Bike_lock['대여소이름'].apply(lambda x: x.split('.')[0])

In [10]:
Bike_lock

                          대여소이름     위도      경도                    주소  자치구                  대여소명 대여소번호
0     1001. 광진교 남단 사거리(디지털프라자앞) 37.542 127.125     서울특별시 강동구 천호동 355  강동구   광진교 남단 사거리(디지털프라자앞)  1001
1               1002. 해공공원(천호동) 37.545 127.126     서울특별시 강동구 천호동 360  강동구             해공공원(천호동)  1002
2                  1003. 해공도서관앞 37.544 127.125     서울특별시 강동구 천호동 360  강동구                해공도서관앞  1003
3          1004. 삼성광나루아파트 버스정류장 37.553 127.129   서울특별시 강동구 암사동 463-2  강동구        삼성광나루아파트 버스정류장  1004
4              1006. 롯데캐슬 115동앞 37.555 127.143   서울특별시 강동구 암사동 414-2  강동구            롯데캐슬 115동앞  1006
...                         ...    ...     ...                   ...  ...                   ...   ...
2038              992.북한산입구 정류장 37.658 126.946     서울특별시 은평구 진관동 289  은평구             북한산입구 정류장   992
2039          993.은평뉴타운 온뜨락아파트앞 37.630 126.920  서울특별시 은평구 진관동 234-34  은평구         은평뉴타운 온뜨락아파트앞   993
2040         994.북한산생태공원입구(교통섬) 37.611 126.939     서울특별시 은평구 불광동 2-1  은평구        북한산생태공원입구(교통섬)   994
2041               995.은평다목적체육관 37.631 126.925     서울특별시 은평구 진관동 125  은평구              은평다목적체육관   995
2042               996.응암역 1번출구 37.599 126.915    서울특별시 은평구 신사동 23-3  은평구              응암역 1번출구   996

[2043 rows x 7 columns]

In [11]:
Bike_location = pd.read_csv(os.getcwd() + '\\New data\\bike_location_final.csv', encoding = 'utf-8') # 최신 거치대 위치 정보

In [12]:
Bike_location['대여소명'] = Bike_location['대여소이름'].apply(lambda x: x.split('.')[1:][0])
Bike_location['대여소번호'] = Bike_location['대여소이름'].apply(lambda x: x.split('.')[0])

In [13]:
Bike_lock[Bike_lock['대여소번호'] == '1004']

                  대여소이름     위도      경도                   주소  자치구             대여소명 대여소번호
3  1004. 삼성광나루아파트 버스정류장 37.553 127.129  서울특별시 강동구 암사동 463-2  강동구   삼성광나루아파트 버스정류장  1004

In [14]:
len((set(Bike_location['대여소번호'].unique().tolist()))- set(list(Bike_lock['대여소번호'].unique().tolist())))

0

In [15]:
len( set(list(Bike_lock['대여소번호'].unique().tolist())) - (set(Bike_location['대여소번호'].unique().tolist())))

0

In [16]:
len( set(list(Bike_lock['대여소번호'].unique().tolist())))

2043

In [17]:
# ## 자전거 대여이력(**사용량 정보 없음)

# History = New[6]

# History

# History['연'] = History['대여일시'].apply(lambda x: str(x)[0:4])
# History['월'] = History['대여일시'].apply(lambda x: str(x)[5:7])
# History['일'] = History['대여일시'].apply(lambda x: str(x)[8:11])

# History['대여날짜'] = History['대여날짜'].apply(lambda x: datetime.datetime.strptime(x, '%Y-%m-%d'))
# History['대여시각'] = History['대여시각'].apply(lambda x: datetime.datetime.strptime(x, '%H:%M'))
# # History['대여일시'] = History['대여일시'].apply(lambda x: datetime.datetime.strptime(x, '%Y-%m-%d %H:%M'))

# History['요일'] = History['대여날짜'].apply(lambda x: x.weekday())

# History['시간대'] = History['대여시각'].apply(lambda x: x.hour)

# # a = '20:20:00'
# # b= datetime.datetime.strptime(a, "%H:%M:%S")
# # b.hour()

# History

# History.info()

# History_group = History.groupby(['대여 대여소명','요일','시간대']).count()

## 2020 시간별 자전거 이용정보

In [18]:
pwd

'C:\\Users\\justi\\OneDrive\\Git\\Team 6\\Ddareung'

In [19]:
Hour_bike_usage = pd.read_csv(os.getcwd() + '/New data/Hour_bike_usage_2020.csv', encoding = 'cp949')

In [20]:
Hour_bike_usage.head(4)

         대여일자  대여시간  대여소번호                 대여소명 대여구분코드 연령대코드  이용건수    운동량   탄소량     이동거리  사용시간 대여일자datetime  요일    연도  월
0  2020-02-01     0   1442  1442. (구)신한은행 중랑교지점    정기권  ~10대     1  53.86  0.32 1360.000     6   2020-02-01   5  2020  2
1  2020-02-01     0   1339   1339. 삼성전자서비스 성북센터    정기권  ~10대     1  10.04  0.09  390.000     3   2020-02-01   5  2020  2
2  2020-02-01     0   1960        1960. 화광신문사 앞    정기권  ~10대     1  75.14  0.64 2750.000    24   2020-02-01   5  2020  2
3  2020-02-01     0    394      394. 경희궁 자이 3단지    정기권  ~10대     1  28.42  0.18  780.000     3   2020-02-01   5  2020  2

In [21]:
Hour_bike_usage.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6054830 entries, 0 to 6054829
Data columns (total 15 columns):
 #   Column        Dtype
---  ------        -----
 0   대여일자          object
 1   대여시간          int64
 2   대여소번호         int64
 3   대여소명          object
 4   대여구분코드        object
 5   연령대코드         object
 6   이용건수          int64
 7   운동량           object
 8   탄소량           object
 9   이동거리          float64
 10  사용시간          int64
 11  대여일자datetime  object
 12  요일            int64
 13  연도            int64
 14  월             int64
dtypes: float64(1), int64(7), object(7)
memory usage: 692.9+ MB

In [22]:
# Hour_bike_usage[Hour_bike_usage['대여소번호'] == 99998]

In [23]:
# Hour_bike_usage['대여소명'] = Hour_bike_usage['대여소명'].apply(lambda x: x.split('.')[-1])
# Hour_bike_usage['대여일자datetime'] = Hour_bike_usage['대여일자'].apply(lambda x: datetime.datetime.strptime(x, '%Y-%m-%d'))
# Hour_bike_usage['요일'] = Hour_bike_usage['대여일자datetime'].apply(lambda x: x.weekday())
# Hour_bike_usage['연도'] = Hour_bike_usage['대여일자'].apply(lambda x: str(x)[:4])
# Hour_bike_usage['대여소 번호'] = Hour_bike_usage['대여소명'].apply(lambda x: x.split(".")[0])

In [24]:
Hour_bike_usage = Hour_bike_usage.astype({'대여시간':'str', '대여소번호' : 'str', '요일': 'str', '연도': 'str', '월':'str'})

In [25]:
Hour_bike_usage

               대여일자 대여시간 대여소번호                  대여소명 대여구분코드 연령대코드  이용건수     운동량   탄소량     이동거리  사용시간 대여일자datetime 요일    연도  월
0        2020-02-01    0  1442   1442. (구)신한은행 중랑교지점    정기권  ~10대     1   53.86  0.32 1360.000     6   2020-02-01  5  2020  2
1        2020-02-01    0  1339    1339. 삼성전자서비스 성북센터    정기권  ~10대     1   10.04  0.09  390.000     3   2020-02-01  5  2020  2
2        2020-02-01    0  1960         1960. 화광신문사 앞    정기권  ~10대     1   75.14  0.64 2750.000    24   2020-02-01  5  2020  2
3        2020-02-01    0   394       394. 경희궁 자이 3단지    정기권  ~10대     1   28.42  0.18  780.000     3   2020-02-01  5  2020  2
4        2020-02-01    0  1364      1364. 성북동 치안센터 앞    정기권  ~10대     1   52.97  0.41 1760.000    11   2020-02-01  5  2020  2
...             ...  ...   ...                   ...    ...   ...   ...     ...   ...      ...   ...          ... ..   ... ..
6054825  2020-06-30   23  1286  1286. 위례중앙푸르지오 1단지 앞    일일권   50대     1   56.83  0.48 2050.000     8   2020-06-30  1  2020  6
6054826  2020-06-30   23  1456  1456. 상아빌딩(우림시장 교차로)    단체권  ~10대     1    0.00  0.00    0.000    19   2020-06-30  1  2020  6
6054827  2020-06-30   23  1447        1447. 면목역 3번출구    단체권   20대     2    7.09  0.69 2984.150    47   2020-06-30  1  2020  6
6054828  2020-06-30   23  2002        2002. 노들역 1번출구    단체권   20대     1  165.98  1.50 6448.260    59   2020-06-30  1  2020  6
6054829  2020-06-30   23  1761          1761.방학중학교 앞    단체권  ~10대     2    0.00  0.00    0.000   108   2020-06-30  1  2020  6

[6054830 rows x 15 columns]

In [ ]:
# # 평균 -> 평균내면 안되고 sum 해야함
# Hour_bike_usage_group = Hour_bike_usage.groupby(['대여소명','대여소번호','요일','대여시간'],as_index = False).mean()

In [ ]:
Hour_bike_usage_group

In [ ]:
len(set(Hour_bike_usage_group['대여소번호'].unique()))

In [ ]:
## 나중에 try/except, .format, int(h), range(24)로 간결하게 만들기.
### 00시, 01시 처럼 2자리로 만들어야함
def to_strhour_day(h):
        h = int(h)
        for i in range(24):
            if h == i:
                return f'평일 {h:02d}시'#.format(h)
            
def to_strhour_end(h):
        h = int(h)
        for i in range(24):
            if h == i:
                return f'주말 {h:02d}시'#.format(h)

In [ ]:
def to_strday(d):
    try:
        d = int(d)
        for idx, D in enumerate(['월','화','수','목','금','토','일']):
            if d == idx:
                return D
    except:
        pass

### 요일 value 수정

In [ ]:
Hour_bike_usage_group['요일'] = Hour_bike_usage_group['요일'].map(lambda x: to_strday(x))

In [ ]:
Hour_bike_usage_group.head(40)

In [ ]:
Hour_bike_usage_group.info()

### 평일 이용량
- 거치소별 1년간 평일 평균 24시간 동안 각시간별 사용량

In [ ]:
Hour_bike_usage_weekday = Hour_bike_usage_group[(Hour_bike_usage_group['요일'] == '월') |
                     (Hour_bike_usage_group['요일'] == '화') |
                     (Hour_bike_usage_group['요일'] == '수') | 
                     (Hour_bike_usage_group['요일'] == '목') | 
                     (Hour_bike_usage_group['요일'] == '금')]

Hour_bike_usage_weekday = Hour_bike_usage_weekday.astype({'대여소번호' : 'int32'})

Hour_bike_usage_weekday = Hour_bike_usage_weekday.astype({'대여소번호' : 'str'})

In [ ]:
Hour_bike_usage_weekday['대여시간'] = Hour_bike_usage_weekday['대여시간'].map(lambda x: to_strhour_day(x))

In [ ]:
Hour_bike_usage_weekday

In [ ]:
Hour_bike_usage_weekday[Hour_bike_usage_weekday.대여소번호.isna()]

In [ ]:
Hour_bike_usage_weekday.isna().sum()

In [ ]:
len(set(Hour_bike_usage_weekday['대여소번호'].unique()))

In [ ]:
# set(Hour_bike_usage_weekday.sort_values('대여소명')['대여소명'])

### 주말 이용량

- 주말평균 24시간동안 각 시간별사용량

In [ ]:
Hour_bike_usage_weekend = Hour_bike_usage_group[(Hour_bike_usage_group['요일'] == '토') |
                     (Hour_bike_usage_group['요일'] == '일')]

In [ ]:
Hour_bike_usage_weekend['대여소명']

In [ ]:
Hour_bike_usage_weekend['대여시간'] = Hour_bike_usage_weekend['대여시간'].map(lambda x: to_strhour_end(x))

In [ ]:
Hour_bike_usage_weekend

In [ ]:
len(set(Hour_bike_usage_weekend['대여소번호'].unique()))

#### 주말 이용 대여소 - 평일 이용 대여소

In [ ]:
len(set(Hour_bike_usage_weekend['대여소번호'].unique()) - set(Hour_bike_usage_weekday['대여소번호'].unique()))

In [ ]:
set(Hour_bike_usage_weekend['대여소번호'].unique()) - set(Hour_bike_usage_weekday['대여소번호'].unique())

In [ ]:
Hour_bike_usage_weekend[Hour_bike_usage_weekend['대여소번호'] == '2525']

In [ ]:
Hour_bike_usage_weekday[Hour_bike_usage_weekday['대여소번호'] == '2525']

#### 평일 이용 대여소 - 주말 이용 대여소

In [ ]:
len(set(Hour_bike_usage_weekday['대여소번호'].unique()) - set(Hour_bike_usage_weekend['대여소번호'].unique()))

In [ ]:
set(Hour_bike_usage_weekday['대여소번호'].unique()) - set(Hour_bike_usage_weekend['대여소번호'].unique())

In [ ]:
Hour_bike_usage_weekday[Hour_bike_usage_weekday['대여소번호'] == '9998']

In [ ]:
Hour_bike_usage_weekend[Hour_bike_usage_weekend['대여소번호'] == '9998']

#### 주말 & 평일 교집합

In [ ]:
len(set(Hour_bike_usage_weekday['대여소번호'].unique()) & set(Hour_bike_usage_weekend['대여소번호'].unique()))

### 최신 거치대 위치 정보와 병합

In [ ]:
Bike_location = pd.read_csv(os.getcwd() + '\\New data\\bike_location_final.csv', encoding = 'utf-8') # 최신 거치대 위치 정보

In [ ]:
Bike_location['대여소명'] = Bike_location['대여소이름'].apply(lambda x: x.split('.')[1:][0])
Bike_location['대여소번호'] = Bike_location['대여소이름'].apply(lambda x: x.split('.')[0])

In [ ]:
Bike_location

In [ ]:
Bike_location.info()

In [ ]:
len((set(Bike_location['대여소번호'].unique().tolist())))

In [ ]:
len(set(Bike_location.대여소번호))

In [ ]:
Hour_bike_usage_weekday

In [ ]:
Hour_bike_usage_weekday.tail(100)

In [ ]:
len((set(Bike_location['대여소번호'].unique().tolist()))- set(list(Hour_bike_usage_weekday['대여소번호'].unique().tolist())))

In [ ]:
# len(set(str(Bike_location['대여소명'].values))-set(str(Hour_bike_usage_weekday['대여소명'].values)))

#### 평일

In [ ]:
Hour_bike_usage_weekday

In [ ]:
# 6월 이후 새로 생긴 노드의 갯수
len((set(Bike_location['대여소번호'].unique().tolist()))- set(list(Hour_bike_usage_weekday['대여소번호'].unique().tolist())))

In [ ]:
set(Bike_location['대여소번호'].unique().tolist()) - set(list(Hour_bike_usage_weekday['대여소번호'].unique().tolist()))

In [ ]:
Bike_location.info()

In [ ]:
Hour_bike_usage_weekday.info()

In [ ]:
### 새로 추가된 대여소로 추정
Hour_bike_usage_weekday[Hour_bike_usage_weekday['대여소번호'] == '2550']

In [ ]:
Hour_bike_usage_weekday = Hour_bike_usage_weekday.drop('대여소명', axis = 1)

In [ ]:
Hour_bike_usage_weekday_location = pd.merge(Bike_location, Hour_bike_usage_weekday, how = 'left',on = '대여소번호')

In [ ]:
Hour_bike_usage_weekday_location.isna().sum()

In [ ]:
Hour_bike_usage_weekday_location[Hour_bike_usage_weekday_location['이용건수'].isna()].index

In [ ]:
Hour_bike_usage_weekday_location_nan = Hour_bike_usage_weekday_location[Hour_bike_usage_weekday_location['이용건수'].isna()]
Hour_bike_usage_weekday_location.drop(Hour_bike_usage_weekday_location[Hour_bike_usage_weekday_location['이용건수'].isna()].index)

In [ ]:
Hour_bike_usage_weekday_location_nan

In [ ]:
Hour_bike_usage_weekday_location = Hour_bike_usage_weekday_location.drop(Hour_bike_usage_weekday_location[Hour_bike_usage_weekday_location['이용건수'].isna()].index)

In [ ]:
Hour_bike_usage_weekday_location.head(10)

In [ ]:
Hour_bike_usage_weekday_location[Hour_bike_usage_weekday_location['요일'] == '월']

In [ ]:
Hour_bike_usage_weekday_location[Hour_bike_usage_weekday_location['요일'] == '수']

In [ ]:
Weekday_group = Hour_bike_usage_weekday_location.groupby(['대여소이름','대여시간'],as_index = False).mean()

In [ ]:
Weekday_group['대여시간'].nunique()

In [ ]:
Hour_bike_usage_weekday_location[Hour_bike_usage_weekday_location['대여소번호'] == '1002']

#### 평일 train set

In [ ]:
Weekday_trainset = pd.pivot_table(Weekday_group, index = ['대여소이름'], columns= '대여시간', values = '이용건수')#.reset_index()

In [ ]:
Weekday_trainset

In [ ]:
# set(Hour_bike_usage_weekday_location['대여소번호'].unique)

#### 주말

In [ ]:
Hour_bike_usage_weekend.info()

In [ ]:
# Hour_bike_usage_weekend['대여소번호'] = Hour_bike_usage_weekend['대여소번호'].astype('str')

In [ ]:
# 6월 이후 새로 생긴 노드들
len((set(Bike_location['대여소번호'].unique().tolist()))- set(Hour_bike_usage_weekend['대여소번호'].unique().tolist()))

In [ ]:
set(Bike_location['대여소번호'].unique().tolist())- set(list(Hour_bike_usage_weekend['대여소번호'].unique().tolist()))

In [ ]:
# 평일 주말 다 합해서 새로 생긴 노드들
len(set(Bike_location['대여소번호'].unique().tolist()) - (set(Hour_bike_usage_weekend['대여소번호'].unique()) | set(Hour_bike_usage_weekday['대여소번호'].unique())))

In [ ]:
len(set(Hour_bike_usage_weekend['대여소번호'].unique()) | set(Hour_bike_usage_weekday['대여소번호'].unique()))

In [ ]:
Bike_location[Bike_location['대여소번호'] == '1070']

In [ ]:
len(set(Hour_bike_usage_weekday['대여소번호'].unique().tolist()))

In [ ]:
len(set(Hour_bike_usage_weekend['대여소번호'].unique().tolist()))

In [ ]:
Bike_location.info()

In [ ]:
Hour_bike_usage_weekend.info()

In [ ]:
### 새로 추가된 대여소로 추정
Hour_bike_usage_weekend[Hour_bike_usage_weekend['대여소번호'] == '2550']

In [ ]:
Hour_bike_usage_weekend = Hour_bike_usage_weekend.drop('대여소명', axis = 1)

In [ ]:
Hour_bike_usage_weekend_location = pd.merge(Bike_location, Hour_bike_usage_weekend, how = 'left',on = '대여소번호')

In [ ]:
Hour_bike_usage_weekend_location.isna().sum()

In [ ]:
Hour_bike_usage_weekend_location[Hour_bike_usage_weekend_location['이용건수'].isna()].index

In [ ]:
Hour_bike_usage_weekend_location_nan = Hour_bike_usage_weekend_location[Hour_bike_usage_weekend_location['이용건수'].isna()]
Hour_bike_usage_weekend_location.drop(Hour_bike_usage_weekend_location[Hour_bike_usage_weekend_location['이용건수'].isna()].index)

In [ ]:
Hour_bike_usage_weekend_location_nan

In [ ]:
Hour_bike_usage_weekend_location = Hour_bike_usage_weekend_location.drop(Hour_bike_usage_weekend_location[Hour_bike_usage_weekend_location['이용건수'].isna()].index)

In [ ]:
Hour_bike_usage_weekend_location.head(10)

In [ ]:
Hour_bike_usage_weekend_location[Hour_bike_usage_weekend_location['요일'] == '토']

In [ ]:
Hour_bike_usage_weekend_location[Hour_bike_usage_weekend_location['요일'] == '일']

In [ ]:
Hour_bike_usage_weekend_location

In [ ]:
Weekend_group = Hour_bike_usage_weekend_location.groupby(['대여소이름','대여시간'],as_index = False).mean()

In [ ]:
Weekend_group

In [ ]:
Weekend_group['대여시간'].nunique()

#### 주말 train set

In [ ]:
Weekend_trainset = pd.pivot_table(Weekend_group, index = ['대여소이름'], columns= '대여시간', values = '이용건수')#.reset_index()

In [ ]:
Weekend_trainset

## 유동인구

In [ ]:
New[4]

## 날씨

In [ ]:
Weather = New[13]

In [ ]:
Weather