<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [4]:
import pandas as pd
import numpy as np
from tqdm import notebook

import matplotlib.pyplot as plt
from matplotlib import font_manager, rc
import seaborn as sns
import gc, os

In [18]:
def readcsv_(Path_folder, header = 0):

    file_list = notebook.tqdm([file for file in os.listdir(Path_folder) if file.endswith(('.csv','.xlsx'))])
    df_list = []
    encodings = ['utf-8', 'cp949', 'euc-kr', 'cp1252', 'cp850']

    for idx, file in enumerate(file_list): #, total = len(file_list), leave = True)
        print(f'({idx}) {file}')
        if file.endswith(".csv"):
            for cp in encodings:
                try:
                    locals()[f'df{idx+1}'] = pd.read_csv(Path_folder+file, encoding = cp, header = header)
                    df_list.append(locals()[f'df{idx+1}'])
                    break
                except: # 에러 종류
                    print('wrong')
                    pass
        elif file.endswith(".xlsx"):
                locals()[f'df{idx+1}'] = pd.read_excel(Path_folder+file, header = header)
                df_list.append(locals()[f'df{idx+1}'])

        else:
            print(f'     {"*"*8}이 파일은 읽을 수 없습니다{"*"*8}')

    print(f'\n폴더 내 csv / xlsx 파일 개수: {len(file_list)}개')
    print(f'총 데이터프레임 개수: {len(df_list)}개')

    return df_list

In [20]:
floating = readcsv_('../raw data/skt서울시유동인구/')

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=18.0), HTML(value='')))

(0) Floating_Population_1903.csv
(1) Floating_Population_1904.csv
(2) Floating_Population_1905.csv
(3) Floating_Population_1906.csv
(4) Floating_Population_1907.csv
(5) Floating_Population_1908.csv
(6) Floating_Population_1909.csv
(7) Floating_Population_1910.csv
(8) Floating_Population_1911.csv
(9) Floating_Population_1912.csv
(10) Floating_Population_2001.csv
(11) Floating_Population_2002.csv
(12) Floating_Population_2003.csv
(13) Floating_Population_2004.csv
(14) Floating_Population_2005.csv
(15) Floating_Population_2006.csv
(16) Floating_Population_2008.csv
(17) Floating_population_2009.csv


폴더 내 csv / xlsx 파일 개수: 18개
총 데이터프레임 개수: 18개

In [21]:
Floating = pd.concat(floating)

In [22]:
Floating

              일자  시간(1시간단위)  연령대(10세단위)  성별   시   군구  유동인구수
0       20190301          0          20  남성  서울  양천구  28720
1       20190301          0          20  남성  서울  종로구  15920
2       20190301          0          20  남성  서울  중랑구  26250
3       20190301          0          20  여성  서울  중랑구  25890
4       20190301          0          30  남성  서울  강동구  34090
...          ...        ...         ...  ..  ..  ...    ...
215695  20200930         19          50  여성  서울  도봉구  28610
215696  20200930         20          50  여성  서울  서초구  29580
215697  20200930         20          70  여성  서울  광진구  13670
215698  20200930         21          70  남성  서울  중랑구  13590
215699  20200930         21          70  여성  서울  관악구  21050

[3932400 rows x 7 columns]

In [9]:
for i in floating:
    Floating = pd.concat(floating)

In [15]:
floating202009 = pd.read_csv('../raw data/skt서울시유동인구/Floating_population_2009.csv')

In [17]:
floating202009.groupby('연령대(10세단위)').mean()

                      일자  시간(1시간단위)         유동인구수
연령대(10세단위)
20          2.020092e+07  11.485396  29500.436439
30          2.020092e+07  11.485396  33004.875104
40          2.020092e+07  11.485396  33149.265647
50          2.020092e+07  11.485396  31086.822253
60          2.020092e+07  11.485396  19972.837830
70          2.020092e+07  11.485396  15086.156606

In [24]:
floating202009

              일자  시간(1시간단위)  연령대(10세단위)  성별   시    군구  유동인구수
0       20200901          0          60  남성  서울   중랑구  21080
1       20200901          1          30  남성  서울  동대문구  28760
2       20200901          1          50  여성  서울   마포구  27750
3       20200901          2          30  여성  서울  서대문구  22650
4       20200901          2          50  남성  서울   강서구  42290
...          ...        ...         ...  ..  ..   ...    ...
215695  20200930         19          50  여성  서울   도봉구  28610
215696  20200930         20          50  여성  서울   서초구  29580
215697  20200930         20          70  여성  서울   광진구  13670
215698  20200930         21          70  남성  서울   중랑구  13590
215699  20200930         21          70  여성  서울   관악구  21050

[215700 rows x 7 columns]