In [1]:
import pandas as pd
import numpy as np
import glob, os, chardet, pprint
from tqdm import notebook
import datetime

In [2]:
def readcsv_(Path_folder, header = 0):

    file_list = notebook.tqdm([file for file in os.listdir(Path_folder) if file.endswith(('.csv','.xlsx'))])
    df_list = []
    encodings = ['utf-8', 'cp949', 'euc-kr', 'cp1252', 'cp850']

    for idx, file in enumerate(file_list): #, total = len(file_list), leave = True)
        print(f'({idx}) {file}')
        if file.endswith(".csv"):
            for cp in encodings:
                try:
                    locals()[f'df{idx+1}'] = pd.read_csv(Path_folder+file, encoding = cp, header = header)
                    df_list.append(locals()[f'df{idx+1}'])
                    break
                except: # 에러 종류
                    pass
        elif file.endswith(".xlsx"):
                locals()[f'df{idx+1}'] = pd.read_excel(Path_folder+file, header = header)
                df_list.append(locals()[f'df{idx+1}'])

        else:
            print(f'     {"*"*8}이 파일은 읽을 수 없습니다{"*"*8}')

    print(f'\n폴더 내 csv / xlsx 파일 개수: {len(file_list)}개')
    print(f'총 데이터프레임 개수: {len(df_list)}개')

    return df_list

## 지하철 승차인원

In [4]:
subway_population = readcsv_('./raw data/지하철승하차인원/')

HBox(children=(FloatProgress(value=0.0, max=9.0), HTML(value='')))

(0) CARD_SUBWAY_MONTH_202002.csv
(1) CARD_SUBWAY_MONTH_202003.csv
(2) CARD_SUBWAY_MONTH_202004.csv
(3) CARD_SUBWAY_MONTH_202005.csv
(4) CARD_SUBWAY_MONTH_202006.csv
(5) CARD_SUBWAY_MONTH_202007.csv
(6) CARD_SUBWAY_MONTH_202008.csv
(7) CARD_SUBWAY_MONTH_202009.csv
(8) CARD_SUBWAY_MONTH_202010.csv


폴더 내 csv / xlsx 파일 개수: 9개
총 데이터프레임 개수: 9개

In [6]:
for i in range(9):
    print(subway_population[i].columns)

Index(['사용일자', '노선명', '역명', '승차총승객수', '하차총승객수', '등록일자'], dtype='object')
Index(['사용일자', '노선명', '역명', '승차총승객수', '하차총승객수', '등록일자'], dtype='object')
Index(['사용일자', '노선명', '역명', '승차총승객수', '하차총승객수', '등록일자'], dtype='object')
Index(['사용일자', '노선명', '역명', '승차총승객수', '하차총승객수', '등록일자'], dtype='object')
Index(['사용일자', '노선명', '역ID', '역명', '승차총승객수', '하차총승객수', '등록일자'], dtype='object')
Index(['사용일자', '노선명', '역ID', '역명', '승차총승객수', '하차총승객수', '등록일자'], dtype='object')
Index(['사용일자', '노선명', '역ID', '역명', '승차총승객수', '하차총승객수', '등록일자'], dtype='object')
Index(['사용일자', '노선명', '역ID', '역명', '승차총승객수', '하차총승객수', '등록일자'], dtype='object')
Index(['사용일자', '노선명', '역ID', '역명', '승차총승객수', '하차총승객수', '등록일자'], dtype='object')

In [7]:
subway_population[3] = subway_population[3].reset_index()
subway_population[3].columns = ['사용일자','노선명','역명','승차총승객수','하차총승객수','등록일자','드롭']
subway_population[3].drop('드롭', axis=1, inplace=True)

In [8]:
subway_population[3]

           사용일자  노선명          역명  승차총승객수  하차총승객수      등록일자
0      20200501  중앙선         운길산    1349    1358  20200504
1      20200501  중앙선          팔당    1492    1712  20200504
2      20200501  중앙선          도심    1691    1462  20200504
3      20200501  중앙선          덕소    4303    4233  20200504
4      20200501  중앙선          양정     645     599  20200504
...         ...  ...         ...     ...     ...       ...
18322  20200531  2호선         도림천     408     398  20200603
18323  20200531  2호선         신설동    2556    2589  20200603
18324  20200531  2호선          신답     616     640  20200603
18325  20200531  2호선          용답    1400    1420  20200603
18326  20200531  2호선  충정로(경기대입구)    3134    3381  20200603

[18327 rows x 6 columns]

In [9]:
df_1 = pd.concat([subway_population[0],subway_population[1],subway_population[2],subway_population[3]],axis=0)

In [10]:
df_1.drop('등록일자', axis=1, inplace=True)

In [11]:
df_2 = pd.concat([subway_population[4],subway_population[5],subway_population[6],subway_population[7],
           subway_population[8]], axis=0)

In [12]:
df_2.columns = ['사용일자','노선명','역명','승차총승객수','하차총승객수','등록일자','드랍']

In [13]:
df_2.drop(['등록일자','드랍'],axis=1, inplace=True)

In [14]:
df_2

           사용일자  노선명           역명  승차총승객수  하차총승객수
0      20200601  5호선          개화산    5145    4899
1      20200601  3호선           불광   15920   17131
2      20200601  2호선          신도림   47364   46161
3      20200601  3호선          연신내   37604   35416
4      20200601  3호선          구파발   20615   19107
...         ...  ...          ...     ...     ...
18532  20201031  2호선           신림   51858   48197
18533  20201031  5호선        영등포시장    6997    7307
18534  20201031  5호선        영등포구청    1984    1911
18535  20201031  5호선           양평    3501    3266
18536  20201031  5호선  오목교(목동운동장앞)   17238   18277

[90850 rows x 5 columns]

In [15]:
subway_people = pd.concat([df_1, df_2], axis=0)

In [16]:
subway_people.reset_index(drop=True, inplace=True)

In [17]:
subway_people.사용일자 = subway_people.사용일자.astype(str)

In [18]:
subway_people.사용일자 = subway_people.사용일자.apply(lambda x : str(x[:4])+'-'+str(x[4:6])+'-'+str(x[6:9]))

In [19]:
import datetime
subway_people.사용일자 = subway_people.사용일자.apply(lambda x : datetime.datetime.strptime(x, '%Y-%m-%d'))

In [20]:
subway_people['weekday'] = subway_people.사용일자.apply(lambda x : x.weekday())

In [21]:
subway_people['평일_주말'] = subway_people.weekday.apply(lambda x : '평일' if x <5 else '주말')

In [22]:
subway_people['승하차총승객수'] =subway_people['승차총승객수'] + subway_people['하차총승객수']

In [23]:
subway_people_mean = subway_people.groupby(['역명','노선명','평일_주말'],as_index=False)[['승하차총승객수']].mean()

In [24]:
subway_people_mean

             역명    노선명 평일_주말       승하차총승객수
0      4.19민주묘지  우이신설선    주말   3332.253165
1      4.19민주묘지  우이신설선    평일   4855.010256
2            가능    경원선    주말   7631.645570
3            가능    경원선    평일  11621.861538
4          가락시장    3호선    주말   8447.139241
...         ...    ...   ...           ...
1219      효창공원앞    6호선    평일  12269.312821
1220      효창공원앞    경의선    주말   2560.898734
1221      효창공원앞    경의선    평일   5460.271795
1222  흑석(중앙대입구)    9호선    주말   8006.405063
1223  흑석(중앙대입구)    9호선    평일  14273.476923

[1224 rows x 4 columns]

In [25]:
subway_people_mean[subway_people_mean.역명.str.contains('성신')]

             역명    노선명 평일_주말       승하차총승객수
630  성신여대입구(돈암)    4호선    주말  23717.481013
631  성신여대입구(돈암)    4호선    평일  35563.830769
632  성신여대입구(돈암)  우이신설선    주말   4146.493671
633  성신여대입구(돈암)  우이신설선    평일   5760.292308

In [26]:
subway_people_mean.to_csv('subway_people_mean.csv', index = False, encoding = 'utf-8')

In [27]:
len(set(subway_people_mean.노선명.unique()))

25

In [28]:
set(subway_people_mean.노선명.unique())

{'1호선',
 '2호선',
 '3호선',
 '4호선',
 '5호선',
 '6호선',
 '7호선',
 '8호선',
 '9호선',
 '9호선2~3단계',
 '경강선',
 '경부선',
 '경원선',
 '경의선',
 '경인선',
 '경춘선',
 '공항철도 1호선',
 '과천선',
 '분당선',
 '수인선',
 '안산선',
 '우이신설선',
 '일산선',
 '장항선',
 '중앙선'}

In [29]:
subway_people_mean[subway_people_mean.노선명 == '장항선']

           역명  노선명 평일_주말      승하차총승객수
448        배방  장항선    주말  1389.658228
449        배방  장항선    평일  1575.687179
480        봉명  장항선    주말  1054.898734
481        봉명  장항선    평일  2034.282051
756  신창(순천향대)  장항선    주말  1677.607595
757  신창(순천향대)  장항선    평일  2263.138462
770  쌍용(나사렛대)  장항선    주말  2067.177215
771  쌍용(나사렛대)  장항선    평일  3189.764103
772        아산  장항선    주말  3650.873418
773        아산  장항선    평일  4198.025641
892      온양온천  장항선    주말  5691.860759
893      온양온천  장항선    평일  5971.764103

In [30]:
subway_people_mean[subway_people_mean.역명 == '언주']

     역명       노선명 평일_주말       승하차총승객수
828  언주  9호선2~3단계    주말   6863.569620
829  언주  9호선2~3단계    평일  17720.184615

In [31]:
subway_people_mean.노선명 = \
subway_people_mean.노선명.apply(lambda x :'경의중앙선' if (x == '경의선') | (x == '중앙선') else x)

subway_people_mean.노선명 = \
subway_people_mean.노선명.apply(lambda x :'공항철도' if x=='공항철도 1호선' else x)

subway_people_mean.노선명 = \
subway_people_mean.노선명.apply(lambda x :'9호선' if x == '9호선2~3단계' else x)

## 지하철

In [32]:
Subway = pd.read_csv('./New data/Subway.csv', encoding='cp949')

In [33]:
Subway.head()

   노선명   역명                지번주소         위도          경도
0  1호선  도봉산  서울특별시 도봉구 도봉동 18-1  37.680042  127.039988
1  1호선   도봉   서울특별시 도봉구 도봉동 639  37.675086  127.044867
2  1호선   방학   서울특별시 도봉구 방학동 728  37.669294  127.043858
3  1호선   창동  서울특별시 도봉구 창동 135-1  37.653485  127.047593
4  1호선   녹천  서울특별시 도봉구 창동 57-11  37.639373  127.036705

In [34]:
subway.columns = ['지번주소', '역명', '노선명', '위도','경도']

NameError: name 'subway' is not defined

In [ ]:
set(Subway.노선명.unique())

In [ ]:
subway.노선명 = \
subway.노선명.apply(lambda x :'공항철도' if x=='공항선' else x)

###  subway_people_mean 이름 바꾸기 
- 왕십리(성동구청),
교대(법원.검찰청),
미아(서울사이버대학),
종로3가,
청량리(서울시립대입구),
상봉(시외버스터미널),
선정릉,
복정,
이촌(국립중앙박물관),
양원,
양재숲은 없고,
청계싼입구도 없음,
성신여대입구(돈암)

In [ ]:
set(Subway.역명.unique()) - set(subway_people_mean.역명.unique())

In [ ]:
# 이 값들로 바꿔야함
list_to_change = list(set(Subway.역명.unique()) - set(subway_people_mean.역명.unique()))

In [ ]:
# 애초에 없던 데이터 (신분당선 승하차 데이터)
list_to_change.remove('양재시민의숲(매헌)')
list_to_change.remove('청계산입구')

In [ ]:
list_to_change = sorted(list_to_change)

In [ ]:
list_to_change

In [ ]:
list_get = ['왕십리(성동구청)', '교대(법원.검찰청)', '미아(서울사이버대학)', '종로3가','청량리(서울시립대입구)', '상봉(시외버스터미널)', '선정릉', '복정', '이촌(국립중앙박물관)', '양원', '성신여대입구(돈암)']

In [ ]:
list_get = sorted(list_get)

In [ ]:
def namematch(x):
    for i in range(len(list_to_change)):
        if x == list_to_change[i]:
            name = list_get[i]
            print(f'{list_to_change[i]} -> {list_get[i]}')
            return name
    return x

In [ ]:
Subway['역명'] = Subway['역명'].apply(lambda x: namematch(x))

In [ ]:
Subway['역명']

#### Subway 역명 확인

In [ ]:
# '경복궁' in set(Subway.역명.unique()).apply(lambda x: '경복궁' in x)

In [ ]:
# '경복궁' in '경복궁(23234)'

In [ ]:
Subway[Subway.역명.str.contains('양재')]

In [ ]:
Subway[Subway.역명.str.contains('왕십리')]

In [ ]:
Subway[Subway.역명.str.contains('미아')]

#### subway_people_mean 역명 확인

In [ ]:
subway_people_mean[subway_people_mean.역명.str.contains('양재')]

In [ ]:
subway_people_mean[subway_people_mean.역명.str.contains('왕십리')]

In [ ]:
subway_people_mean[subway_people_mean.역명.str.contains('미아')]

## 지하철 위치 + 지하철 승하차 인원

In [ ]:
train = pd.merge(Subway,subway_people_mean, on=['노선명','역명'], how ='left')

In [ ]:
train.isna().sum()

In [ ]:
train[train.평일_주말.isna()]

In [ ]:
train[train.평일_주말.isna()]['역명'].unique()

In [ ]:
subway_people

In [ ]:
list_not_to_del = ['양재시민의숲(매헌)', '청계산입구']

In [ ]:
train_to_del = train[train.평일_주말.isna()]

In [ ]:
train_to_del

In [ ]:
train_to_del_final = train_to_del.drop(train[(train['역명'] == '양재시민의숲(매헌)') | (train['역명'] == '청계산입구')].index)

In [ ]:
## 지워줘야하는 row들 (양재숲과 청계산입구는 그대로 nan 으로 남길 예정)
train_to_del_final

In [ ]:
## 현재 Nan 값들은 이미 다른 호선에 있는 값들임 = 지워줘도 되는 값
train[train['역명'].str.contains('양재')]

In [ ]:
train

In [ ]:
# Subway_people = train.drop(train_to_del_final.index)

In [ ]:
Subway_people = train[train.index.isin(train_to_del_final.index.tolist())==False]

In [ ]:
Subway_people[Subway_people['역명'].str.contains('청계산')]

In [ ]:
Subway_people.to_csv('Subway_people.csv', index = False, encoding = 'utf-8')