In [2]:
import pandas as pd
import numpy as np
import glob, os, chardet, pprint
from tqdm import notebook
import datetime

In [3]:
# display 설정
pd.set_option('display.max_rows', 200)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 10000)
pd.options.display.float_format = '{:.3f}'.format

In [4]:
pwd

'D:\\OneDrive\\Git\\Team6\\Ddareung\\notebooks'

In [5]:
def readcsv_(Path_folder, header = 0):

    file_list = notebook.tqdm([file for file in os.listdir(Path_folder) if file.endswith(('.csv','.xlsx'))])
    df_list = []
    encodings = ['utf-8', 'cp949', 'euc-kr', 'cp1252', 'cp850']

    for idx, file in enumerate(file_list): #, total = len(file_list), leave = True)
        print(f'({idx}) {file}')
        if file.endswith(".csv"):
            for cp in encodings:
                try:
                    locals()[f'df{idx+1}'] = pd.read_csv(Path_folder+file, encoding = cp, header = header)
                    df_list.append(locals()[f'df{idx+1}'])
                    break
                except: # 에러 종류
                    pass
        elif file.endswith(".xlsx"):
                locals()[f'df{idx+1}'] = pd.read_excel(Path_folder+file, header = header)
                df_list.append(locals()[f'df{idx+1}'])

        else:
            print(f'     {"*"*8}이 파일은 읽을 수 없습니다{"*"*8}')

    print(f'\n폴더 내 csv / xlsx 파일 개수: {len(file_list)}개')
    print(f'총 데이터프레임 개수: {len(df_list)}개')

    return df_list

In [6]:
# dt_index = pandas.date_range(start='20160901', end='20161031')
# # pandas.date_range(start='20160901', end='20161031',freq='W-MON')
# # 을 하면 해당 기간 매주 월요일들만 추출합니다.

# # type(dt_index) => DatetimeIndex
# # DatetimeIndex => list(str)
# dt_list = dt_index.strftime("%Y%m%d").tolist()

# for i in dt_list:
#     print(i)

In [7]:
# New = readcsv_(os.getcwd() + '/New data/')

## 거치소 정보

Bike_lock = pd.read_csv(os.getcwd() + '/New data/bike_location_final.csv')

Bike_lock

Bike_lock['대여소명'] = Bike_lock['대여소이름'].apply(lambda x: x.split('.')[1:][0])
Bike_lock['대여소번호'] = Bike_lock['대여소이름'].apply(lambda x: x.split('.')[0])

Bike_lock

Bike_location = pd.read_csv(os.getcwd() + '\\New data\\bike_location_final.csv', encoding = 'utf-8') # 최신 거치대 위치 정보

Bike_location['대여소명'] = Bike_location['대여소이름'].apply(lambda x: x.split('.')[1:][0])
Bike_location['대여소번호'] = Bike_location['대여소이름'].apply(lambda x: x.split('.')[0])

Bike_lock[Bike_lock['대여소번호'] == '1004']

len((set(Bike_location['대여소번호'].unique().tolist()))- set(list(Bike_lock['대여소번호'].unique().tolist())))

len( set(list(Bike_lock['대여소번호'].unique().tolist())) - (set(Bike_location['대여소번호'].unique().tolist())))

len( set(list(Bike_lock['대여소번호'].unique().tolist())))

In [8]:
# ## 자전거 대여이력(**사용량 정보 없음)

# History = New[6]

# History

# History['연'] = History['대여일시'].apply(lambda x: str(x)[0:4])
# History['월'] = History['대여일시'].apply(lambda x: str(x)[5:7])
# History['일'] = History['대여일시'].apply(lambda x: str(x)[8:11])

# History['대여날짜'] = History['대여날짜'].apply(lambda x: datetime.datetime.strptime(x, '%Y-%m-%d'))
# History['대여시각'] = History['대여시각'].apply(lambda x: datetime.datetime.strptime(x, '%H:%M'))
# # History['대여일시'] = History['대여일시'].apply(lambda x: datetime.datetime.strptime(x, '%Y-%m-%d %H:%M'))

# History['요일'] = History['대여날짜'].apply(lambda x: x.weekday())

# History['시간대'] = History['대여시각'].apply(lambda x: x.hour)

# # a = '20:20:00'
# # b= datetime.datetime.strptime(a, "%H:%M:%S")
# # b.hour()

# History

# History.info()

# History_group = History.groupby(['대여 대여소명','요일','시간대']).count()

## 2020 시간별 자전거 이용정보

In [9]:
pwd

'D:\\OneDrive\\Git\\Team6\\Ddareung\\notebooks'

In [12]:
Hour_bike_usage = pd.read_csv('../New data/Hour_bike_usage_2020.csv', encoding = 'cp949')

In [13]:
Hour_bike_usage[Hour_bike_usage['대여소번호']=='1002'].head(40)

Empty DataFrame
Columns: [대여일자, 대여시간, 대여소번호, 대여소명, 대여구분코드, 연령대코드, 이용건수, 운동량, 탄소량, 이동거리, 사용시간, 대여일자datetime, 요일, 연도, 월]
Index: []

In [14]:
Hour_bike_usage.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6054830 entries, 0 to 6054829
Data columns (total 15 columns):
 #   Column        Dtype
---  ------        -----
 0   대여일자          object
 1   대여시간          int64
 2   대여소번호         int64
 3   대여소명          object
 4   대여구분코드        object
 5   연령대코드         object
 6   이용건수          int64
 7   운동량           object
 8   탄소량           object
 9   이동거리          float64
 10  사용시간          int64
 11  대여일자datetime  object
 12  요일            int64
 13  연도            int64
 14  월             int64
dtypes: float64(1), int64(7), object(7)
memory usage: 692.9+ MB

In [12]:
# Hour_bike_usage[Hour_bike_usage['대여소번호'] == 99998]

In [13]:
# Hour_bike_usage['대여소명'] = Hour_bike_usage['대여소명'].apply(lambda x: x.split('.')[-1])
# Hour_bike_usage['대여일자datetime'] = Hour_bike_usage['대여일자'].apply(lambda x: datetime.datetime.strptime(x, '%Y-%m-%d'))
# Hour_bike_usage['요일'] = Hour_bike_usage['대여일자datetime'].apply(lambda x: x.weekday())
# Hour_bike_usage['연도'] = Hour_bike_usage['대여일자'].apply(lambda x: str(x)[:4])
# Hour_bike_usage['대여소 번호'] = Hour_bike_usage['대여소명'].apply(lambda x: x.split(".")[0])

In [15]:
Hour_bike_usage = Hour_bike_usage.astype({'대여시간':'str', '대여소번호' : 'str', '요일': 'str', '연도': 'str', '월':'str'})

In [16]:
# Hour_bike_usage[(Hour_bike_usage.대여소번호 == '1002') & (Hour_bike_usage.요일 == '0')].head(40)

In [17]:
col_to_drop = ['대여구분코드','연령대코드','운동량','탄소량','이동거리','사용시간','연도','월']

In [18]:
Hour_bike_usage.drop(col_to_drop, axis =1, inplace = True)

In [19]:
Hour_bike_usage

               대여일자 대여시간 대여소번호                  대여소명  이용건수 대여일자datetime 요일
0        2020-02-01    0  1442   1442. (구)신한은행 중랑교지점     1   2020-02-01  5
1        2020-02-01    0  1339    1339. 삼성전자서비스 성북센터     1   2020-02-01  5
2        2020-02-01    0  1960         1960. 화광신문사 앞     1   2020-02-01  5
3        2020-02-01    0   394       394. 경희궁 자이 3단지     1   2020-02-01  5
4        2020-02-01    0  1364      1364. 성북동 치안센터 앞     1   2020-02-01  5
...             ...  ...   ...                   ...   ...          ... ..
6054825  2020-06-30   23  1286  1286. 위례중앙푸르지오 1단지 앞     1   2020-06-30  1
6054826  2020-06-30   23  1456  1456. 상아빌딩(우림시장 교차로)     1   2020-06-30  1
6054827  2020-06-30   23  1447        1447. 면목역 3번출구     2   2020-06-30  1
6054828  2020-06-30   23  2002        2002. 노들역 1번출구     1   2020-06-30  1
6054829  2020-06-30   23  1761          1761.방학중학교 앞     2   2020-06-30  1

[6054830 rows x 7 columns]

In [20]:
groupby_d_d_h = Hour_bike_usage.groupby(['대여소명','대여소번호','대여일자','요일','대여시간'], as_index=False).sum()

In [21]:
groupby_d_d_h[groupby_d_d_h['대여소번호'] == '1002'].head(10)

                 대여소명 대여소번호        대여일자 요일 대여시간  이용건수
2238  1002. 해공공원(천호동)  1002  2020-02-01  5    0     2
2239  1002. 해공공원(천호동)  1002  2020-02-01  5   12     2
2240  1002. 해공공원(천호동)  1002  2020-02-01  5   14     1
2241  1002. 해공공원(천호동)  1002  2020-02-01  5   16     1
2242  1002. 해공공원(천호동)  1002  2020-02-01  5   17     3
2243  1002. 해공공원(천호동)  1002  2020-02-01  5   18     1
2244  1002. 해공공원(천호동)  1002  2020-02-01  5   19     1
2245  1002. 해공공원(천호동)  1002  2020-02-01  5    2     1
2246  1002. 해공공원(천호동)  1002  2020-02-01  5   20     1
2247  1002. 해공공원(천호동)  1002  2020-02-01  5   21     1

In [22]:
Hour_bike_usage_group = groupby_d_d_h.groupby(['대여소명','대여소번호','요일','대여시간'], as_index = False).mean()

In [23]:
Hour_bike_usage_group[Hour_bike_usage_group.대여소번호 == '1002']

                대여소명 대여소번호 요일 대여시간  이용건수
168  1002. 해공공원(천호동)  1002  0    0 2.222
169  1002. 해공공원(천호동)  1002  0    1 2.750
170  1002. 해공공원(천호동)  1002  0   10 2.333
171  1002. 해공공원(천호동)  1002  0   11 2.143
172  1002. 해공공원(천호동)  1002  0   12 2.429
173  1002. 해공공원(천호동)  1002  0   13 2.533
174  1002. 해공공원(천호동)  1002  0   14 2.667
175  1002. 해공공원(천호동)  1002  0   15 2.800
176  1002. 해공공원(천호동)  1002  0   16 4.133
177  1002. 해공공원(천호동)  1002  0   17 3.750
178  1002. 해공공원(천호동)  1002  0   18 5.500
179  1002. 해공공원(천호동)  1002  0   19 5.071
180  1002. 해공공원(천호동)  1002  0    2 2.000
181  1002. 해공공원(천호동)  1002  0   20 6.154
182  1002. 해공공원(천호동)  1002  0   21 4.733
183  1002. 해공공원(천호동)  1002  0   22 3.857
184  1002. 해공공원(천호동)  1002  0   23 3.000
185  1002. 해공공원(천호동)  1002  0    3 2.000
186  1002. 해공공원(천호동)  1002  0    4 1.167
187  1002. 해공공원(천호동)  1002  0    5 1.462
188  1002. 해공공원(천호동)  1002  0    6 1.923
189  1002. 해공공원(천호동)  1002  0    7 3.000
190  1002. 해공공원(천호동)  1002  0    8 4.412
191  1002. 해공공원(천호동)  1002  0    9 2.214
192  1002. 해공공원(천호동)  1002  1    0 3.167
193  1002. 해공공원(천호동)  1002  1    1 2.556
194  1002. 해공공원(천호동)  1002  1   10 2.000
195  1002. 해공공원(천호동)  1002  1   11 2.643
196  1002. 해공공원(천호동)  1002  1   12 1.786
197  1002. 해공공원(천호동)  1002  1   13 2.786
198  1002. 해공공원(천호동)  1002  1   14 3.000
199  1002. 해공공원(천호동)  1002  1   15 3.438
200  1002. 해공공원(천호동)  1002  1   16 5.667
201  1002. 해공공원(천호동)  1002  1   17 4.625
202  1002. 해공공원(천호동)  1002  1   18 5.875
203  1002. 해공공원(천호동)  1002  1   19 5.000
204  1002. 해공공원(천호동)  1002  1    2 1.286
205  1002. 해공공원(천호동)  1002  1   20 5.000
206  1002. 해공공원(천호동)  1002  1   21 5.000
207  1002. 해공공원(천호동)  1002  1   22 4.438
208  1002. 해공공원(천호동)  1002  1   23 3.357
209  1002. 해공공원(천호동)  1002  1    3 1.625
210  1002. 해공공원(천호동)  1002  1    4 1.750
211  1002. 해공공원(천호동)  1002  1    5 1.273
212  1002. 해공공원(천호동)  1002  1    6 2.444
213  1002. 해공공원(천호동)  1002  1    7 3.000
214  1002. 해공공원(천호동)  1002  1    8 5.714
215  1002. 해공공원(천호동)  1002  1    9 2.417
216  1002. 해공공원(천호동)  1002  2    0 2.929
217  1002. 해공공원(천호동)  1002  2    1 1.667
218  1002. 해공공원(천호동)  1002  2   10 1.545
219  1002. 해공공원(천호동)  1002  2   11 2.500
220  1002. 해공공원(천호동)  1002  2   12 2.900
221  1002. 해공공원(천호동)  1002  2   13 3.357
222  1002. 해공공원(천호동)  1002  2   14 4.231
223  1002. 해공공원(천호동)  1002  2   15 3.500
224  1002. 해공공원(천호동)  1002  2   16 6.357
225  1002. 해공공원(천호동)  1002  2   17 6.231
226  1002. 해공공원(천호동)  1002  2   18 4.688
227  1002. 해공공원(천호동)  1002  2   19 4.733
228  1002. 해공공원(천호동)  1002  2    2 2.000
229  1002. 해공공원(천호동)  1002  2   20 5.333
230  1002. 해공공원(천호동)  1002  2   21 4.462
231  1002. 해공공원(천호동)  1002  2   22 4.692
232  1002. 해공공원(천호동)  1002  2   23 3.667
233  1002. 해공공원(천호동)  1002  2    3 1.000
234  1002. 해공공원(천호동)  1002  2    4 2.000
235  1002. 해공공원(천호동)  1002  2    5 1.000
236  1002. 해공공원(천호동)  1002  2    6 2.077
237  1002. 해공공원(천호동)  1002  2    7 3.250
238  1002. 해공공원(천호동)  1002  2    8 5.571
239  1002. 해공공원(천호동)  1002  2    9 2.267
240  1002. 해공공원(천호동)  1002  3    0 2.333
241  1002. 해공공원(천호동)  1002  3    1 2.091
242  1002. 해공공원(천호동)  1002  3   10 2.200
243  1002. 해공공원(천호동)  1002  3   11 2.077
244  1002. 해공공원(천호동)  1002  3   12 2.067
245  1002. 해공공원(천호동)  1002  3   13 3.154
246  1002. 해공공원(천호동)  1002  3   14 3.533
247  1002. 해공공원(천호동)  1002  3   15 3.944
248  1002. 해공공원(천호동)  1002  3   16 3.667
249  1002. 해공공원(천호동)  1002  3   17 4.611
250  1002. 해공공원(천호동)  1002  3   18 5.667
251  1002. 해공공원(천호동)  1002  3   19 4.533
252  1002. 해공공원(천호동)  1002  3    2 1.375
253  1002. 해공공원(천호동)  1002  3   20 4.941
254  1002. 해공공원(천호동)  1002  3   21 6.357
255  1002. 해공공원(천호동)  1002  3   22 5.167
256  1002. 해공공원(천호동)  1002  3   23 3.643
257  1002. 해공공원(천호동)  1002  3    3 1.667
258  1002. 해공공원(천호동)  1002  3    4 1.286
259  1002. 해공공원(천호동)  1002  3    5 1.071
260  1002. 해공공원(천호동)  1002  3    6 1.750
261  1002. 해공공원(천호동)  1002  3    7 2.944
262  1002. 해공공원(천호동)  1002  3    8 4.875
263  1002. 해공공원(천호동)  1002  3    9 2.867
264  1002. 해공공원(천호동)  1002  4    0 3.636
265  1002. 해공공원(천호동)  1002  4    1 2.000
266  1002. 해공공원(천호동)  1002  4   10 1.545
267  1002. 해공공원(천호동)  1002  4   11 2.200
268  1002. 해공공원(천호동)  1002  4   12 2.154
269  1002. 해공공원(천호동)  1002  4   13 2.500
270  1002. 해공공원(천호동)  1002  4   14 2.538
271  1002. 해공공원(천호동)  1002  4   15 3.500
272  1002. 해공공원(천호동)  1002  4   16 4.643
273  1002. 해공공원(천호동)  1002  4   17 4.125
274  1002. 해공공원(천호동)  1002  4   18 4.444
275  1002. 해공공원(천호동)  1002  4   19 3.929
276  1002. 해공공원(천호동)  1002  4    2 1.636
277  1002. 해공공원(천호동)  1002  4   20 5.615
278  1002. 해공공원(천호동)  1002  4   21 5.455
279  1002. 해공공원(천호동)  1002  4   22 4.769
280  1002. 해공공원(천호동)  1002  4   23 3.667
281  1002. 해공공원(천호동)  1002  4    3 1.625
282  1002. 해공공원(천호동)  1002  4    4 1.167
283  1002. 해공공원(천호동)  1002  4    5 1.333
284  1002. 해공공원(천호동)  1002  4    6 1.800
285  1002. 해공공원(천호동)  1002  4    7 3.000
286  1002. 해공공원(천호동)  1002  4    8 3.667
287  1002. 해공공원(천호동)  1002  4    9 2.067
288  1002. 해공공원(천호동)  1002  5    0 2.667
289  1002. 해공공원(천호동)  1002  5    1 2.333
290  1002. 해공공원(천호동)  1002  5   10 2.667
291  1002. 해공공원(천호동)  1002  5   11 3.750
292  1002. 해공공원(천호동)  1002  5   12 5.133
293  1002. 해공공원(천호동)  1002  5   13 5.118
294  1002. 해공공원(천호동)  1002  5   14 5.158
295  1002. 해공공원(천호동)  1002  5   15 8.250
296  1002. 해공공원(천호동)  1002  5   16 8.000
297  1002. 해공공원(천호동)  1002  5   17 8.056
298  1002. 해공공원(천호동)  1002  5   18 5.789
299  1002. 해공공원(천호동)  1002  5   19 6.222
300  1002. 해공공원(천호동)  1002  5    2 3.000
301  1002. 해공공원(천호동)  1002  5   20 5.556
302  1002. 해공공원(천호동)  1002  5   21 6.882
303  1002. 해공공원(천호동)  1002  5   22 5.933
304  1002. 해공공원(천호동)  1002  5   23 3.824
305  1002. 해공공원(천호동)  1002  5    3 1.824
306  1002. 해공공원(천호동)  1002  5    4 1.143
307  1002. 해공공원(천호동)  1002  5    5 1.000
308  1002. 해공공원(천호동)  1002  5    6 1.364
309  1002. 해공공원(천호동)  1002  5    7 1.667
310  1002. 해공공원(천호동)  1002  5    8 2.083
311  1002. 해공공원(천호동)  1002  5    9 3.545
312  1002. 해공공원(천호동)  1002  6    0 3.750
313  1002. 해공공원(천호동)  1002  6    1 2.467
314  1002. 해공공원(천호동)  1002  6   10 2.235
315  1002. 해공공원(천호동)  1002  6   11 3.222
316  1002. 해공공원(천호동)  1002  6   12 5.706
317  1002. 해공공원(천호동)  1002  6   13 4.737
318  1002. 해공공원(천호동)  1002  6   14 6.278
319  1002. 해공공원(천호동)  1002  6   15 7.053
320  1002. 해공공원(천호동)  1002  6   16 7.895
321  1002. 해공공원(천호동)  1002  6   17 6.056
322  1002. 해공공원(천호동)  1002  6   18 7.235
323  1002. 해공공원(천호동)  1002  6   19 8.000
324  1002. 해공공원(천호동)  1002  6    2 2.125
325  1002. 해공공원(천호동)  1002  6   20 6.588
326  1002. 해공공원(천호동)  1002  6   21 5.625
327  1002. 해공공원(천호동)  1002  6   22 5.154
328  1002. 해공공원(천호동)  1002  6   23 2.538
329  1002. 해공공원(천호동)  1002  6    3 1.111
330  1002. 해공공원(천호동)  1002  6    4 1.111
331  1002. 해공공원(천호동)  1002  6    5 1.667
332  1002. 해공공원(천호동)  1002  6    6 1.278
333  1002. 해공공원(천호동)  1002  6    7 1.500
334  1002. 해공공원(천호동)  1002  6    8 1.909
335  1002. 해공공원(천호동)  1002  6    9 2.500

In [24]:
Hour_bike_usage_group[Hour_bike_usage_group['대여소명'].str.contains('여의나루역')]

                     대여소명 대여소번호 요일 대여시간   이용건수
123236  207. 여의나루역 1번출구 앞   207  0    0 14.353
123237  207. 여의나루역 1번출구 앞   207  0    1  8.462
123238  207. 여의나루역 1번출구 앞   207  0   10  4.688
123239  207. 여의나루역 1번출구 앞   207  0   11  9.176
123240  207. 여의나루역 1번출구 앞   207  0   12 10.000
123241  207. 여의나루역 1번출구 앞   207  0   13 16.000
123242  207. 여의나루역 1번출구 앞   207  0   14 20.684
123243  207. 여의나루역 1번출구 앞   207  0   15 28.000
123244  207. 여의나루역 1번출구 앞   207  0   16 35.824
123245  207. 여의나루역 1번출구 앞   207  0   17 47.053
123246  207. 여의나루역 1번출구 앞   207  0   18 50.111
123247  207. 여의나루역 1번출구 앞   207  0   19 31.588
123248  207. 여의나루역 1번출구 앞   207  0    2  7.909
123249  207. 여의나루역 1번출구 앞   207  0   20 24.389
123250  207. 여의나루역 1번출구 앞   207  0   21 23.611
123251  207. 여의나루역 1번출구 앞   207  0   22 21.733
123252  207. 여의나루역 1번출구 앞   207  0   23 10.944
123253  207. 여의나루역 1번출구 앞   207  0    3  3.250
123254  207. 여의나루역 1번출구 앞   207  0    4  2.857
123255  207. 여의나루역 1번출구 앞   207  0    5  1.000
123256  207. 여의나루역 1번출구 앞   207  0    6  2.529
123257  207. 여의나루역 1번출구 앞   207  0    7 13.789
123258  207. 여의나루역 1번출구 앞   207  0    8 16.684
123259  207. 여의나루역 1번출구 앞   207  0    9  5.684
123260  207. 여의나루역 1번출구 앞   207  1    0  8.000
123261  207. 여의나루역 1번출구 앞   207  1    1  6.571
123262  207. 여의나루역 1번출구 앞   207  1   10  4.857
123263  207. 여의나루역 1번출구 앞   207  1   11 12.188
123264  207. 여의나루역 1번출구 앞   207  1   12 10.000
123265  207. 여의나루역 1번출구 앞   207  1   13 14.353
123266  207. 여의나루역 1번출구 앞   207  1   14 19.222
123267  207. 여의나루역 1번출구 앞   207  1   15 22.263
123268  207. 여의나루역 1번출구 앞   207  1   16 28.579
123269  207. 여의나루역 1번출구 앞   207  1   17 48.333
123270  207. 여의나루역 1번출구 앞   207  1   18 43.632
123271  207. 여의나루역 1번출구 앞   207  1   19 35.632
123272  207. 여의나루역 1번출구 앞   207  1    2  4.917
123273  207. 여의나루역 1번출구 앞   207  1   20 30.474
123274  207. 여의나루역 1번출구 앞   207  1   21 25.765
123275  207. 여의나루역 1번출구 앞   207  1   22 18.167
123276  207. 여의나루역 1번출구 앞   207  1   23  9.579
123277  207. 여의나루역 1번출구 앞   207  1    3  3.667
123278  207. 여의나루역 1번출구 앞   207  1    4  2.545
123279  207. 여의나루역 1번출구 앞   207  1    5  1.333
123280  207. 여의나루역 1번출구 앞   207  1    6  2.667
123281  207. 여의나루역 1번출구 앞   207  1    7 11.353
123282  207. 여의나루역 1번출구 앞   207  1    8 18.000
123283  207. 여의나루역 1번출구 앞   207  1    9  5.875
123284  207. 여의나루역 1번출구 앞   207  2    0  8.765
123285  207. 여의나루역 1번출구 앞   207  2    1  6.706
123286  207. 여의나루역 1번출구 앞   207  2   10  5.929
123287  207. 여의나루역 1번출구 앞   207  2   11  8.067
123288  207. 여의나루역 1번출구 앞   207  2   12 10.500
123289  207. 여의나루역 1번출구 앞   207  2   13 15.438
123290  207. 여의나루역 1번출구 앞   207  2   14 26.250
123291  207. 여의나루역 1번출구 앞   207  2   15 31.625
123292  207. 여의나루역 1번출구 앞   207  2   16 43.111
123293  207. 여의나루역 1번출구 앞   207  2   17 58.765
123294  207. 여의나루역 1번출구 앞   207  2   18 55.389
123295  207. 여의나루역 1번출구 앞   207  2   19 39.250
123296  207. 여의나루역 1번출구 앞   207  2    2  4.917
123297  207. 여의나루역 1번출구 앞   207  2   20 31.944
123298  207. 여의나루역 1번출구 앞   207  2   21 32.706
123299  207. 여의나루역 1번출구 앞   207  2   22 26.533
123300  207. 여의나루역 1번출구 앞   207  2   23 18.438
123301  207. 여의나루역 1번출구 앞   207  2    3  2.800
123302  207. 여의나루역 1번출구 앞   207  2    4  1.700
123303  207. 여의나루역 1번출구 앞   207  2    5  1.286
123304  207. 여의나루역 1번출구 앞   207  2    6  2.176
123305  207. 여의나루역 1번출구 앞   207  2    7 13.889
123306  207. 여의나루역 1번출구 앞   207  2    8 15.500
123307  207. 여의나루역 1번출구 앞   207  2    9  5.235
123308  207. 여의나루역 1번출구 앞   207  3    0 13.588
123309  207. 여의나루역 1번출구 앞   207  3    1  6.846
123310  207. 여의나루역 1번출구 앞   207  3   10  5.375
123311  207. 여의나루역 1번출구 앞   207  3   11  7.188
123312  207. 여의나루역 1번출구 앞   207  3   12 10.611
123313  207. 여의나루역 1번출구 앞   207  3   13 14.235
123314  207. 여의나루역 1번출구 앞   207  3   14 21.250
123315  207. 여의나루역 1번출구 앞   207  3   15 32.529
123316  207. 여의나루역 1번출구 앞   207  3   16 33.765
123317  207. 여의나루역 1번출구 앞   207  3   17 48.389
123318  207. 여의나루역 1번출구 앞   207  3   18 44.611
123319  207. 여의나루역 1번출구 앞   207  3   19 33.778
123320  207. 여의나루역 1번출구 앞   207  3    2  4.846
123321  207. 여의나루역 1번출구 앞   207  3   20 26.389
123322  207. 여의나루역 1번출구 앞   207  3   21 28.333
123323  207. 여의나루역 1번출구 앞   207  3   22 21.889
123324  207. 여의나루역 1번출구 앞   207  3   23 14.412
123325  207. 여의나루역 1번출구 앞   207  3    3  3.000
123326  207. 여의나루역 1번출구 앞   207  3    4  2.000
123327  207. 여의나루역 1번출구 앞   207  3    5  1.667
123328  207. 여의나루역 1번출구 앞   207  3    6  1.941
123329  207. 여의나루역 1번출구 앞   207  3    7 11.611
123330  207. 여의나루역 1번출구 앞   207  3    8 16.833
123331  207. 여의나루역 1번출구 앞   207  3    9  4.824
123332  207. 여의나루역 1번출구 앞   207  4    0  9.600
123333  207. 여의나루역 1번출구 앞   207  4    1  6.643
123334  207. 여의나루역 1번출구 앞   207  4   10  6.000
123335  207. 여의나루역 1번출구 앞   207  4   11  7.867
123336  207. 여의나루역 1번출구 앞   207  4   12  8.765
123337  207. 여의나루역 1번출구 앞   207  4   13 16.071
123338  207. 여의나루역 1번출구 앞   207  4   14 20.867
123339  207. 여의나루역 1번출구 앞   207  4   15 21.444
123340  207. 여의나루역 1번출구 앞   207  4   16 37.562
123341  207. 여의나루역 1번출구 앞   207  4   17 49.059
123342  207. 여의나루역 1번출구 앞   207  4   18 48.250
123343  207. 여의나루역 1번출구 앞   207  4   19 28.444
123344  207. 여의나루역 1번출구 앞   207  4    2  4.083
123345  207. 여의나루역 1번출구 앞   207  4   20 30.235
123346  207. 여의나루역 1번출구 앞   207  4   21 25.688
123347  207. 여의나루역 1번출구 앞   207  4   22 24.467
123348  207. 여의나루역 1번출구 앞   207  4   23 16.533
123349  207. 여의나루역 1번출구 앞   207  4    3  3.556
123350  207. 여의나루역 1번출구 앞   207  4    4  2.571
123351  207. 여의나루역 1번출구 앞   207  4    5  2.250
123352  207. 여의나루역 1번출구 앞   207  4    6  1.750
123353  207. 여의나루역 1번출구 앞   207  4    7 10.611
123354  207. 여의나루역 1번출구 앞   207  4    8 12.941
123355  207. 여의나루역 1번출구 앞   207  4    9  5.188
123356  207. 여의나루역 1번출구 앞   207  5    0 16.000
123357  207. 여의나루역 1번출구 앞   207  5    1  7.824
123358  207. 여의나루역 1번출구 앞   207  5   10  7.176
123359  207. 여의나루역 1번출구 앞   207  5   11 14.278
123360  207. 여의나루역 1번출구 앞   207  5   12 14.556
123361  207. 여의나루역 1번출구 앞   207  5   13 28.706
123362  207. 여의나루역 1번출구 앞   207  5   14 33.778
123363  207. 여의나루역 1번출구 앞   207  5   15 45.263
123364  207. 여의나루역 1번출구 앞   207  5   16 62.056
123365  207. 여의나루역 1번출구 앞   207  5   17 57.400
123366  207. 여의나루역 1번출구 앞   207  5   18 59.500
123367  207. 여의나루역 1번출구 앞   207  5   19 47.263
123368  207. 여의나루역 1번출구 앞   207  5    2  6.250
123369  207. 여의나루역 1번출구 앞   207  5   20 45.000
123370  207. 여의나루역 1번출구 앞   207  5   21 37.667
123371  207. 여의나루역 1번출구 앞   207  5   22 34.059
123372  207. 여의나루역 1번출구 앞   207  5   23 24.167
123373  207. 여의나루역 1번출구 앞   207  5    3  4.600
123374  207. 여의나루역 1번출구 앞   207  5    4  3.000
123375  207. 여의나루역 1번출구 앞   207  5    5  2.200
123376  207. 여의나루역 1번출구 앞   207  5    6  2.200
123377  207. 여의나루역 1번출구 앞   207  5    7  3.000
123378  207. 여의나루역 1번출구 앞   207  5    8  3.286
123379  207. 여의나루역 1번출구 앞   207  5    9  5.500
123380  207. 여의나루역 1번출구 앞   207  6    0 21.588
123381  207. 여의나루역 1번출구 앞   207  6    1 13.933
123382  207. 여의나루역 1번출구 앞   207  6   10  9.706
123383  207. 여의나루역 1번출구 앞   207  6   11 13.588
123384  207. 여의나루역 1번출구 앞   207  6   12 17.316
123385  207. 여의나루역 1번출구 앞   207  6   13 26.300
123386  207. 여의나루역 1번출구 앞   207  6   14 39.316
123387  207. 여의나루역 1번출구 앞   207  6   15 46.500
123388  207. 여의나루역 1번출구 앞   207  6   16 63.278
123389  207. 여의나루역 1번출구 앞   207  6   17 68.947
123390  207. 여의나루역 1번출구 앞   207  6   18 60.316
123391  207. 여의나루역 1번출구 앞   207  6   19 51.944
123392  207. 여의나루역 1번출구 앞   207  6    2  7.812
123393  207. 여의나루역 1번출구 앞   207  6   20 43.722
123394  207. 여의나루역 1번출구 앞   207  6   21 35.889
123395  207. 여의나루역 1번출구 앞   207  6   22 29.188
123396  207. 여의나루역 1번출구 앞   207  6   23 18.500
123397  207. 여의나루역 1번출구 앞   207  6    3  5.000
123398  207. 여의나루역 1번출구 앞   207  6    4  4.444
123399  207. 여의나루역 1번출구 앞   207  6    5  2.000
123400  207. 여의나루역 1번출구 앞   207  6    6  2.375
123401  207. 여의나루역 1번출구 앞   207  6    7  2.000
123402  207. 여의나루역 1번출구 앞   207  6    8  3.529
123403  207. 여의나루역 1번출구 앞   207  6    9  4.722

In [25]:
# # 평균 -> 평균내면 안되고 sum 해야함
# Hour_bike_usage_group = Hour_bike_usage.groupby(['대여소명','대여소번호','요일','대여시간'],as_index = False).mean()

In [26]:
##### len(set(Hour_bike_usage_group['대여소번호'].unique()))

In [27]:
## 나중에 try/except, .format, int(h), range(24)로 간결하게 만들기.
### 00시, 01시 처럼 2자리로 만들어야함
def to_strhour_day(h):
        h = int(h)
        for i in range(24):
            if h == i:
                return f'평일 {h:02d}시'#.format(h)
            
def to_strhour_end(h):
        h = int(h)
        for i in range(24):
            if h == i:
                return f'주말 {h:02d}시'#.format(h)

In [28]:
def to_strday(d):
    try:
        d = int(d)
        for idx, D in enumerate(['월','화','수','목','금','토','일']):
            if d == idx:
                return D
    except:
        pass

### 요일 value 수정

In [29]:
Hour_bike_usage_group['요일'] = Hour_bike_usage_group['요일'].map(lambda x: to_strday(x))

In [30]:
Hour_bike_usage_group.head(40)

                         대여소명 대여소번호 요일 대여시간  이용건수
0   1001. 광진교 남단 사거리(디지털프라자앞)  1001  월    0 2.154
1   1001. 광진교 남단 사거리(디지털프라자앞)  1001  월    1 2.267
2   1001. 광진교 남단 사거리(디지털프라자앞)  1001  월   10 1.933
3   1001. 광진교 남단 사거리(디지털프라자앞)  1001  월   11 2.769
4   1001. 광진교 남단 사거리(디지털프라자앞)  1001  월   12 3.235
5   1001. 광진교 남단 사거리(디지털프라자앞)  1001  월   13 2.643
6   1001. 광진교 남단 사거리(디지털프라자앞)  1001  월   14 2.938
7   1001. 광진교 남단 사거리(디지털프라자앞)  1001  월   15 3.368
8   1001. 광진교 남단 사거리(디지털프라자앞)  1001  월   16 4.375
9   1001. 광진교 남단 사거리(디지털프라자앞)  1001  월   17 4.471
10  1001. 광진교 남단 사거리(디지털프라자앞)  1001  월   18 6.062
11  1001. 광진교 남단 사거리(디지털프라자앞)  1001  월   19 4.312
12  1001. 광진교 남단 사거리(디지털프라자앞)  1001  월    2 1.875
13  1001. 광진교 남단 사거리(디지털프라자앞)  1001  월   20 5.167
14  1001. 광진교 남단 사거리(디지털프라자앞)  1001  월   21 3.600
15  1001. 광진교 남단 사거리(디지털프라자앞)  1001  월   22 4.500
16  1001. 광진교 남단 사거리(디지털프라자앞)  1001  월   23 2.133
17  1001. 광진교 남단 사거리(디지털프라자앞)  1001  월    3 1.222
18  1001. 광진교 남단 사거리(디지털프라자앞)  1001  월    4 1.400
19  1001. 광진교 남단 사거리(디지털프라자앞)  1001  월    5 1.000
20  1001. 광진교 남단 사거리(디지털프라자앞)  1001  월    6 1.167
21  1001. 광진교 남단 사거리(디지털프라자앞)  1001  월    7 1.917
22  1001. 광진교 남단 사거리(디지털프라자앞)  1001  월    8 2.947
23  1001. 광진교 남단 사거리(디지털프라자앞)  1001  월    9 2.417
24  1001. 광진교 남단 사거리(디지털프라자앞)  1001  화    0 2.769
25  1001. 광진교 남단 사거리(디지털프라자앞)  1001  화    1 3.133
26  1001. 광진교 남단 사거리(디지털프라자앞)  1001  화   10 2.636
27  1001. 광진교 남단 사거리(디지털프라자앞)  1001  화   11 2.231
28  1001. 광진교 남단 사거리(디지털프라자앞)  1001  화   12 3.000
29  1001. 광진교 남단 사거리(디지털프라자앞)  1001  화   13 3.800
30  1001. 광진교 남단 사거리(디지털프라자앞)  1001  화   14 2.938
31  1001. 광진교 남단 사거리(디지털프라자앞)  1001  화   15 5.267
32  1001. 광진교 남단 사거리(디지털프라자앞)  1001  화   16 4.842
33  1001. 광진교 남단 사거리(디지털프라자앞)  1001  화   17 6.062
34  1001. 광진교 남단 사거리(디지털프라자앞)  1001  화   18 6.889
35  1001. 광진교 남단 사거리(디지털프라자앞)  1001  화   19 6.556
36  1001. 광진교 남단 사거리(디지털프라자앞)  1001  화    2 2.222
37  1001. 광진교 남단 사거리(디지털프라자앞)  1001  화   20 5.737
38  1001. 광진교 남단 사거리(디지털프라자앞)  1001  화   21 4.529
39  1001. 광진교 남단 사거리(디지털프라자앞)  1001  화   22 4.176

In [31]:
Hour_bike_usage_group.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 288909 entries, 0 to 288908
Data columns (total 5 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   대여소명    288909 non-null  object
 1   대여소번호   288909 non-null  object
 2   요일      288909 non-null  object
 3   대여시간    288909 non-null  object
 4   이용건수    288909 non-null  float64
dtypes: float64(1), object(4)
memory usage: 13.2+ MB

### 평일 이용량
- 거치소별 1년간 평일 평균 24시간 동안 각시간별 사용량

In [32]:
Hour_bike_usage_weekday = Hour_bike_usage_group[(Hour_bike_usage_group['요일'] == '월') |
                     (Hour_bike_usage_group['요일'] == '화') |
                     (Hour_bike_usage_group['요일'] == '수') | 
                     (Hour_bike_usage_group['요일'] == '목') | 
                     (Hour_bike_usage_group['요일'] == '금')]

Hour_bike_usage_weekday = Hour_bike_usage_weekday.astype({'대여소번호' : 'int32'})

Hour_bike_usage_weekday = Hour_bike_usage_weekday.astype({'대여소번호' : 'str'})

#### 시간대 수정

In [33]:
Hour_bike_usage_weekday['대여시간'] = Hour_bike_usage_weekday['대여시간'].map(lambda x: to_strhour_day(x))

<ipython-input-33-fdd3d13f76b1>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Hour_bike_usage_weekday['대여시간'] = Hour_bike_usage_weekday['대여시간'].map(lambda x: to_strhour_day(x))

In [34]:
Hour_bike_usage_weekday

                             대여소명 대여소번호 요일    대여시간  이용건수
0       1001. 광진교 남단 사거리(디지털프라자앞)  1001  월  평일 00시 2.154
1       1001. 광진교 남단 사거리(디지털프라자앞)  1001  월  평일 01시 2.267
2       1001. 광진교 남단 사거리(디지털프라자앞)  1001  월  평일 10시 1.933
3       1001. 광진교 남단 사거리(디지털프라자앞)  1001  월  평일 11시 2.769
4       1001. 광진교 남단 사거리(디지털프라자앞)  1001  월  평일 12시 3.235
...                           ...   ... ..     ...   ...
288904                       중랑센터     3  목  평일 18시 1.000
288905                       중랑센터     3  금  평일 16시 1.000
288906                       중랑센터     3  금  평일 17시 1.000
288907                       중랑센터     3  금  평일 18시 1.000
288908                       천호센터  9988  화  평일 14시 1.000

[203961 rows x 5 columns]

In [35]:
Hour_bike_usage_weekday[Hour_bike_usage_weekday.대여소번호.isna()]

Empty DataFrame
Columns: [대여소명, 대여소번호, 요일, 대여시간, 이용건수]
Index: []

In [36]:
Hour_bike_usage_weekday.isna().sum()

대여소명     0
대여소번호    0
요일       0
대여시간     0
이용건수     0
dtype: int64

In [37]:
len(set(Hour_bike_usage_weekday['대여소번호'].unique()))

2074

In [38]:
# set(Hour_bike_usage_weekday.sort_values('대여소명')['대여소명'])

In [39]:
Hour_bike_usage_weekday_mean = Hour_bike_usage_weekday.groupby(['대여소명','대여소번호','대여시간'], as_index = False).mean()

In [40]:
# Hour_bike_usage_weekday.drop('요일', axis = 1).groupby(['대여소명','대여소번호','대여시간'], as_index = False).mean()

In [41]:
Hour_bike_usage_weekday_mean

                            대여소명 대여소번호    대여시간  이용건수
0      1001. 광진교 남단 사거리(디지털프라자앞)  1001  평일 00시 2.458
1      1001. 광진교 남단 사거리(디지털프라자앞)  1001  평일 01시 2.486
2      1001. 광진교 남단 사거리(디지털프라자앞)  1001  평일 02시 1.920
3      1001. 광진교 남단 사거리(디지털프라자앞)  1001  평일 03시 1.222
4      1001. 광진교 남단 사거리(디지털프라자앞)  1001  평일 04시 1.237
...                          ...   ...     ...   ...
46191                       중랑센터     3  평일 15시 1.000
46192                       중랑센터     3  평일 16시 1.000
46193                       중랑센터     3  평일 17시 1.600
46194                       중랑센터     3  평일 18시 1.000
46195                       천호센터  9988  평일 14시 1.000

[46196 rows x 4 columns]

In [42]:
Hour_bike_usage_weekday_mean.isna().sum()

대여소명     0
대여소번호    0
대여시간     0
이용건수     0
dtype: int64

#### 시간대별 추이

In [64]:
Hour_bike_usage_weekday_mean

                            대여소명 대여소번호    대여시간  이용건수
0      1001. 광진교 남단 사거리(디지털프라자앞)  1001  평일 00시 2.458
1      1001. 광진교 남단 사거리(디지털프라자앞)  1001  평일 01시 2.486
2      1001. 광진교 남단 사거리(디지털프라자앞)  1001  평일 02시 1.920
3      1001. 광진교 남단 사거리(디지털프라자앞)  1001  평일 03시 1.222
4      1001. 광진교 남단 사거리(디지털프라자앞)  1001  평일 04시 1.237
...                          ...   ...     ...   ...
46191                       중랑센터     3  평일 15시 1.000
46192                       중랑센터     3  평일 16시 1.000
46193                       중랑센터     3  평일 17시 1.600
46194                       중랑센터     3  평일 18시 1.000
46195                       천호센터  9988  평일 14시 1.000

[46196 rows x 4 columns]

In [71]:
df_1 = pd.pivot_table(Hour_bike_usage_weekday_mean, values = '이용건수', columns = '대여시간')

In [72]:
Hour_bike_usage_weekday_mean.groupby(by = '대여시간', as_index=False).mean()

      대여시간  이용건수
0   평일 00시 1.752
1   평일 01시 1.570
2   평일 02시 1.414
3   평일 03시 1.294
4   평일 04시 1.208
5   평일 05시 1.185
6   평일 06시 1.362
7   평일 07시 2.014
8   평일 08시 2.729
9   평일 09시 1.928
10  평일 10시 1.723
11  평일 11시 1.924
12  평일 12시 2.100
13  평일 13시 2.208
14  평일 14시 2.383
15  평일 15시 2.551
16  평일 16시 2.814
17  평일 17시 3.502
18  평일 18시 4.054
19  평일 19시 3.117
20  평일 20시 2.856
21  평일 21시 2.680
22  평일 22시 2.440
23  평일 23시 1.998

#### 평일 trainset

In [43]:
Weekday_trainset = pd.pivot_table(Hour_bike_usage_weekday_mean, index = ['대여소명','대여소번호'],columns= '대여시간', values = '이용건수')#.reset_index()

In [44]:
Weekday_trainset.reset_index(inplace = True)

In [45]:
Weekday_trainset[Weekday_trainset.대여소명.str.contains('여의나루')]

대여시간               대여소명 대여소번호  평일 00시  평일 01시  평일 02시  평일 03시  평일 04시  평일 05시  평일 06시  평일 07시  평일 08시  평일 09시  평일 10시  평일 11시  평일 12시  평일 13시  평일 14시  평일 15시  평일 16시  평일 17시  평일 18시  평일 19시  평일 20시  평일 21시  평일 22시  평일 23시
819   207. 여의나루역 1번출구 앞   207  10.861   7.046   5.334   3.254   2.335   1.507   2.213  12.251  15.992   5.361   5.370   8.897   9.975  15.219  21.655  27.172  35.768  50.320  48.399  33.738  28.686  27.221  22.558  13.981

In [46]:
Weekday_trainset.isna().sum()

대여시간
대여소명        0
대여소번호       0
평일 00시    152
평일 01시    197
평일 02시    248
평일 03시    301
평일 04시    386
평일 05시    365
평일 06시    223
평일 07시    143
평일 08시    111
평일 09시    130
평일 10시    141
평일 11시    136
평일 12시    111
평일 13시    103
평일 14시     89
평일 15시     81
평일 16시     69
평일 17시     63
평일 18시     55
평일 19시     65
평일 20시     91
평일 21시    101
평일 22시    123
평일 23시    144
dtype: int64

In [47]:
Weekday_trainset.fillna(0, inplace = True)

### 주말 이용량
- 거치소별 1년간 평일 평균 24시간 동안 각시간별 사용량

In [49]:
Hour_bike_usage_weekend = Hour_bike_usage_group[(Hour_bike_usage_group['요일'] == '토') |
                     (Hour_bike_usage_group['요일'] == '일')]

Hour_bike_usage_weekday = Hour_bike_usage_weekday.astype({'대여소번호' : 'int32'})

Hour_bike_usage_weekday = Hour_bike_usage_weekday.astype({'대여소번호' : 'str'})

#### 시간대 수정

In [50]:
Hour_bike_usage_weekend['대여시간'] = Hour_bike_usage_weekend['대여시간'].map(lambda x: to_strhour_end(x))

<ipython-input-50-039a2e6b0ad0>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Hour_bike_usage_weekend['대여시간'] = Hour_bike_usage_weekend['대여시간'].map(lambda x: to_strhour_end(x))

In [51]:
Hour_bike_usage_weekend

                             대여소명 대여소번호 요일    대여시간  이용건수
120     1001. 광진교 남단 사거리(디지털프라자앞)  1001  토  주말 00시 2.929
121     1001. 광진교 남단 사거리(디지털프라자앞)  1001  토  주말 01시 3.643
122     1001. 광진교 남단 사거리(디지털프라자앞)  1001  토  주말 10시 2.000
123     1001. 광진교 남단 사거리(디지털프라자앞)  1001  토  주말 11시 3.000
124     1001. 광진교 남단 사거리(디지털프라자앞)  1001  토  주말 12시 3.714
...                           ...   ... ..     ...   ...
288886                        위트콤    10  일  주말 15시 1.500
288887                        위트콤    10  일  주말 16시 1.000
288888                        위트콤    10  일  주말 17시 1.000
288889                        위트콤    10  일  주말 18시 1.000
288890                        위트콤    10  일  주말 21시 1.000

[84948 rows x 5 columns]

In [52]:
Hour_bike_usage_weekend[Hour_bike_usage_weekend.대여소번호.isna()]

Empty DataFrame
Columns: [대여소명, 대여소번호, 요일, 대여시간, 이용건수]
Index: []

In [53]:
Hour_bike_usage_weekend.isna().sum()

대여소명     0
대여소번호    0
요일       0
대여시간     0
이용건수     0
dtype: int64

In [54]:
len(set(Hour_bike_usage_weekend['대여소번호'].unique()))

2042

In [55]:
# set(Hour_bike_usage_weekday.sort_values('대여소명')['대여소명'])

In [56]:
Hour_bike_usage_weekend_mean = Hour_bike_usage_weekend.groupby(['대여소명','대여소번호','대여시간'], as_index = False).mean()

In [57]:
# Hour_bike_usage_weekday.drop('요일', axis = 1).groupby(['대여소명','대여소번호','대여시간'], as_index = False).mean()

In [58]:
Hour_bike_usage_weekend_mean

                            대여소명 대여소번호    대여시간  이용건수
0      1001. 광진교 남단 사거리(디지털프라자앞)  1001  주말 00시 3.164
1      1001. 광진교 남단 사거리(디지털프라자앞)  1001  주말 01시 3.478
2      1001. 광진교 남단 사거리(디지털프라자앞)  1001  주말 02시 2.135
3      1001. 광진교 남단 사거리(디지털프라자앞)  1001  주말 03시 1.931
4      1001. 광진교 남단 사거리(디지털프라자앞)  1001  주말 04시 1.532
...                          ...   ...     ...   ...
44985                        위트콤    10  주말 16시 1.000
44986                        위트콤    10  주말 17시 1.000
44987                        위트콤    10  주말 18시 1.000
44988                        위트콤    10  주말 19시 1.000
44989                        위트콤    10  주말 21시 1.000

[44990 rows x 4 columns]

#### 주말 trainset

In [59]:
Weekend_trainset = pd.pivot_table(Hour_bike_usage_weekend_mean, index = ['대여소명','대여소번호'],columns= '대여시간', values = '이용건수')#.reset_index()

In [60]:
Weekend_trainset.reset_index(inplace = True)

In [61]:
Weekend_trainset[Weekend_trainset.대여소명.str.contains('여의나루')]

대여시간               대여소명 대여소번호  주말 00시  주말 01시  주말 02시  주말 03시  주말 04시  주말 05시  주말 06시  주말 07시  주말 08시  주말 09시  주말 10시  주말 11시  주말 12시  주말 13시  주말 14시  주말 15시  주말 16시  주말 17시  주말 18시  주말 19시  주말 20시  주말 21시  주말 22시  주말 23시
813   207. 여의나루역 1번출구 앞   207  18.794  10.878   7.031   4.800   3.722   2.100   2.288   2.500   3.408   5.111   8.441  13.933  15.936  27.503  36.547  45.882  62.667  63.174  59.908  49.604  44.361  36.778  31.623  21.333

In [62]:
Weekend_trainset.isna().sum()

대여시간
대여소명        0
대여소번호       0
주말 00시    152
주말 01시    189
주말 02시    229
주말 03시    299
주말 04시    427
주말 05시    486
주말 06시    394
주말 07시    282
주말 08시    198
주말 09시    156
주말 10시    124
주말 11시    124
주말 12시    116
주말 13시    102
주말 14시    100
주말 15시     93
주말 16시     81
주말 17시     73
주말 18시     43
주말 19시     47
주말 20시     55
주말 21시     80
주말 22시     87
주말 23시    129
dtype: int64

In [63]:
Weekend_trainset.fillna(0, inplace = True)

### 주말/평일 차이 확인

#### 주말 이용 대여소 - 평일 이용 대여소

In [62]:
len(set(Weekend_trainset['대여소번호'].unique()) - set(Weekday_trainset['대여소번호'].unique()))

2

In [63]:
set(Weekend_trainset['대여소번호'].unique()) - set(Weekday_trainset['대여소번호'].unique())

{'2525', '3425'}

In [64]:
Weekend_trainset[Weekend_trainset['대여소번호'] == '2525']

대여시간              대여소명 대여소번호  주말 00시  주말 01시  주말 02시  주말 03시  주말 04시  주말 05시  주말 06시  주말 07시  주말 08시  주말 09시  주말 10시  주말 11시  주말 12시  주말 13시  주말 14시  주말 15시  주말 16시  주말 17시  주말 18시  주말 19시  주말 20시  주말 21시  주말 22시  주말 23시
1150  2525.반포쇼핑타운 2동 앞  2525   0.000   0.000   0.000   1.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   1.000   1.000   1.000   0.000   0.000   2.000   0.000   0.000

In [65]:
Weekday_trainset[Weekday_trainset['대여소번호'] == '2525']

Empty DataFrame
Columns: [대여소명, 대여소번호, 평일 00시, 평일 01시, 평일 02시, 평일 03시, 평일 04시, 평일 05시, 평일 06시, 평일 07시, 평일 08시, 평일 09시, 평일 10시, 평일 11시, 평일 12시, 평일 13시, 평일 14시, 평일 15시, 평일 16시, 평일 17시, 평일 18시, 평일 19시, 평일 20시, 평일 21시, 평일 22시, 평일 23시]
Index: []

#### 평일 이용 대여소 - 주말 이용 대여소

In [66]:
len(set(Weekday_trainset['대여소번호'].unique()) - set(Weekend_trainset['대여소번호'].unique()))

34

In [67]:
set(Weekday_trainset['대여소번호'].unique()) - set(Weekend_trainset['대여소번호'].unique())

{'1070',
 '1474',
 '1476',
 '1687',
 '1746',
 '1769',
 '2073',
 '2083',
 '2394',
 '2427',
 '2546',
 '2548',
 '2549',
 '2657',
 '2705',
 '2708',
 '2719',
 '2726',
 '3',
 '3108',
 '3124',
 '3421',
 '3562',
 '3576',
 '496',
 '5',
 '861',
 '9988',
 '9989',
 '9990',
 '9997',
 '9998',
 '99998',
 '99999'}

In [68]:
Weekday_trainset[Weekday_trainset['대여소번호'] == '9998']

대여시간              대여소명 대여소번호  평일 00시  평일 01시  평일 02시  평일 03시  평일 04시  평일 05시  평일 06시  평일 07시  평일 08시  평일 09시  평일 10시  평일 11시  평일 12시  평일 13시  평일 14시  평일 15시  평일 16시  평일 17시  평일 18시  평일 19시  평일 20시  평일 21시  평일 22시  평일 23시
2066  9998. 영남주차장 정비센터  9998   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   1.000   0.000   0.000   0.000   1.000   0.000   0.000   0.000   0.000   0.000

In [69]:
Weekend_trainset[Weekend_trainset['대여소번호'] == '9998']

Empty DataFrame
Columns: [대여소명, 대여소번호, 주말 00시, 주말 01시, 주말 02시, 주말 03시, 주말 04시, 주말 05시, 주말 06시, 주말 07시, 주말 08시, 주말 09시, 주말 10시, 주말 11시, 주말 12시, 주말 13시, 주말 14시, 주말 15시, 주말 16시, 주말 17시, 주말 18시, 주말 19시, 주말 20시, 주말 21시, 주말 22시, 주말 23시]
Index: []

In [70]:
Weekday_trainset[Weekday_trainset['대여소번호'] == '1002']

대여시간             대여소명 대여소번호  평일 00시  평일 01시  평일 02시  평일 03시  평일 04시  평일 05시  평일 06시  평일 07시  평일 08시  평일 09시  평일 10시  평일 11시  평일 12시  평일 13시  평일 14시  평일 15시  평일 16시  평일 17시  평일 18시  평일 19시  평일 20시  평일 21시  평일 22시  평일 23시
1     1002. 해공공원(천호동)  1002   2.857   2.213   1.659   1.583   1.474   1.228   1.999   3.039   4.848   2.366   1.925   2.313   2.267   2.866   3.194   3.436   4.893   4.668   5.235   4.653   5.409   5.201   4.585   3.467

#### 주말 & 평일 교집합

In [71]:
len(set(Weekday_trainset['대여소번호'].unique()) & set(Weekend_trainset['대여소번호'].unique()))

2040

### 주말+평일 train set

In [72]:
Weekend_trainset

대여시간                       대여소명 대여소번호  주말 00시  주말 01시  주말 02시  주말 03시  주말 04시  주말 05시  주말 06시  주말 07시  주말 08시  주말 09시  주말 10시  주말 11시  주말 12시  주말 13시  주말 14시  주말 15시  주말 16시  주말 17시  주말 18시  주말 19시  주말 20시  주말 21시  주말 22시  주말 23시
0     1001. 광진교 남단 사거리(디지털프라자앞)  1001   3.164   3.478   2.135   1.931   1.532   1.396   1.250   1.408   1.885   1.885   2.091   3.000   3.557   4.524   6.417   6.645   6.709   6.861   6.778   5.105   5.513   5.037   5.033   3.376
1               1002. 해공공원(천호동)  1002   3.208   2.400   2.562   1.467   1.127   1.333   1.321   1.583   1.996   3.023   2.451   3.486   5.420   4.927   5.718   7.651   7.947   7.056   6.512   7.111   6.072   6.254   5.544   3.181
2                  1003. 해공도서관앞  1003   1.757   1.529   1.607   1.688   1.250   1.200   1.500   1.167   1.618   1.881   1.960   1.822   3.068   2.611   2.696   2.385   2.571   2.494   1.941   2.269   2.208   2.267   2.288   1.857
3          1004. 삼성광나루아파트 버스정류장  1004   2.083   1.700   1.825   1.514   1.000   1.250   1.292   1.333   1.857   1.688   2.887   2.782   3.900   4.515   6.044   5.131   6.339   5.327   5.118   5.179   4.174   3.750   3.872   2.524
4              1006. 롯데캐슬 115동앞  1006   1.642   1.361   1.670   1.163   2.000   1.000   1.125   1.500   1.310   1.833   1.867   2.385   1.819   1.893   3.157   2.321   3.110   3.286   2.476   2.551   3.067   2.074   2.225   1.467
...                         ...   ...     ...     ...     ...     ...     ...     ...     ...     ...     ...     ...     ...     ...     ...     ...     ...     ...     ...     ...     ...     ...     ...     ...     ...     ...
2039               995.은평다목적체육관   995   0.000   0.000   1.000   0.000   0.000   0.000   0.000   1.000   0.000   0.000   1.000   0.000   0.000   2.000   1.500   1.000   0.000   1.000   2.000   4.500   3.000   1.000   0.000   0.000
2040               996.응암역 1번출구   996   2.250   1.500   1.000   2.250   1.000   0.000   1.500   3.000   1.500   3.500   4.000   4.500   2.250   2.000   4.500   6.500   2.500   2.500   3.250   6.500   2.500   3.500   5.000   5.500
2041                 9993. 개화정비  9993   0.000   1.000   1.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   1.000   0.000   0.000   0.000   0.000   0.000   1.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000
2042                       상담센터  9999   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   1.000   0.000   1.000   0.000   1.000   1.000   1.000   0.000   0.000   0.000   0.000
2043                        위트콤    10   0.000   0.000   0.000   1.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   1.000   1.000   0.000   1.000   1.250   1.000   1.000   1.000   1.000   0.000   1.000   0.000   0.000

[2044 rows x 26 columns]

In [73]:
Wholeweek_trainset = pd.merge(Weekday_trainset, Weekend_trainset, on = '대여소번호', how = 'outer')

In [86]:
Wholeweek_trainset.isna().sum()

대여시간
대여소명_x    0
대여소번호     0
평일 00시    0
평일 01시    0
평일 02시    0
평일 03시    0
평일 04시    0
평일 05시    0
평일 06시    0
평일 07시    0
평일 08시    0
평일 09시    0
평일 10시    0
평일 11시    0
평일 12시    0
평일 13시    0
평일 14시    0
평일 15시    0
평일 16시    0
평일 17시    0
평일 18시    0
평일 19시    0
평일 20시    0
평일 21시    0
평일 22시    0
평일 23시    0
대여소명_y    0
주말 00시    0
주말 01시    0
주말 02시    0
주말 03시    0
주말 04시    0
주말 05시    0
주말 06시    0
주말 07시    0
주말 08시    0
주말 09시    0
주말 10시    0
주말 11시    0
주말 12시    0
주말 13시    0
주말 14시    0
주말 15시    0
주말 16시    0
주말 17시    0
주말 18시    0
주말 19시    0
주말 20시    0
주말 21시    0
주말 22시    0
주말 23시    0
dtype: int64

In [81]:
Wholeweek_trainset[Wholeweek_trainset['주말 05시'].isna()]

대여시간                     대여소명_x  대여소번호  평일 00시  평일 01시  평일 02시  평일 03시  평일 04시  평일 05시  평일 06시  평일 07시  평일 08시  평일 09시  평일 10시  평일 11시  평일 12시  평일 13시  평일 14시  평일 15시  평일 16시  평일 17시  평일 18시  평일 19시  평일 20시  평일 21시  평일 22시  평일 23시 대여소명_y  주말 00시  주말 01시  주말 02시  주말 03시  주말 04시  주말 05시  주말 06시  주말 07시  주말 08시  주말 09시  주말 10시  주말 11시  주말 12시  주말 13시  주말 14시  주말 15시  주말 16시  주말 17시  주말 18시  주말 19시  주말 20시  주말 21시  주말 22시  주말 23시
73             1070.(시립)고덕평생학습관   1070   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   1.000   0.000   2.000   0.000   0.000   0.000   1.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000    NaN     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan
431                1474.서울중랑우체국   1474   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   1.000   1.000   0.000   0.000   1.000   1.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000    NaN     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan
433            1476.중목초등학교 앞 육교   1476   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   1.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000    NaN     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan
570          1687. 서울월드컵경기장 테스트   1687   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   1.000   0.000   0.000   0.000   1.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000    NaN     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan
619              1746. 다이소방학점 앞   1746   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   1.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000    NaN     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan
633             1769.신동아아파트 교차로   1769   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   1.000   0.000   0.000   0.000   0.000   0.000   0.000    NaN     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan
824           2073.동작상떼빌 103동 앞   2073   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   1.000   0.000   0.000   0.000    NaN     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan
830       2083.흑석롯데캐슬에듀포레(107동)   2083   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   1.000   0.000   1.000   0.000   1.000   0.000   1.000   2.000   1.000   0.000   1.000   0.000   1.000   0.000    NaN     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan
1098  2394. 래미안강남포레스트 입구 (보도육교)   2394   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   2.000   1.000   0.000   0.000   0.000   0.000   0.000   0.000    NaN     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan
1129            2427.개포고등학교 정문앞   2427   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   2.000   0.000   0.000   0.000    NaN     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan
1181              2546.한신18차아파트   2546   0.000   0.000   0.000   0.000   0.000   0.000   0.000   1.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   1.000   1.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000    NaN     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan
1183         2548.반포1동 자율방범초소 옆   2548   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   1.000   0.000   0.000    NaN     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan
1184        2549.LH 서초 4단지 403동   2549   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   1.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000    NaN     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan
1243         2657.송파 파인타운 11단지    2657   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   2.000   2.000   1.000   2.000   1.000   0.000   0.000   0.000    NaN     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan
1254             2705.홈플러스(가양점)   2705   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   1.000   0.000   0.000   0.000   1.000   0.000    NaN     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan
1257            2708.강서한강자이타워 앞   2708   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   2.000   2.000   4.000   2.000   5.000   1.000   0.000   0.000   0.000   1.000    NaN     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan
1269                2719.마곡문화공원   2719   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   2.000   8.000   2.000   0.000   0.000   0.000   0.000   0.000    NaN     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan
1277           2726.서울식물원 주제원입구   2726   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   1.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000    NaN     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan
1386                3108.서울홍성교회   3108   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   1.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000    NaN     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan
1403         3124.DMC센트럴아이파크아파트   3124   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   1.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000    NaN     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan
1474              3421.혜화역 1번출구   3421   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   1.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000    NaN     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan
1552              3562.행당중학교 후문   3562   0.000   0.000   1.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000    NaN     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan
1560            3576.강변SK뷰 APT앞   3576   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   1.000   0.000   0.000   0.000   0.000   0.000   1.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000    NaN     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan
1690               496.마포아트센터 앞    496   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   1.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000    NaN     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan
1980                 861.삼익상가 앞    861   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   1.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000    NaN     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan
2069                  9997.강남센터   9997   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   1.000   1.000   0.000   1.100   1.000   1.000   1.000   1.000   1.283   1.000   0.000   0.000   0.000   0.000    NaN     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan
2070           9998. 영남주차장 정비센터   9998   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   1.000   0.000   0.000   0.000   1.000   0.000   0.000   0.000   0.000   0.000    NaN     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan
2071              99998. 상암단말정비  99998   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   1.000   0.000   1.000   0.000   0.000   1.000   0.000   1.000   1.000   1.000   0.000   0.000   0.000   0.000   0.000    NaN     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan
2072             99999. 영남단말기정비  99999   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   1.000   1.000   0.000   0.000   0.000   1.000   0.000   1.000   1.000   1.000   1.067   1.000   0.000   0.000   0.000   0.000    NaN     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan
2073                       도봉센터   9990   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   1.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000    NaN     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan
2075                   상암센터 정비실      5   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   1.000   1.833   1.000   0.000   1.500   1.000   1.333   1.200   1.333   1.000   1.000   0.000   0.000   0.000   0.000    NaN     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan
2077                       종묘센터   9989   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   1.000   0.000   0.000   0.000   0.000   2.000   0.000   0.000   0.000   0.000   1.000   0.000   0.000   0.000   0.000    NaN     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan
2078                       중랑센터      3   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   1.000   0.000   0.000   1.000   0.000   1.000   1.000   1.600   1.000   0.000   0.000   0.000   0.000   0.000    NaN     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan
2079                       천호센터   9988   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   1.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000    NaN     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan     nan

In [83]:
Wholeweek_trainset.fillna(0,inplace = True)

In [84]:
Wholeweek_trainset.shape

(2082, 51)

In [87]:
Wholeweek_trainset.drop('대여소명_y', axis = 1, inplace = True)

In [88]:
Wholeweek_trainset.rename(columns={'대여소명_x':'대여소명'}, inplace= True)

In [92]:
Wholeweek_trainset[Wholeweek_trainset.대여소명.str.contains('여의')]

ValueError: Cannot mask with non-boolean array containing NA / NaN values

In [93]:
Wholeweek_trainset.isna().sum()

대여시간
대여소명      0
대여소번호     0
평일 00시    0
평일 01시    0
평일 02시    0
평일 03시    0
평일 04시    0
평일 05시    0
평일 06시    0
평일 07시    0
평일 08시    0
평일 09시    0
평일 10시    0
평일 11시    0
평일 12시    0
평일 13시    0
평일 14시    0
평일 15시    0
평일 16시    0
평일 17시    0
평일 18시    0
평일 19시    0
평일 20시    0
평일 21시    0
평일 22시    0
평일 23시    0
주말 00시    0
주말 01시    0
주말 02시    0
주말 03시    0
주말 04시    0
주말 05시    0
주말 06시    0
주말 07시    0
주말 08시    0
주말 09시    0
주말 10시    0
주말 11시    0
주말 12시    0
주말 13시    0
주말 14시    0
주말 15시    0
주말 16시    0
주말 17시    0
주말 18시    0
주말 19시    0
주말 20시    0
주말 21시    0
주말 22시    0
주말 23시    0
dtype: int64

In [94]:
Wholeweek_trainset[Wholeweek_trainset['대여소번호'].isna()]

Empty DataFrame
Columns: [대여소명, 대여소번호, 평일 00시, 평일 01시, 평일 02시, 평일 03시, 평일 04시, 평일 05시, 평일 06시, 평일 07시, 평일 08시, 평일 09시, 평일 10시, 평일 11시, 평일 12시, 평일 13시, 평일 14시, 평일 15시, 평일 16시, 평일 17시, 평일 18시, 평일 19시, 평일 20시, 평일 21시, 평일 22시, 평일 23시, 주말 00시, 주말 01시, 주말 02시, 주말 03시, 주말 04시, 주말 05시, 주말 06시, 주말 07시, 주말 08시, 주말 09시, 주말 10시, 주말 11시, 주말 12시, 주말 13시, 주말 14시, 주말 15시, 주말 16시, 주말 17시, 주말 18시, 주말 19시, 주말 20시, 주말 21시, 주말 22시, 주말 23시]
Index: []

In [95]:
Wholeweek_trainset[Wholeweek_trainset['대여소번호']=='2525']

대여시간 대여소명 대여소번호  평일 00시  평일 01시  평일 02시  평일 03시  평일 04시  평일 05시  평일 06시  평일 07시  평일 08시  평일 09시  평일 10시  평일 11시  평일 12시  평일 13시  평일 14시  평일 15시  평일 16시  평일 17시  평일 18시  평일 19시  평일 20시  평일 21시  평일 22시  평일 23시  주말 00시  주말 01시  주말 02시  주말 03시  주말 04시  주말 05시  주말 06시  주말 07시  주말 08시  주말 09시  주말 10시  주말 11시  주말 12시  주말 13시  주말 14시  주말 15시  주말 16시  주말 17시  주말 18시  주말 19시  주말 20시  주말 21시  주말 22시  주말 23시
2080    0  2525   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   1.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   1.000   1.000   1.000   0.000   0.000   2.000   0.000   0.000

In [96]:
Weekday_trainset[Weekday_trainset['대여소번호']=='2525']

Empty DataFrame
Columns: [대여소명, 대여소번호, 평일 00시, 평일 01시, 평일 02시, 평일 03시, 평일 04시, 평일 05시, 평일 06시, 평일 07시, 평일 08시, 평일 09시, 평일 10시, 평일 11시, 평일 12시, 평일 13시, 평일 14시, 평일 15시, 평일 16시, 평일 17시, 평일 18시, 평일 19시, 평일 20시, 평일 21시, 평일 22시, 평일 23시]
Index: []

In [97]:
Wholeweek_trainset[Wholeweek_trainset['대여소번호']=='2525']

대여시간 대여소명 대여소번호  평일 00시  평일 01시  평일 02시  평일 03시  평일 04시  평일 05시  평일 06시  평일 07시  평일 08시  평일 09시  평일 10시  평일 11시  평일 12시  평일 13시  평일 14시  평일 15시  평일 16시  평일 17시  평일 18시  평일 19시  평일 20시  평일 21시  평일 22시  평일 23시  주말 00시  주말 01시  주말 02시  주말 03시  주말 04시  주말 05시  주말 06시  주말 07시  주말 08시  주말 09시  주말 10시  주말 11시  주말 12시  주말 13시  주말 14시  주말 15시  주말 16시  주말 17시  주말 18시  주말 19시  주말 20시  주말 21시  주말 22시  주말 23시
2080    0  2525   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   1.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   0.000   1.000   1.000   1.000   0.000   0.000   2.000   0.000   0.000

In [98]:
Wholeweek_trainset.fillna(0, inplace = True)

In [99]:
Wholeweek_trainset.to_csv('Wholeweek_trainset.csv', index = False, encoding = 'utf-8')

### 최신 거치대 위치 정보와 병합

In [100]:
Bike_location = pd.read_csv(os.getcwd() + '\\New data\\bike_location_final.csv', encoding = 'utf-8') # 최신 거치대 위치 정보

In [101]:
Bike_location['대여소명'] = Bike_location['대여소이름'].apply(lambda x: x.split('.')[1:][0])
Bike_location['대여소번호'] = Bike_location['대여소이름'].apply(lambda x: x.split('.')[0])

In [102]:
Bike_location

                          대여소이름     위도      경도                    주소  자치구                  대여소명 대여소번호
0     1001. 광진교 남단 사거리(디지털프라자앞) 37.542 127.125     서울특별시 강동구 천호동 355  강동구   광진교 남단 사거리(디지털프라자앞)  1001
1               1002. 해공공원(천호동) 37.545 127.126     서울특별시 강동구 천호동 360  강동구             해공공원(천호동)  1002
2                  1003. 해공도서관앞 37.544 127.125     서울특별시 강동구 천호동 360  강동구                해공도서관앞  1003
3          1004. 삼성광나루아파트 버스정류장 37.553 127.129   서울특별시 강동구 암사동 463-2  강동구        삼성광나루아파트 버스정류장  1004
4              1006. 롯데캐슬 115동앞 37.555 127.143   서울특별시 강동구 암사동 414-2  강동구            롯데캐슬 115동앞  1006
...                         ...    ...     ...                   ...  ...                   ...   ...
2038              992.북한산입구 정류장 37.658 126.946     서울특별시 은평구 진관동 289  은평구             북한산입구 정류장   992
2039          993.은평뉴타운 온뜨락아파트앞 37.630 126.920  서울특별시 은평구 진관동 234-34  은평구         은평뉴타운 온뜨락아파트앞   993
2040         994.북한산생태공원입구(교통섬) 37.611 126.939     서울특별시 은평구 불광동 2-1  은평구        북한산생태공원입구(교통섬)   994
2041               995.은평다목적체육관 37.631 126.925     서울특별시 은평구 진관동 125  은평구              은평다목적체육관   995
2042               996.응암역 1번출구 37.599 126.915    서울특별시 은평구 신사동 23-3  은평구              응암역 1번출구   996

[2043 rows x 7 columns]

In [103]:
Bike_location.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2043 entries, 0 to 2042
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   대여소이름   2043 non-null   object
 1   위도      2043 non-null   float64
 2   경도      2043 non-null   float64
 3   주소      2043 non-null   object
 4   자치구     2043 non-null   object
 5   대여소명    2043 non-null   object
 6   대여소번호   2043 non-null   object
dtypes: float64(2), object(5)
memory usage: 111.9+ KB

In [ ]:
len((set(Bike_location['대여소번호'].unique().tolist())))

In [ ]:
len(set(Bike_location.대여소번호))

In [ ]:
len(set(str(Bike_location['대여소명'].values))-set(str(Weekday_trainset['대여소명'].values)))

#### 평일

Hour_bike_usage_weekday

len((set(Bike_location['대여소번호'].unique().tolist()))- set(list(Weekday_trainset['대여소번호'].unique().tolist())))

# 6월 이후 새로 생긴 노드의 갯수
len((set(Bike_location['대여소번호'].unique().tolist()))- set(list(Weekday_trainset['대여소번호'].unique().tolist())))

set(Bike_location['대여소번호'].unique().tolist()) - set(list(Weekday_trainset['대여소번호'].unique().tolist()))

Bike_location.info()

Hour_bike_usage_weekday.info()

### 새로 추가된 대여소로 추정
Weekday_trainset[Weekday_trainset['대여소번호'] == '2550']

Weekday_trainset = Weekday_trainset.drop('대여소명', axis = 1)

Hour_bike_usage_weekday_location = pd.merge(Bike_location, Weekday_trainset, how = 'left',on = '대여소번호')

Hour_bike_usage_weekday_location.isna().sum()

Hour_bike_usage_weekday_location[Hour_bike_usage_weekday_location['이용건수'].isna()].index

Hour_bike_usage_weekday_location_nan = Hour_bike_usage_weekday_location[Hour_bike_usage_weekday_location['이용건수'].isna()]
Hour_bike_usage_weekday_location.drop(Hour_bike_usage_weekday_location[Hour_bike_usage_weekday_location['이용건수'].isna()].index)

Hour_bike_usage_weekday_location_nan

Hour_bike_usage_weekday_location = Hour_bike_usage_weekday_location.drop(Hour_bike_usage_weekday_location[Hour_bike_usage_weekday_location['이용건수'].isna()].index)

#### 주말

Hour_bike_usage_weekend.info()

# Hour_bike_usage_weekend['대여소번호'] = Hour_bike_usage_weekend['대여소번호'].astype('str')

# 6월 이후 새로 생긴 노드들
len((set(Bike_location['대여소번호'].unique().tolist()))- set(Hour_bike_usage_weekend['대여소번호'].unique().tolist()))

set(Bike_location['대여소번호'].unique().tolist())- set(list(Hour_bike_usage_weekend['대여소번호'].unique().tolist()))

# 평일 주말 다 합해서 새로 생긴 노드들
len(set(Bike_location['대여소번호'].unique().tolist()) - (set(Hour_bike_usage_weekend['대여소번호'].unique()) | set(Hour_bike_usage_weekday['대여소번호'].unique())))

len(set(Hour_bike_usage_weekend['대여소번호'].unique()) | set(Hour_bike_usage_weekday['대여소번호'].unique()))

Bike_location[Bike_location['대여소번호'] == '1070']

len(set(Hour_bike_usage_weekday['대여소번호'].unique().tolist()))

len(set(Hour_bike_usage_weekend['대여소번호'].unique().tolist()))

Bike_location.info()

Hour_bike_usage_weekend.info()

### 새로 추가된 대여소로 추정
Hour_bike_usage_weekend[Hour_bike_usage_weekend['대여소번호'] == '2550']

Hour_bike_usage_weekend = Hour_bike_usage_weekend.drop('대여소명', axis = 1)

Hour_bike_usage_weekend_location = pd.merge(Bike_location, Hour_bike_usage_weekend, how = 'left',on = '대여소번호')

Hour_bike_usage_weekend_location.isna().sum()

Hour_bike_usage_weekend_location[Hour_bike_usage_weekend_location['이용건수'].isna()].index

Hour_bike_usage_weekend_location_nan = Hour_bike_usage_weekend_location[Hour_bike_usage_weekend_location['이용건수'].isna()]
Hour_bike_usage_weekend_location.drop(Hour_bike_usage_weekend_location[Hour_bike_usage_weekend_location['이용건수'].isna()].index)

Hour_bike_usage_weekend_location_nan

Hour_bike_usage_weekend_location = Hour_bike_usage_weekend_location.drop(Hour_bike_usage_weekend_location[Hour_bike_usage_weekend_location['이용건수'].isna()].index)

Hour_bike_usage_weekday

#### 주말평일 비교

In [106]:
len(set(Bike_location['대여소번호']) - set(Wholeweek_trainset['대여소번호']))

41

In [107]:
len(set(Wholeweek_trainset['대여소번호'])- set(Bike_location['대여소번호']) )

74

In [138]:
len(set(Wholeweek_trainset['대여소번호']))

2076

In [134]:
set(Wholeweek_trainset['대여소번호']) & set(Bike_location['대여소번호'])

{'943',
 '3581',
 '2137',
 '1339',
 '2107',
 '666',
 '1382',
 '1368',
 '2084',
 '232',
 '1966',
 '542',
 '345',
 '606',
 '440',
 '385',
 '3561',
 '968',
 '118',
 '2903',
 '1413',
 '2371',
 '1337',
 '1996',
 '103',
 '2203',
 '1011',
 '373',
 '508',
 '1198',
 '771',
 '1702',
 '2721',
 '719',
 '2032',
 '1956',
 '1351',
 '825',
 '3529',
 '609',
 '2263',
 '584',
 '1859',
 '964',
 '860',
 '1182',
 '1048',
 '272',
 '959',
 '1008',
 '275',
 '2083',
 '1682',
 '1714',
 '812',
 '2251',
 '2305',
 '1053',
 '175',
 '1733',
 '2171',
 '2196',
 '2335',
 '245',
 '1913',
 '1986',
 '169',
 '2648',
 '145',
 '3008',
 '2219',
 '795',
 '1448',
 '1075',
 '858',
 '150',
 '3571',
 '763',
 '1464',
 '268',
 '2243',
 '1761',
 '274',
 '1720',
 '916',
 '1120',
 '995',
 '2535',
 '2065',
 '428',
 '2419',
 '1707',
 '2348',
 '2629',
 '1113',
 '1450',
 '1260',
 '1506',
 '159',
 '3410',
 '971',
 '1646',
 '1652',
 '2340',
 '481',
 '3206',
 '479',
 '3582',
 '2658',
 '2316',
 '2245',
 '716',
 '2385',
 '1199',
 '1102',
 '289',
 '3115',
 '387',
 '1680',
 '673',
 '391',
 '2269',
 '2227',
 '237',
 '2701',
 '708',
 '1656',
 '1952',
 '2711',
 '1377',
 '2000',
 '2639',
 '1302',
 '421',
 '3112',
 '1404',
 '2070',
 '2548',
 '1361',
 '1565',
 '2809',
 '163',
 '1271',
 '2704',
 '2130',
 '565',
 '2739',
 '1528',
 '2215',
 '424',
 '1352',
 '234',
 '581',
 '422',
 '867',
 '1065',
 '2103',
 '1158',
 '1169',
 '3405',
 '2908',
 '458',
 '1316',
 '2061',
 '2613',
 '369',
 '446',
 '454',
 '3121',
 '934',
 '1721',
 '2717',
 '1518',
 '3418',
 '579',
 '922',
 '3543',
 '1472',
 '2285',
 '1362',
 '3500',
 '750',
 '2408',
 '258',
 '840',
 '1671',
 '2741',
 '2119',
 '805',
 '262',
 '2382',
 '3428',
 '3421',
 '908',
 '633',
 '1653',
 '1548',
 '1259',
 '511',
 '1862',
 '1268',
 '921',
 '1463',
 '222',
 '853',
 '105',
 '267',
 '647',
 '776',
 '1715',
 '2619',
 '2611',
 '389',
 '953',
 '3558',
 '441',
 '839',
 '2294',
 '2332',
 '3116',
 '714',
 '678',
 '1526',
 '2707',
 '1405',
 '471',
 '2002',
 '3128',
 '1079',
 '536',
 '2501',
 '469',
 '656',
 '711',
 '2090',
 '2093',
 '1610',
 '1449',
 '1408',
 '331',
 '785',
 '290',
 '1211',
 '435',
 '2388',
 '1955',
 '2352',
 '919',
 '2257',
 '522',
 '975',
 '3307',
 '759',
 '2708',
 '932',
 '1229',
 '737',
 '1771',
 '2616',
 '1428',
 '1514',
 '3531',
 '1394',
 '2287',
 '1076',
 '1325',
 '2303',
 '205',
 '1541',
 '2198',
 '1667',
 '1021',
 '1122',
 '1282',
 '2820',
 '1451',
 '3517',
 '791',
 '2016',
 '1002',
 '2901',
 '291',
 '1049',
 '2252',
 '829',
 '215',
 '2825',
 '1992',
 '2614',
 '2642',
 '769',
 '767',
 '314',
 '3002',
 '1804',
 '390',
 '806',
 '495',
 '1051',
 '729',
 '905',
 '2911',
 '2115',
 '977',
 '1165',
 '487',
 '1263',
 '1620',
 '2325',
 '342',
 '533',
 '851',
 '206',
 '1729',
 '1457',
 '1061',
 '575',
 '793',
 '1440',
 '2412',
 '1034',
 '2226',
 '1843',
 '2702',
 '3506',
 '112',
 '1297',
 '1108',
 '171',
 '2288',
 '203',
 '380',
 '2511',
 '3432',
 '468',
 '820',
 '2732',
 '1533',
 '111',
 '1401',
 '1937',
 '284',
 '1821',
 '301',
 '642',
 '1661',
 '1689',
 '109',
 '1602',
 '3521',
 '2365',
 '2334',
 '548',
 '2514',
 '2652',
 '497',
 '1183',
 '2912',
 '3425',
 '2391',
 '1007',
 '514',
 '1130',
 '2139',
 '2233',
 '583',
 '830',
 '214',
 '374',
 '401',
 '236',
 '1024',
 '557',
 '1162',
 '1078',
 '2080',
 '2020',
 '529',
 '2169',
 '1288',
 '414',
 '300',
 '416',
 '1569',
 '1340',
 '1738',
 '2654',
 '979',
 '2128',
 '1665',
 '600',
 '1625',
 '2066',
 '2286',
 '1274',
 '561',
 '1178',
 '2801',
 '993',
 '1686',
 '1930',
 '2359',
 '2302',
 '869',
 '372',
 '577',
 '1291',
 '1206',
 '3134',
 '498',
 '450',
 '745',
 '2086',
 '1170',
 '142',
 '2277',
 '2361',
 '740',
 '841',
 '3114',
 '639',
 '909',
 '316',
 '1681',
 '1050',
 '382',
 '201',
 '674',
 '3514',
 '1422',
 '567',
 '327',
 '395',
 '917',
 '800',
 '2301',
 '991',
 '1403',
 '2036',
 '1037',
 '576',
 '558',
 '2183',
 '3586',
 '2625',
 '257',
 '1836',
 '2742',
 '847',
 '807',
 '3533',
 '1348',
 '602',
 '1343',
 '259',
 '2603',
 '2532',
 '1479',
 '846',
 '1854',
 '1390',
 '2396',
 '1358',
 '154',
 '549',
 '961',
 '2812',
 '1861',
 '213',
 '624',
 '1388',
 '1994',
 '2249',
 '501',
 '1166',
 '1030',
 '1195',
 '1537',
 '1027',
 '1332',
 '2354',
 '2740',
 '2104',
 '816',
 '2206',
 '158',
 '397',
 '433',
 '1185',
 '1693',
 '229',
 '2406',
 '207',
 '560',
 '1012',
 '634',
 '2211',
 '1073',
 '3102',
 '2307',
 '1716',
 '2247',
 '1606',
 '709',
 '2237',
 '502',
 '210',
 '264',
 '3578',
 '1239',
 '1290',
 '512',
 '903',
 '3126',
 '1023',
 '939',
 '1346',
 '1180',
 '298',
 '3535',
 '247',
 '3003',
 '1914',
 '464',
 '2185',
 '1520',
 '1515',
 '1062',
 '591',
 '832',
 '553',
 '3579',
 '119',
 '1347',
 '1951',
 '1262',
 '1968',
 '958',
 '2907',
 '2170',
 '202',
 '552',
 '768',
 '3559',
 '1826',
 '3220',
 '3430',
 '127',
 '1187',
 '779',
 '1200',
 '1758',
 '1201',
 '1842',
 '3553',
 '467',
 '2241',
 '3527',
 '1056',
 '1139',
 '1454',
 '2174',
 '1009',
 '2319',
 '733',
 '2299',
 '1101',
 '601',
 '1354',
 '1650',
 '1193',
 '1074',
 '361',
 '3119',
 '1287',
 '1637',
 '571',
 '1864',
 '263',
 '1845',
 '2207',
 '2917',
 '120',
 '2368',
 '1462',
 '1697',
 '2621',
 '849',
 '1152',
 '1125',
 '1675',
 '2195',
 '104',
 '2403',
 '343',
 '176',
 '3107',
 '1029',
 '1381',
 '2239',
 '2822',
 '1057',
 '972',
 '1160',
 '1006',
 '1022',
 '3560',
 '516',
 '2309',
 '185',
 '256',
 '2606',
 '115',
 '1975',
 '1308',
 '1085',
 '2530',
 '2373',
 '1628',
 '1535',
 '182',
 '311',
 '1395',
 '2604',
 '1327',
 '3113',
 '2818',
 '3518',
 '1084',
 '1191',
 '2322',
 '2407',
 '2538',
 '747',
 '1127',
 '2081',
 '3542',
 '2921',
 '1834',
 '1960',
 '2024',
 '947',
 '500',
 '3124',
 '2145',
 '3548',
 '1743',
 '2409',
 '1985',
 '296',
 '192',
 '589',
 '1530',
 '741',
 '1088',
 '2343',
 '1756',
 '1168',
 '2815',
 '2910',
 '194',
 '1998',
 '1558',
 '2813',
 '2057',
 '2601',
 '1363',
 '2201',
 '845',
 '1205',
 '1827',
 '322',
 '457',
 '1172',
 '1557',
 '1849',
 '1424',
 '568',
 '594',
 '1184',
 '794',
 '2722',
 '843',
 '260',
 '1004',
 '1547',
 '2387',
 '3537',
 '1038',
 '408',
 '2223',
 '1300',
 '472',
 '1111',
 '2167',
 '2807',
 '960',
 '650',
 '1999',
 '1106',
 '1870',
 '1196',
 '604',
 '3402',
 '631',
 '1016',
 '3525',
 '3566',
 '2113',
 '2518',
 '278',
 '211',
 '2810',
 '1443',
 '1465',
 '923',
 '2655',
 '304',
 '2607',
 '762',
 '2109',
 '3117',
 '713',
 '3509',
 '335',
 '681',
 '126',
 '1551',
 '320',
 '2526',
 '854',
 '1245',
 '1418',
 '2545',
 '161',
 '1752',
 '220',
 '2012',
 '2313',
 '605',
 '563',
 '133',
 '2096',
 '626',
 '1410',
 '2710',
 '1857',
 '1820',
 '2279',
 '400',
 '1293',
 '863',
 '1360',
 '3524',
 '1393',
 '3551',
 '1407',
 '371',
 '334',
 '2823',
 '1277',
 '1480',
 '3550',
 '2314',
 '466',
 '712',
 '525',
 '722',
 '1257',
 '1536',
 '1961',
 '183',
 '1458',
 '2626',
 '1429',
 '669',
 '615',
 '913',
 '338',
 '2645',
 '537',
 '1852',
 '973',
 '2817',
 '153',
 '1651',
 '2071',
 '1304',
 '1333',
 '1532',
 '3419',
 '1186',
 '1131',
 '1032',
 '1662',
 '2222',
 '3111',
 '328',
 '482',
 '2033',
 '1641',
 '2144',
 '2129',
 '724',
 '1167',
 '1513',
 '2058',
 '2649',
 '266',
 '341',
 '340',
 '907',
 '434',
 '2172',
 '2184',
 '1025',
 '254',
 '706',
 '1700',
 '978',
 '1267',
 '2274',
 '3504',
 '2283',
 '3505',
 '2383',
 '2713',
 '2112',
 '177',
 '811',
 '1708',
 '1244',
 '1256',
 '765',
 '2427',
 '1077',
 '1109',
 '623',
 '731',
 '1512',
 '444',
 '2534',
 '2727',
 '1344',
 '668',
 '1984',
 '574',
 '1126',
 '1730',
 '336',
 '1442',
 '749',
 '773',
 '1542',
 '2635',
 '1988',
 '3219',
 '2808',
 '2919',
 '344',
 '403',
 '3534',
 '3538',
 '559',
 '1218',
 '302',
 '1250',
 '1806',
 '1461',
 '2362',
 '1137',
 '519',
 '1736',
 '2092',
 '1210',
 '3544',
 '196',
 '143',
 '3549',
 '1941',
 '2320',
 '299',
 '225',
 '1391',
 '701',
 '1468',
 '985',
 '2337',
 '2009',
 '2199',
 '1511',
 '2653',
 '2647',
 '2523',
 '994',
 '2165',
 '1722',
 '456',
 '720',
 '1540',
 '310',
 '181',
 '638',
 '844',
 '578',
 '308',
 '2510',
 '963',
 '2643',
 '1323',
 '734',
 '2040',
 '1372',
 '670',
 '173',
 '1204',
 '2804',
 '1264',
 '3406',
 '1669',
 '640',
 '347',
 '355',
 '746',
 '2062',
 '743',
 '1227',
 '1060',
 '1342',
 '802',
 '1149',
 '1666',
 '3564',
 '675',
 '130',
 '592',
 '3131',
 '3404',
 '157',
 '1564',
 '3588',
 '1446',
 '664',
 '1430',
 '2422',
 '755',
 '1392',
 '1858',
 '2605',
 '509',
 '1314',
 '2617',
 '855',
 '2380',
 '228',
 '117',
 '1933',
 '2731',
 '2363',
 '506',
 '2816',
 '3423',
 '188',
 '1643',
 '1863',
 '2706',
 '2508',
 '3511',
 '3545',
 '3429',
 '834',
 '703',
 '1538',
 '2909',
 '1967',
 '2521',
 '1039',
 '2015',
 '3541',
 '1529',
 '2255',
 '1964',
 '1501',
 '2095',
 '628',
 '725',
 '1365',
 '1118',
 '2122',
 '2228',
 '2085',
 '2404',
 '1910',
 '585',
 '949',
 '2306',
 '411',
 '1420',
 '226',
 '358',
 ...}

In [140]:
Wholeweek_trainset_location = pd.merge(Wholeweek_trainset, Bike_location, on = '대여소번호', how = 'inner')

In [149]:
Wholeweek_trainset_location.columns

Index(['대여소명', '대여소번호', '평일 00시', '평일 01시', '평일 02시', '평일 03시', '평일 04시', '평일 05시', '평일 06시', '평일 07시', '평일 08시', '평일 09시', '평일 10시', '평일 11시', '평일 12시', '평일 13시', '평일 14시', '평일 15시', '평일 16시', '평일 17시', '평일 18시', '평일 19시', '평일 20시', '평일 21시', '평일 22시', '평일 23시', '주말 00시', '주말 01시', '주말 02시', '주말 03시', '주말 04시', '주말 05시', '주말 06시', '주말 07시', '주말 08시', '주말 09시', '주말 10시', '주말 11시', '주말 12시', '주말 13시', '주말 14시', '주말 15시', '주말 16시', '주말 17시', '주말 18시', '주말 19시', '주말 20시', '주말 21시', '주말 22시', '주말 23시', '대여소이름', '위도', '경도', '주소', '자치구'], dtype='object')

In [ ]:
Wholeweek_trainset_location.drop('대여소명_y', axis =1 , inplace = True)

In [148]:
# Wholeweek_trainset_location.rename(columns={'대여소명_x':'대여소명'}, inplace= True)

# Wholeweek_trainset_location.to_csv('Wholeweek_trainset_location.csv', index = False, encoding = 'utf-8')

# pd.read_csv('Wholeweek_trainset_location.csv')

## 유동인구

## 날씨